@import '../../styles/imports.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.m {
    padding: 3.13rem 2.2rem;

    @include tablet {
      padding: 3% 5%;
    }
    @include mobile {
      padding: 3% 5%;
    }
  }
  &.s {
    background-color: $purple-600;
    padding: 0.7rem 2.2rem;

    @include tablet {
      padding: 1.5% 2.5%;
    }
    @include mobile {
      padding: 1.5% 2.5%;
    }
  }
}

.singInButton {
  color: $white;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: $orange-500;
  }
}

.avatar {
  height: 2.18rem;
  width: 2.18rem;
  border-radius: 100%;
  border: 3px solid $orange-500;
  background-image: url('/assets/images/avatar-default-medium.png');
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 415px) {
    display: none;
  }
}

.leftBlock {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.5rem;
  width: 15rem;
}

.taskButton {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  background-image: url('/assets/images/arrows/arrow-down-grey.png');
  width: 0.69rem;
  height: 0.44rem;
  margin-left: 0.3rem;
}

.label {
  width: 6rem;
  margin-left: 0.5rem;
  color: $white;
}

.rightBlock {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;

  @include mobile {
    gap: 0.3rem;
    height: 2rem;
  }
}

.logo {
  width: 11.2rem;
  height: 2.44rem;
  background-image: url('../../public/assets/images/logo-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.3rem;
  left: 4rem;
  cursor: pointer;

  @include mobile {
    width: 6rem;
    height: 1.5rem;
    left: 3rem;
    top: 0.6rem;
  }
}

.button {
  border: 2px solid $purple-200;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  position: relative;
  background-image: url('/assets/images/3-lines.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;

  &:hover {
    border: 2px solid $white;
  }

  @include mobile {
    width: 2rem;
    height: 2rem;
    background-size: 1rem;
  }
}
