@import '../../styles/imports.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3.13rem 2.2rem;

  @include mobile() {
    padding: 2rem 1rem;
  }
}


.singInButton {
  color: $white;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: $orange-200;
  }

  @include mobile() {
    font-weight: 500;
    font-size: 0.7rem;
  }
}

.avatar {
  height: 2.18rem;
  width: 2.18rem;
  border-radius: 100%;
  border: 3px solid $orange-200;
  background-image: url("/assets/images/avatar-default-medium.png");
  background-position: center;
  background-repeat: no-repeat;

  @include mobile() {
    display: none;
  }
}

.leftBlock {
  display: flex;
  gap: 1.36rem;
  align-items: center;
  position: relative;
  height: 2.5rem;

  @include mobile() {
    gap: 0.8rem;
  }
}

.rightBlock {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;

  @include mobile() {
    gap: 0.3rem;
    height: 2rem;
  }
}

.logo {
  width: 11.2rem;
  height: 2.44rem;
  background-image: url('../../public/assets/images/logo-light.svg');
  background-repeat: no-repeat;
  background-position: center bottom -2px;
  background-size: contain;

  @include mobile() {
    width: 6rem;
    height: 1.8rem;
  }
}

.button {
  border: 2px solid $purple-200;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  position: relative;
  background-image: url('/assets/images/3-lines.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;

  &:hover {
    border: 2px solid $white;
  }
}