@import '../../styles/imports.scss';

.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container {
  padding: 3.13rem 2.2rem 2.2rem 2.2rem;
  background-color: $white-100;
  box-shadow: 0px 8px 16px 0px $black-t;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: 25rem;
  position: absolute;
  flex-direction: column;

  @include mobile {
    width: 100%;
    border-radius: 0;
    padding: 2rem 2.2rem 2.2rem 1.2rem;
  }
}

.button {
  border: 2px solid $black;
  width: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: $black;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;

  &:hover {
    border: 2px solid $black-t;
  }

  &::after {
    content: '✕';
    position: absolute;
    top: 11%;
    left: 25%;

    @include mobile {
      top: 13%;
      left: 27%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu {
  display: flex;
  font-family: 'Helvetica Neue';
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  section {
    width: 45%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
}

.link {
  height: 3rem;
  display: flex;
  padding-top: 0.5rem;
  align-items: center;
}

.footer {
  display: flex;
  width: 20rem;
  flex-direction: column;

  .title {
    color: $grey-100;
    text-align: center;
  }
}

.mobileMarkets {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.market {
  width: 7.75rem;
  height: 2.75rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
  position: relative;

  &.google {
    background-image: url('/assets/images/google_play.png');
  }

  &.apple {
    background-image: url('/assets/images/apple-store.png');
  }
}
