@import '../../styles/imports.scss';


.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line {
  width: 3rem;
  border-top: solid 2px $grey-100;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  backdrop-filter: blur(5px);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 26.7rem;
  height: 36rem;
  border-radius: 1.25rem;
  background-color: $white;
  position: relative;
  z-index: 1003;
  align-items: center;
}

.close {
  margin-left: auto;
  width: 1.94rem;
  height: 1.94rem;
  font-size: 1.4rem;
  margin-right: 0.4rem;
  color: $grey-100;

  &::after {
    content: '✕';
  }
}

.modalHeader {
  display: flex;
  height: 2.5rem;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid $white-200;
  align-items: flex-end;
}

.headerButton {
  cursor: pointer;
  max-width: 9rem;
  height: 1.7rem;
  margin-left: 20%;
  font-weight: 600;
  text-align: center;
  font-size: 0.9rem;

  &.active {
    border-bottom: 1px solid $purple-500;
  }
}