@import './styles/imports';

.avatar {
  height: 2.18rem;
  width: 2.18rem;
  border-radius: 100%;
  border: 3px solid $orange-500;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image{
  width: 2rem;
  height: auto;
}