@import '@styles/imports';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  margin-left: 1.875rem;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  button {
    width: 1.875rem;
    height: 1.875rem;
    display: inline-block;
    border-radius: 100%;
    border: 0.125rem solid $white-200;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: $white;

    &:hover {
      border-color: $grey-800;
    }
  }
}

.statistics {
  background-image: url('/themes/images/v2/course-chart.png');
}

.reset {
  background-image: url('/themes/images/v2/course-restart.png');
}

.info {
  background-image: url('/themes/images/v2/course-info.png');
}
