@import '../../styles/imports.scss';

.button {
  width: 100%;
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: 700;
  padding: 17.5px 30px 17.5px 60px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: $white;
  white-space: nowrap;
  background-color: $orange-500;
  margin-bottom: 50px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 1px 1px $grey-300;
  background-position: top 19px left 21px;
  background-image: url(/assets/images/dark-plus.png);
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

  &:lang(ka) {
    font-family: $kaFont;
    font-weight: bold;
  }
  &:hover {
    background-color: $orange-450;
  }
}
