@import '../../styles/imports.scss';

.add_btn {
  padding: 17.5px 30px 17.5px 60px;
  text-transform: initial;
  color: #fff;
  white-space: nowrap;
  background-color: #f39c12;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 1px 1px #bdbdbd;
  text-transform: uppercase;
  background-position: top 19px left 21px;
  background-image: url(/assets/images/dark-plus.png);
  background-repeat: no-repeat;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: bold;
  }
}

.add_language_btn:hover {
  background-color: #feb614;
}
