@import '../../styles/imports.scss';

.container {
  width: 100px;
  height: 100%;
  overflow: hidden;
  border-radius: 0 12px 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  @include tablet {
    width: 80px;
  }
  @include mobile {
    width: 80px;
  }
}

.circle_transparent {
  width: 125px;
  height: 128px;
  margin-top: -9px;
  margin-right: -29px;
  border-radius: 50%;
  background: $yellow-100;
}

.circle {
  width: 119px;
  height: 119px;
  margin: 4px -5px 0 0;
  border-radius: 50%;
  float: right;
  background-color: $yellow-200;
}

.icon_airplane {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 15px;
  background-image: url(/themes/images/v2/standart-level-icon1.png);
  margin-left: 10px;
  @include tablet {
    height: 70px;
    width: 70px;
  }
  @include mobile {
    height: 70px;
    width: 70px;
  }
}
