@import '../../styles/imports.scss';

.flag_icon_small,
.flag_icon_big {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 1px 0 3px rgba($black, 0.15);
  border: 2px solid $white;
}

.flag_icon_small {
  width: 36px;
  height: 36px;
  @include tablet {
    width: 48px;
    height: 48px;
  }
}

.flag_icon_big {
  width: 68px;
  height: 67px;
}
