@import '../../styles/imports.scss';

.button {
  width: 100%;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0 1px 1px $white-300;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  border: none;
  h3 {
    line-height: 56px;
    font-size: 17px;
    color: $grey-800;
    &:lang(ka) {
      font-family: $kaFont;
      font-weight: normal;
    }
    @include tablet {
      font-size: 20px;
    }
  }
}

.button_active_mobile {
  @include tablet {
    margin-bottom: 0;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @include mobile {
    margin-bottom: 0;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.button_active::before {
  content: ' ';
  display: block;
  top: 13px;
  height: 31px;
  width: 11px;
  right: -11px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/arrows/arrow-right-white.png);
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.course_and_icon {
  display: flex;
  align-items: center;
  gap: 15px;
  @include tablet {
    gap: 32px;
  }
  @include mobile {
    gap: 30px;
  }
}

.progress_and_dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.progress {
  font-size: 24px;
  line-height: 55px;
  color: $grey-300;
  margin-right: 10px;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: normal;
  }
}

.percent {
  font-family: SegoeUI-SemiBold;
  font-size: 21px;
  position: relative;
  left: 2px;
  top: -1px;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: normal;
  }
}

.dropdown {
  display: none;
  background-image: url('/themes/images/v2/arrrow-right-purple.png');
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transform: rotate(0deg);
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.button_active_mobile .dropdown {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.drop_course {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
