@import '../../styles/imports.scss';

.container {
  width: 100%;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 5px 35px 5px 10px;
  box-shadow: 0 1px 1px $white-300;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  border: none;
  h3 {
    line-height: 56px;
    font-size: 17px;
    color: $grey-800;
    &:lang(ka) {
      font-family: $kaFont;
      font-weight: normal;
    }
    @include tablet {
      font-size: 20px;
    }
  }
}

.active_both_screens {
  @include tablet {
    margin-bottom: 0;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @include mobile {
    margin-bottom: 0;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.overlay_mobile {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.overlay_desktop {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.container_active .overlay_desktop,
.active_both_screens .overlay_desktop {
  &::before {
    content: ' ';
    display: block;
    top: 13px;
    height: 31px;
    width: 11px;
    right: -11px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/images/arrows/arrow-right-white.png);
  }
}

.course_and_icon {
  display: flex;
  align-items: center;
  gap: 15px;
  @include tablet {
    gap: 32px;
  }
  @include mobile {
    gap: 30px;
  }
}

.progress {
  font-size: 24px;
  line-height: 55px;
  color: $grey-300;
  margin-right: 10px;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: normal;
  }
}

.percent {
  font-family: SegoeUI-SemiBold;
  font-size: 21px;
  position: relative;
  left: 2px;
  top: -1px;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: normal;
  }
}

.dropdown {
  background-image: url('/themes/images/v2/arrrow-right-purple.png');
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transform: rotate(0deg);
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  z-index: 3;
}

.active_both_screens .overlay_mobile .dropdown {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

.drop_course {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
