@import '../../styles/imports.scss';

.container {
  height: 105px;
  padding: 0px 15px;
  background-color: $white-50;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.title_and_icon {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-left: 13px;
}

.title {
  line-height: 75px;
  font-family: SegoeUI;
  font-size: 24px;
  color: $grey-800;
  &:lang(ka) {
    font-family: $kaFont;
    font-weight: normal;
  }
  span:nth-child(2) {
    margin-left: 10px;
  }
}
