@import '../../styles/imports.scss';

.wrapper {
  padding: 14px 35px 14px 15px;
  border: 0;
  border-top: 1px solid #e6e6e6;
  box-shadow: inset 0 1px 0 #f2f2f2;
  margin-bottom: -1px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 83px;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.tablet_mobile .wrapper {
  padding-left: 35px;
  padding-bottom: 20px;
  gap: 0;
  box-shadow: none;
  @include mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include smallWidth {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 120px;
    gap: 15px;
  }
}

.wrapper:last-child {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.left_line_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.tablet_mobile .left_line_box {
  justify-content: space-between;
  min-width: 180px;
  gap: 0;
  @include mobile {
    max-height: 30px;
    min-width: 150px;
  }
}

.right_line_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablet_mobile .right_line_box {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: auto;
  @include smallWidth {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.left_side {
  display: flex;
  align-items: center;
  gap: 12px;
}

.percent_progress {
  line-height: 55px;
  text-align: center;
  color: #f39c12;
  font-size: 24px;
  font-family: SegoeUI;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tablet_mobile .percent_progress {
  width: auto;
  font-size: 17px;
}

.percent {
  font-family: SegoeUI;
  position: relative;
  font-size: 20px;
  left: 3px;
  top: -0.5px;
}

.tablet_mobile .percent {
  font-size: 13px;
}

.title {
  font-size: 20px;
  color: #888;
  white-space: nowrap;
  &:lang(ka) {
    font-family: bpg_arial_2009;
    font-weight: normal;
  }
}

.tablet_mobile .title {
  font-size: 17px;
}

.sub_standard {
  color: #565656;
  margin-left: 10px;
}

.tablet_mobile .sub_standard {
  color: black;
}

.action_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tablet_mobile .action_btns {
  display: none;
}

.action_btns button {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #f1f1f4;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
}

.action_btns button:hover {
  border-color: #7835ab;
}

.statistics {
  background-image: url('/themes/images/v2/course-chart.png');
}

.statistics:hover {
  background-image: url('/themes/images/v2/course-chart-hover.png');
}

.reset {
  background-image: url('/themes/images/v2/course-restart.png');
}

.reset:hover {
  background-image: url('/themes/images/v2/course-restart-hover.png');
}

.info {
  background-image: url('/themes/images/v2/course-info.png');
}

.info:hover {
  background-image: url('/themes/images/v2/course-info-hover.png');
}

.go_to_course {
  min-width: 126px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tablet_mobile .go_to_course {
  @include smallWidth {
    justify-content: flex-start;
  }
}

.start_course_btn {
  border: 2px solid #f39c12;
  border-radius: 20px;
  color: #fff;
  background-color: #f39c12;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 20px;
  font-family: SegoeUI;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  height: 39px;
  text-align: center;
  &:lang(ka) {
    font-family: bpg_arial_2009;
    font-weight: 700;
  }
}

.tablet_mobile .start_course_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 30.5px;
}

.start_course_btn:hover {
  border-color: #feb614;
  background-color: #feb614;
  transform: translateY(-1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.desktop {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.tablet_mobile {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
