@import '../../styles/imports.scss';

.total_students {
  padding: 9px 16px;
  border-radius: 16px;
  background-color: $yellow-100;
  color: $grey-300;
  font-size: 14px;
  font-family: SegoeUI;
  margin-right: 130px;
  span:first-child {
    margin-right: 5px;
    color: $orange-450;
  }
  span:nth-child(2) {
    &:lang(ka) {
      font-family: $kaFont;
      font-weight: normal;
    }
  }
}
