.total_students {
  padding: 9px 16px;
  border-radius: 16px;
  background-color: #fff4d7;
  color: #a5a5a5;
  font-size: 14px;
  font-family: SegoeUI;
  span:first-child {
    margin-right: 5px;
    color: #ffae45;
  }
  span:nth-child(2) {
    &:lang(ka) {
      font-family: bpg_arial_2009;
      font-weight: normal;
    }
  }
}
