.ka_ge {
	.main-button, .page-back-section .page-back-title, .lingwing-authorization-ui .lingwing-authorization-guest, .user-courses-page .container.wizard .course-languages.course-lang-hd .wizard.faq-answer .answer-feedback .list-group .list-group-item .course-actions-wrap .course-continue, .application .app-page .container .prepare-page .prepare-button, .modal-content .authentication .logsoc button, .faq-page .answer-add-form .form-wrap button, .contact-page .answer-add-form .form-wrap button, .packages-page .packages-list-container .package-content .package-price-box .new_packages_cont .package_card_box .package_card_item .package_footer a, .packages-page .promo-code button, .social-box p, .packages-page .page-back-section .page-back-title, .packages-page .checkout-pay, .lingwing-header-menu-addon ul li a, .user-courses-page .container.wizard .course-languages.course-lang-hd .wizard.faq-answer .answer-feedback .list-group .list-group-item .course-actions-wrap .course-continue, .course-review .cource-overview .overview .review-main-button, .course-review .cource-overview .overview .review-main-button, .course-overview-about-and-ratings .about .sylabus-main-button, .start-learning a, .user-courses-page .courses-list .courses-list-wrap .list-group .list-group-item .course-test, .user-courses-page .add-new.add-new-orange, .application.test .tiny-page .container .prepare-page .wr_test .btn_boxline a, .user-courses-page .courses-list .courses-list-wrap .list-group .list-group-item .course-actions-wrap .course-continue-wrap a, .packages-page.review-page.packages_description .top-checkout-form.packages_description .container .packages_description .description-list .descriptshin_item .des .pack_item, #fp-nav.right ul li .fp-tooltip {
		text-transform: initial;
	}
	.lingwing-forms {
		.forms-heading {
			h3 {
				font-family: $fontFamilyGePrimary;
				font-size:39px;
			}
			h4 {
				font-family: $fontFamilyGePrimary;
			}
			.heading-small {
				font-family: $fontFamilyGePrimary;
			}
		}
		.item-lost-pwd a {
			font-family: $fontFamilyGePrimary;
		}
		.other-option-link {
			font-family: $fontFamilyGePrimary;
			a {
				font-family: $fontFamilyGePrimary;
			}
		}
		.button-save {
			font-family: $fontFamilyGePrimary;
		}
		.input-item input {
			font-family: $fontFamilyGeA;
		}
	}
	.tiny-page {
		.foot a {
			font-family: $fontFamilyGePrimary;
		}
		.container .wizard-back {
			font-family: $fontFamilyGeA;
		}
	}
	.social-auth .social-buttons .social-button a span.text {
		font-family: $fontFamilyGePrimary;
	}
	.heading-text, .wizard-container .wizard-heading {
		font-family: $fontFamilyGePrimary;
	}
	.languages-list-circles {
		width: 320px;
		.language-item {
			.info-unavailable {
				font-family: $fontFamilyGeA;
			}
			.name {
				font-family: $fontFamilyGePrimary;
			}
		}
	}
	.languages-list-circles .language-item .info-unavailable {
		font-family: $fontFamilyGeA;
	}
	.learn-packages .package-wrap {
		.package-heading {
			.heading-text {
				font-family: $fontFamilyGePrimary;
			}
		}
		.package-body {
			a {
				font-family: $fontFamilyGeA;
			}
			p {
				font-family: $fontFamilyGeA;
			}
		}
	}
	.quick-test-offer span {
		font-family: $fontFamilyGePrimary;
	}
	.wizard-container .language-standard-levels li .thumb .circle .course-name {
		font-family: $fontFamilyGePrimary;
	}
	.wizard-container .language-standard-levels li .cont h3 {
		font-family: $fontFamilyGePrimary;
	}
	.wizard-container .language-standard-levels li a {
		font-family: $fontFamilyGeA;
	}
	.sweet-alert {
		h2 {
			font-family: $fontFamilyGePrimary;
		}
		button {
			font-family: $fontFamilyGeA;
		}
	}
	.userHeader .i-learn-menu .menu .item-expendable .desc {
		font-family: $fontFamilyGePrimary;
	}
	.expendable-menu .item-expendable .item-link a {
		font-family: $fontFamilyGeA;
	}
	.userHeader .level-score-quote .info .level, .userHeader .level-score-quote .info .score, .userHeader .level-score-quote .info .quote {
		font-family: $fontFamilyGePrimary;
	}
	.app-page {
		.app-body {
			.app-exercise {
				.exercise-text span {
					font-family: $fontFamilyGePrimary, $fontFamilyPrimary;
				}
			}
			.exercise-dictation {

				.listen-recording {
					span {
						font-family: $fontFamilyGePrimary;
					}
				}
				.dictationTaskText {
					font-family: $fontFamilyGePrimary;
				}
			}
			span.force-eng {
				display:inline !important;
				font-family: $fontFamilyPrimary !important;
				top:-1px;
			}
			.app-exercise-answer {
				textarea {
					font-family: $fontFamilyGePrimary;
				}
				.hint-legent {
					span {
						font-family: $fontFamilyGePrimary;
					}
					.txtDark {
						font-family: $fontFamilyPrimary;
					}
				}
				.task-finish-success-failure {
					span {
						font-family: $fontFamilyGePrimary;
						top:38%;
					}
				}
				.task-hint .hint-text.text-default span {
					font-family: $fontFamilyGePrimary;
				}
			}
		}
		.app-header{
			.task-info {
				.task-question-count span {
					font-family: $fontFamilyGePrimary;
				}
			}
			.task-description {
				font-family: $fontFamilyGePrimary;
			}
			.mistakes {
				.mistakes-left {
					font-family: $fontFamilyGePrimary;
				}
			}
		}
	}

	/*FAQ PAGE*/
	.faq-page {
		&.container {
		}
		.faq-filter-empty {
			font-family: $fontFamilyGeA;
			font-size:16px;
		}
		.faq-menu {
			.list-group {
				.list-group-item {
					&.selected {
						a {

						}
					}
					&:first-child {
					}
					&:last-child {
					}
					a {
						font-size:17px;
			    		font-family: $fontFamilyGeA;
					}
				}
			}
		}
		.faq-list {
		}
		.faq-heading-search {
			.faq-category-name {
				font-size: 35px;
				font-family: $fontFamilyGePrimary;
			}
			.search-field {
				input[type="text"] {
					font-size: 16px;
				    font-weight: normal;
				    font-family: $fontFamilyGeA;
				}
				button {
				}
			}
		}
		.answer-add-form {
			h3 {
				font-size:22px;
				font-family: $fontFamilyGeA;
			}
			p {
				font-size:16px;
				font-family: $fontFamilyGeA;
			}
			.form-wrap {
				margin-bottom:50px;
				textarea {
					font-family: $fontFamilyGeA;
				}
				input {
					font-family: $fontFamilyGeA;
				}
				button {
					@extend .pull-right;
					font-family: $fontFamilyGeA;
					font-size: 17px;
				}
			}
		}
		.faq-item {
			.faq-question {
				.faq-question-text {
					font-size: 20px;
					font-family: $fontFamilyGeA;
				}
				.toggler {
					display: table-cell;
	    			vertical-align: middle;
	    			.faq-toggle {

	    			}
	    			&.collapsed {
	    				.faq-toggle {
	    				}
	    			}
	    			&:hover {
	    				.faq-question-text {
	    				}
	    			}
				}
			}
			.faq-answer {
				.faq-answer-text {
					font-size:16px;
					line-height:25px;
					font-family: $fontFamilyGeA;
				}
				.answer-feedback {
					.answer-feedback-question {
						font-family: $fontFamilyGeA;
						font-size:16px;
					}
					.feedback-answer-btns {
						.btn-wrap {
							.btn-desc {
								font-family: $fontFamilyGeA;
								&.yes {

								}
								&.no {

								}
							}
							.faq-feedback-answer-btn {
								&.yes {

								}
								&.no {

								}
							}
						}
					}
				}
			}
		}
	}
	.modal-content {
		.authentication {
			.header {
				font-family: $fontFamilyPrimaryGe2;
			}
			.authError {
				font-family: $fontFamilyPrimaryGe2;
			}
			.authWarning {
				font-family: $fontFamilyPrimaryGe2;
			}
			.footer {
				.left {
					font-family: $fontFamilyPrimaryGe2;
				}
				.right {
					font-family: $fontFamilyPrimaryGe2;
				}
				.terms {
					font-family: $fontFamilyPrimaryGe2;
				}
			}
			.logsoc {
				.soc-box {
					.social {
						font-family: $fontFamilyPrimaryGe2;
					}
				}
				button {
					font-family: $fontFamilyPrimaryGe2;
				}
			}
		}
		input {
			font-family: $fontFamilyPrimaryGe2;
		}
	}
	/*  Contact page header style  */
	.header-waves.contact {
		.header-waves-outter {
			.header-waves-inner {
				div {
				    h2 {
				    	font-family: $fontFamilyGePrimaryLanding;
				    }
				}
			}
		}

	}

	/*   Footer pages >> Wizard and Dashbord   */
	.page-footer{
		.footer-box {
		 	width: 718px; // 570px; //444px;  //527px;
		 	height: 48px;
		 	margin:0 auto;
		 	box-sizing: border-box;
		 	.f-items {
			 	a {
					font-family: $fontFamilyPrimaryGe2;
				}
			}
		}

	 }

	 .tooltip-user-course.top  {
	 	font-family: $fontFamilyPrimaryGe2;
	 }


	 /*     Change profile page, Avatar      */
		.save-profile{
			.save-profile-button {
				font-family: $fontFamilyPrimaryGe2;
			}
		}

	 /*     Change profile page, Avatar   End    */


}
