@import '@styles/imports.scss';

.container {
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  display: flex;
  width: 54.7rem;
  z-index: 1;

  @include mobile {
    gap: 0.3rem;
    width: 100%;
    margin-top: 1rem;
  }
}
