@import '@styles/imports';

.footer {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @include tablet {
    gap: 0.7rem;
    bottom: 0;
  }

  @include mobile {
    gap: 0.3rem;
    bottom: 0.1rem;
    flex-wrap: wrap;
  }

  @include smallWidth {
    flex-wrap: wrap;
  }
}

.link {
  font-size: 0.88rem;
  font-family: SegoeUI-SemiBold;
  color: $grey-100;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover {
    color: $black;
  }

  @include mobile {
    font-size: 0.7rem;
  }
}
