@import '../../styles/imports.scss';

.optionContainer {
  width: 100%;
  height: 7rem;
  border: 1px solid $white-100;
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 1rem;
  user-select: none;

  @include mobile {
    height: 5.5rem;
    padding: 0.7rem;
  }
  @include smallWidth {
    height: 5rem;
    padding: 0.7rem;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseLogo {
  width: 4.688rem;
  height: 4.688rem;
  border: 7px solid $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 15px $white-300;
  border-radius: 50%;
  &.course-1 {
    background-image: url(../../public/assets/images/wizard/mountain-course-1.png);
  }
  &.course-2 {
    background-image: url(../../public/assets/images/wizard/mountain-course-2.png);
  }
  &.course-3 {
    background-image: url(../../public/assets/images/wizard/mountain-course-3.png);
  }

  @include mobile {
    width: 3rem;
    height: 3rem;
  }
  @include smallWidth {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid $white;
  }
}

.courseName {
  color: $purple-500;
  font-size: 1.125rem;
  margin-top: -1.2rem;
  text-shadow: -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0 0 #fff,
    -2px 1px 0 #fff, -2px 2px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff,
    -1px 0 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, 0 -2px 0 #fff,
    0 -1px 0 #fff, 0 0 0 #fff, 0 1px 0 #fff, 0 2px 0 #fff, 1px -2px 0 #fff,
    1px -1px 0 #fff, 1px 0 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff,
    2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0 0 #fff, 2px 1px 0 #fff,
    2px 2px 0 #fff;

  @include mobile {
    font-size: 0.8rem;
  }
  @include smallWidth {
    font-size: 0.65rem;
    margin-top: -0.8rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 2rem;

  @include mobile {
    padding-left: 1rem;
  }
  @include smallWidth {
    padding-left: 0.5rem;
  }
}

.title {
  font-family: SegoeUI-SemiBold;

  @include mobile {
    font-size: 0.875rem;
  }
  @include smallWidth {
    font-size: 0.8rem;
  }
}

.amountOfStudents {
  display: flex;
  font-size: 0.875rem;
  gap: 0.3rem;

  @include mobile {
    font-size: 0.75rem;
  }
  @include smallWidth {
    font-size: 0.65rem;
  }

  .number {
    color: $orange-300;
    font-weight: 700;
  }

  .text {
    color: $grey-600;
  }
}

.buttons {
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @include mobile {
    gap: 0.6rem;
    right: 1rem;
  }
  @include smallWidth {
    gap: 0.4rem;
    right: 1rem;
  }
}

.aboutButton {
  border: 2px solid $grey-100;
  border-radius: 1.25rem;
  color: $grey-600;
  font-size: 1rem;
  height: 2.5rem;
  text-align: center;
  min-width: 5rem;
  line-height: 2.3rem;
  width: fit-content;
  padding: 0 1rem;

  @include mobile {
    font-size: 0.7rem;
    padding: 0 0.5rem;
    height: 2.3rem;
  }
  @include smallWidth {
    font-size: 0.7rem;
    padding: 0 0.4rem;
    height: 2.3rem;
  }
}

.startButton {
  border-radius: 1.25rem;
  color: $white-100;
  background-color: $orange-500;
  font-size: 1rem;
  text-transform: uppercase;
  min-width: 5.75rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  width: fit-content;
  padding: 0 1rem;

  @include mobile {
    font-size: 0.8rem;
    padding: 0 0.4rem;
    height: 2.3rem;
  }
  @include smallWidth {
    font-size: 0.7rem;
    padding: 0 0.4rem;
    height: 2.3rem;
  }
}
