@import '../../styles/imports.scss';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  width: 15rem;
}

.text {
  color: $white;
  font-family: SegoeUI;
  font-size: 0.88rem;
  padding-left: 0.2rem;
  border-radius: 100%;
  width: 7rem;
  text-transform: uppercase;

  .grey & {
    color: $grey-800;
  }
  &:lang(ka) {
    font-family: $kaFont;
  }
}

.followButton {
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  border: 2px solid $purple-200;
  line-height: 2.18rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 1.25rem;

  .grey & {
    border: 2px solid $grey-100;
  }

  &.facebook {
    background-image: url('/assets/images/networks/facebook-light-icon.svg');
    .grey & {
      background-image: url('/assets/images/networks/facebook-dark-icon.svg');
    }
  }
  &.instagram {
    background-image: url('/assets/images/networks/instagram-light-icon.svg');
    .grey & {
      background-image: url('/assets/images/networks/instagram-dark-icon.svg');
    }
  }

  &.linkedin {
    background-image: url('/assets/images/networks/linkedin-light-icon.svg');
    .grey & {
      background-image: url('/assets/images/networks/linkedin-dark-icon.svg');
    }
  }

  &.youtube {
    background-image: url('/assets/images/networks/youtube-light-icon.svg');
    .grey & {
      background-image: url('/assets/images/networks/youtube-dark-icon.svg');
    }
  }

  &.tiktok {
    background-image: url('/assets/images/networks/tiktok-light-icon.svg');

    .grey & {
      background-image: url('/assets/images/networks/tiktok-dark-icon.svg');
    }
  }

  &:hover {
    border: 2px solid $white;
    .grey & {
      border: 2px solid $black;
    }
  }

  @include tablet {
    width: 2rem;
    height: 2rem;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  z-index: 20;
  bottom: 3rem;
  left: 2.2rem;
  height: 3rem;

  @include tablet {
    bottom: 5rem;
    left: 1.8rem;
  }

  @include mobile {
    display: none;
  }
}
