@import '@styles/imports';

.currency {
  opacity: 0;
  width: 0;
}

.label {
  cursor: pointer;
  padding: 0.3rem;
  font-family: SegoeUI;
  color: $purple-100;
  border-radius: 0.3rem;

  &:hover {
    transition: 0.1s linear;
    background-color: $purple-500;
  }
}

.currency:checked + label {
  background-color: $purple-200;
}
