@import '../../styles/imports.scss';

.currency {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;

  &:hover {
    animation: fadeIn ease 0.5s;
    @extend .currencyBackground;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.currencyBackground {
  background-color: $purple-200;
}
