@import '../../styles/imports.scss';

.faq__container {
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 6rem;
  max-width: 50rem;
  text-align: left;
  box-shadow: 0 2px 2px hsl(0deg 0% 0% / 0.025),
    0 4px 4px hsl(0deg 0% 0% / 0.025), 0 8px 8px hsl(0deg 0% 0% / 0.025),
    0 16px 16px hsl(0deg 0% 0% / 0.025), 0 32px 32px hsl(0deg 0% 0% / 0.025);
}

.faq__title {
  color: $black-800;
  margin-top: -0.5rem;
  text-align: center;
  font-size: 2rem;

  @include mobile {
    font-size: 1.3rem;
  }
}

.faq {
  &__question {
    display: flex;
    border-bottom: 0.1rem solid $white-100;
    color: $purple-500;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;

    @include mobile {
      font-size: 1rem;
      padding: 1rem 0.3rem 1rem 0rem;
    }

    &:hover {
      color: $purple-300;
      background-color: $white-50;
    }
    /* Icon */
    &::after {
      margin-top: auto;
      margin-bottom: auto;
      content: '\276F';
      text-align: center;
      transition: all 0.3s;
    }

    &__open {
      color: $purple-300;
      background: $white-50;

      &::after {
        transform: rotate(90deg);
      }
    }
  }
  &__answer {
    height: 0;
    overflow: hidden;
    opacity: 0;
    color: $black-800;
    font-family: 'SegoeUI-SemiBold';
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0rem 3rem 0rem 2rem;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;

    @include mobile {
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 0rem 0.1rem 0.1rem 0rem;
    }

    &__open {
      opacity: 1;
      height: auto;
      padding: 1.5rem 3rem 1.5rem 2rem;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease;

      @include mobile {
        padding: 1rem 0.1rem 1rem 0.1rem;
      }
    }
  }
}
