@import '@styles/imports';

.featureDescContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1.2rem;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.featureDesc {
  padding-right: 0.6rem;
  font-size: 0.8rem;
}
