@import '../../styles/imports.scss';

.mostPopular__text {
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.15rem;
  text-align: center;
  top: -20px;
  width: Calc(100% + 0.6rem);
  color: $white;
  border-radius: 0.4rem 0.4rem 0 0;
  background-color: $orange-500;
}
