@import '../../styles/imports.scss';

.bubbles {
  position: absolute;
  width: 100%;
  margin-top: 540px;
  text-align: center;
}

.bubbles__bubble {
  display: inline-block;
  background-color: $grey-100;
  border-radius: 50px;
  margin: 30px;
  width: 10px;
  height: 10px;
  opacity: 0.6;
  cursor: pointer;
  text-indent: -9999px;

  &:hover {
    outline: solid 2px $grey-100;
    outline-offset: 2px;
  }
}

.bubble__link {
  display: block;
}

.scrollAnchor {
  margin-top: -50px;
  position: absolute;
  width: 150px;
  height: 20px;
}

.packageContainer {
  display: flex;
  font-family: 'SegoeUI';
  margin-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  scroll-padding: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  overflow-x: scroll;
  width: 1220px;
  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }
}

.currencies {
  position: absolute;
  font-family: 'SegoeUI';
  color: $purple-100;
  margin-top: -20px;
  &:target ~ .currency {
    background-color: $purple-200;
  }
}

.currency {
  cursor: pointer;
  margin-left: 15px;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;

  &:hover {
    animation: fadeIn ease 0.5s;
    @extend .currencyBackground;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.currencyBackground {
  background-color: $purple-200;
}

.packageColumn {
  display: flex;
  scroll-snap-align: start;

  flex-direction: column;
  text-align: center;
  position: relative;
  max-width: 270px;
  min-width: 270px;
  align-items: center;
  width: 100%;
  border: 1px solid $white-100;
  margin: 40px 12px 35px 12px;
  border-radius: 8px;
  background-color: $white;
  transition: all 0.2s linear;
  box-shadow: 0 2px 2px hsl(0deg 0% 0% / 0.025),
    0 4px 4px hsl(0deg 0% 0% / 0.025), 0 8px 8px hsl(0deg 0% 0% / 0.025),
    0 16px 16px hsl(0deg 0% 0% / 0.025), 0 32px 32px hsl(0deg 0% 0% / 0.025);

  &:hover {
    scale: 102%;
    transition: all 0.1s linear;
  }

  &:hover .packageImage {
    filter: grayscale(0%);
    transition: all 0.25s ease-in-out;
  }
}

.mostPopular {
  border: 0;
  border-radius: 0 0 3px 3px;
  outline: 4px solid $orange-500;
}

.mostPopularText {
  position: absolute;
  padding-top: 3px;
  text-align: center;
  top: -23px;
  width: inherit;
  color: $white;
  outline: 5px solid $orange-500;
  outline-offset: -1px;
  border-radius: 3px 3px 0 0;
  background-color: $orange-500;
}

.duration {
  width: 100%;
  color: $purple-300;
  text-align: center;
  border-radius: 8px 8px 0 0;
  border-bottom: solid $white-100;
  background-color: $white-50;
  font-size: 2.6em;
  font-family: 'SegoeUI';
}

.freePackage {
  font-size: 2em;
  color: $black-800;
  margin: 18px;
}

.freePackageName {
  @extend .duration;

  font-size: 2.1em;
  color: $purple-600;
  padding: 15px 0 5px 0;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }
}

.months {
  padding-left: 6px;
  font-size: 0.8em;
  color: $purple-600;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
    margin-top: 18px;
  }
}

.buttonContainer {
  text-align: center;
  width: inherit;
  padding: 10px;
  border-top: solid $white-100;
  border-bottom: solid $white-100;
  background-color: $white-50;
}

.monthPrice {
  color: $black-800;
  font-size: 2em;
  font-family: 'SegoeUI';
  margin-top: -10px;
}

.monthAndTotal {
  font-size: 0.6em;
  padding-left: 6px;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
    margin-top: 18px;
  }
}

.totalPrice {
  font-size: 1.3em;
  color: $black-100;
  font-family: 'SegoeUI-SemiBold';
  margin-bottom: 10px;
}

.symbol {
  font-size: 0.6em;
}

.button {
  font-size: initial;
  border: none;
  color: $white;
  border-radius: 20px;
  width: 70%;
  padding: 6px;
  background-color: $purple-600;
  cursor: pointer;

  transform: translateY(0px);
  transition-duration: 0.2s;

  &:hover {
    background-color: $purple-500;
    transform: translateY(-1px);
    transition-duration: 0.2s;
  }

  &:lang(ka) {
    font-family: $kaFontTitleBold;
    padding-top: 10px;
  }
}

.orangeButton {
  background-color: $orange-500;

  &:hover {
    background-color: $orange-450;
  }
}

.packageImage {
  filter: grayscale(100%);
}

.featuresContainer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}

.featureDescContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 19px;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $purple-600;
  row-gap: 4px;
}

.featureDesc {
  padding-right: 10px;
  font-size: 0.9em;
}

.discount {
  position: absolute;
  right: -28px;
  top: 30px;
}

.discountAmount {
  position: absolute;
  right: 12px;
  top: 21px;
  font-size: 1.5em;
  color: $white;
  font-family: 'SegoeUIBlack';
}

.discountedTotalPrice {
  font-size: 1.2em;
  color: $purple-600;
  padding-left: 6px;
  text-decoration: none !important;
}

.oldTotalPrice {
  text-decoration: line-through;
}
