@import '@styles/imports';

.package__container {
  display: flex;
  font-family: SegoeUI;
  margin-top: 2rem;
  overflow-x: scroll;
  justify-content: center;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }
}

.currencies {
  position: absolute;
  margin-left: 1.5rem;
  margin-top: -1rem;
}

.cards {
  display: flex;
  overflow-x: scroll;
  padding-right: 1rem;
  padding-left: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mostPopular {
  border: 0;
  border-radius: 0 0 3px 3px;
  outline: 4px solid $orange-500;
}

.carusel__dots__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.package__card__image {
  padding: 0.7rem;
  filter: grayscale(100%);
}

.package__card {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  max-width: 270px;
  min-width: 270px;
  align-items: center;
  width: 100%;
  border: 1px solid $white-100;
  margin: 40px 12px 18px;
  border-radius: 8px;
  background-color: $white;
  transition: all 0.2s linear;
  box-shadow: 0 2px 2px hsl(0deg 0% 0% / 2.5%), 0 4px 4px hsl(0deg 0% 0% / 2.5%),
    0 8px 8px hsl(0deg 0% 0% / 2.5%), 0 8px 8px hsl(0deg 0% 0% / 2.5%),
    0 16px 16px hsl(0deg 0% 0% / 2.5%);

  &:hover {
    scale: 102%;
    transition: all 0.1s linear;
  }

  &:hover .package__card__image {
    filter: grayscale(0%);
    transition: all 0.25s ease-in-out;
  }
}

.package__card__imageActive {
  padding: 0.7rem;
}

.button__container {
  width: inherit;
  padding: 1rem;
  border-top: solid $white-100;
  border-bottom: solid $white-100;
  background-color: $white-50;
}

.features__container {
  display: flex;
  padding-top: 1.2rem;
  padding-bottom: 0.5rem;
}
