@import '../styles/imports.scss';

.backButton {
  position: absolute;
  top: 6rem;
  left: 3rem;
  font-size: 1.75rem;
  color: #d2d1d1;
  font-family: SegoeUI;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include tablet {
    top: 6.5rem;
    left: 0.5rem;
    font-size: 1.1rem;
  }
  @include mobile {
    top: 4.7rem;
    left: 0.2rem;
    font-size: 1.3rem;
  }
  @include smallWidth {
    top: 4.5rem;
    left: 0.1rem;
  }
}

.text {
  @include smallWidth {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.icon {
  background-image: url('/assets/images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.68rem;
  width: 1.875rem;
  display: inline-block;
}
