@import '../styles/imports.scss';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;

}

.text {
  color: $white;
  font-family: SegoeUI;
  font-size: 0.88rem;
  padding-left: 0.2rem;
  border-radius: 100%;
  width: 7rem;

}

.followButton {
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  border: 2px solid $purple-200;
  line-height: 2.18rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 1.25rem;

  &.facebook {
    background-image: url('/assets/images/facebook-icon.png');
  }

  &.instagram {
    background-image: url('/assets/images/instagram-icon.png');
  }

  &.linkedin {
    background-image: url('/assets/images/linkedin-icon.png');
  }

  &.youtube {
    background-image: url('/assets/images/youtube-icon.png');
  }

  &.tiktok {
    background-image: url('/assets/images/tiktok-icon.png');
  }

  &:hover {
    border: 2px solid $white;
  }

}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  z-index: 20;
  bottom: 3rem;
  left: 2.2rem;
  height: 3rem;

  @include mobile {
    bottom: 3rem;
    left: 1rem;
    display: none;
  }
}