@import '../styles/imports.scss';

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

.singUp {
    color: $white;
    font-weight: 900;
}


.avatarBackground {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    border: 3px solid $orange-200;
    background-image: url("/assets/images/avatar-default-medium.png");
}

.rightBlock {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 3rem;
}