.menuContainer {
    display: flex;
    gap: 2rem;
    width: 18rem;
    height: 7rem;
    align-items: center;
    padding-left: 1rem;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.2rem;
}

.menuContent {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
    box-shadow: white;  
    display: flex;
    top: 5rem;
    height: 30rem;
    width: 23rem;
}

.lingwingLogo {
    width: 10rem;
    height: 5rem;
    background-image: url('../public/assets/images/logo-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.link {
    height: 3rem;
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
}

.button {
    border: 2px solid #ffffff61;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    color: white;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    &.cross::after {
        content: '✕';
        position: absolute;
        top: 0.2rem;
        right: 0.5rem;
        font-size: 1.5rem;
    }
    &.lines::after {
        content: '☰';
        position: absolute;
        right: 0.37rem;
        top: -0.1rem;
        font-size: 1.7rem;
    }
    &:hover {
        border: 2px solid white;
    }
}
