@import '../styles/imports.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  // -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 26.7rem;
  height: 35rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  position: relative;
  z-index: 1003;
  align-items: center;
}

.close {
  margin-left: auto;
  width: 1.94rem;
  height: 1.94rem;
  font-size: 1.4rem;
  margin-right: 0.4rem;
  color: #d3d3d3;

  &::after {
    content: '✕';
  }
}

.modalHead {
  display: flex;
  height: 2.5rem;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  align-items: flex-end;
}

.switch {
  cursor: pointer;
  width: 4rem;
  height: 1.7rem;
  margin-left: 20%;
  font-weight: 600;

  &.active {
    box-shadow: 0 1px #8a2be2;
  }
}