@import '../styles/imports.scss';

.container {
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 1;
  width: 100%;

  @include tablet {
    bottom: 3rem;
    gap: 1.5rem;
  }

  @include mobile {
    left: calc(50% - 10rem);
    bottom: 3rem;
    gap: 1rem;
  }

  @include smallWidth {
    left: calc(50% - 8.5rem);
  }
}

.usersAmount {
  font-size: 2.5rem;
  color: $orange-500;

  @include mobile {
    font-size: 1.8rem;
  }
}

.title {
  color: $white;
  font-family: SegoeUI;
  font-size: 1.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  @include mobile {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  @include tablet {
    margin-top: 1.5rem;
  }
  @include smallHeight {
    display: none;
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 2rem;
  height: 3.45rem;
  cursor: pointer;
  background-color: $orange-500;
  border-radius: 1.88rem;
  box-shadow: -1px 1px 1px $black-t;

  @include mobile {
    margin: 1.5rem auto;
    width: 20rem;
  }

  @include smallWidth {
    width: 17rem !important;
    height: 3rem !important;
  }

  &:hover {
    transition: all 0.2s linear;
    transform: translateY(-1px);

    .bubbleUp {
      display: block;
      top: -1.38rem;
      left: 4rem;
    }

    .bubbleDown {
      display: block;
      bottom: -0.8rem;
      right: 5rem;
    }

    .text {
      background-color: $orange-450;
      box-shadow: 0 2px 10px $black-t;
    }
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.38rem;
  color: $white;
  font-family: SegoeUI;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border-radius: 1.88rem;

  @include mobile {
    height: 2.5rem;
    max-width: 20rem;
    font-size: 1rem;
  }
}

.bubbleUp {
  display: none;
  position: absolute;
  top: 1rem;
  z-index: 0;
  width: 3rem;
  height: 1.375rem;
  background-image: url('/assets/images/bubble-up.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bubbleDown {
  display: none;
  position: absolute;
  bottom: 0;
  width: 1.75rem;
  height: 0.875rem;
  background-image: url('/assets/images/bubble-down.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
