@import '../../styles/imports.scss';

.dialog {
  border: 1px solid black;
  height: auto;
  max-height: 80vh;
  width: 99%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.soundCheck {
  position: absolute;
  bottom: 15rem;
}

.hidden {
  display: none;
}

.parrots {
  background-image: url('/assets/images/tasks/parrotDialog.png');
  background-repeat: no-repeat;
  height: 12.25rem;
  width: 20rem;
  background-position: center;
}

.dialogStart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.messageLeft {
  align-self: flex-start;
  background-color: #d9eaf6;
  border-radius: 1rem 1rem 1rem 0;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.messageRight {
  align-self: flex-end;
  background-color: #e4f7d9;
  border-radius: 1rem 1rem 0 1rem;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
}

@import '../../styles/imports.scss';

.container {
  display: flex;
  width: 100%;
  height: 7.25rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #faf9f8;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.03);
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 26.7rem;
  height: 4rem;
  font-size: 1.2rem;
  // background-color: $white;
  // background: #FFFFFF;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  padding: 6px 8px 6px 1.5rem;
  color: black;
}

.mistakes {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbceec;
  border: 4px solid #b692e3;
  border-radius: 100%;
  width: 2.88rem;
  height: 2.88rem;
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #692e96;
}

.micIcon {
  display: flex;
  cursor: pointer;
  width: 1rem;
  height: 1.3rem;
  background-image: url('/assets/images/tasks/microphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.example {
  color: grey;
}
.exampleText {
  &:first-letter {
    font-weight: bold;
    color: orange;
  }
}
// .microphoneIcon {
//   position: relative;
//   opacity: 0.5;

//   &.pulsatingCircle {
//     position: absolute;
//     top: -20px;
//     left: -20px;
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     opacity: 0.6;
//     background-color: blue;

//     @keyframes pulsating {
//       0% {
//         transform: scale(0.5);
//         opacity: 0.6;
//       }
//       50% {
//         transform: scale(1);
//         opacity: 0.6;
//       }
//       100% {
//         transform: scale(0.5);
//         opacity: 0.6;
//       }
//     }

//     animation: pulsating 1s ease-in-out infinite;
//   }
// }
