@import '@styles/imports';

.wrapper {
  ::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 12px;
  }
}

.title {
  margin-top: 1rem;
  padding: 0.3rem 1.5rem 0.3rem 3rem;
  background-color: $orange-200;
  color: $orange-500;
  width: fit-content;
  border-radius: 0.8rem 0.8rem 0 0;
  text-align: center;
  font-family: SegoeUI;
  background-image: url('/assets/images/tasks/dialog.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 10% 70%;
}

.dialog {
  height: auto;
  max-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid $white-200;
  border-radius: 0 1rem 1rem;
  font-family: SegoeUI;
  overflow-y: auto;
}

.description {
  margin: 0 1.2rem 1.2rem 1rem;
  font-size: 1.1rem;

  span {
    display: inline-block;
    margin-right: 0.4rem;
    font-style: normal;
    color: $grey-300;

    &::first-letter {
      color: $orange-650;
    }
  }
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem 1rem 1rem 0;
}

.currentTask {
  position: relative;
  align-self: flex-start;
  background-color: $white-100;
  border-radius: 1.3rem 1.3rem 1.3rem 0.3rem;
  padding: 1rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 40rem;
  height: 8rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;

  @include mobile {
    margin-bottom: 0;
    gap: 1rem;
    height: 5rem;
  }
}

.taskProgress {
  align-self: flex-start;
  height: 0.2rem;
  border-radius: 0 1rem 1rem 0;
  width: 2rem;
  background-color: #cee9a2;
  transition: 0.4s linear;
}

.mistakes {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbceec;
  border: 4px solid #b692e3;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-family: SegoeUI;
  font-size: 1.4rem;
  color: #692e96;

  @include mobile {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}

.micIcon {
  display: flex;
  cursor: pointer;
  width: 1rem;
  height: 1.3rem;
  background-image: url('/assets/images/tasks/microphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.microphoneIcon {
  position: relative;
  opacity: 0.5;
}

.pulsatingCircle {
  position: absolute;
  top: -0.77rem;
  left: -0.77rem;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  opacity: 0.6;
  background-color: $purple-500;
  animation: pulsating 1s ease-in-out infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(0.5);
    opacity: 0.6;
  }

  50% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.6;
  }
}
