@import '../../styles/imports.scss';
.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 26.7rem;
  height: 55%;
  font-size: 1.2rem;
  // background-color: $white;
  // background: #FFFFFF;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  padding: 6px 8px 6px 1.5rem;
  color: black;
}
