@import '@styles/imports';

.hint {
  display: flex;
  background-color: #b692e3;
  color: #692e96;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: SegoeUI;
  border-radius: 0 0 1.5rem 0.3rem;
  align-items: center;
  padding: 2rem 1.8rem 0.4rem;
  margin-top: -1.8rem;
  max-width: 30rem;
}

.hidden {
  display: none;
}

.hintText {
  color: $white;
  padding-left: 0.4rem;
  text-transform: lowercase;
}
