@import '@styles/imports';

.progressBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 40rem;
  height: 3rem;
  margin-bottom: 1rem;
  font-family: SegoeUI;

  @include mobile {
    margin-bottom: 0;
  }
}

.scoreContainer {
  display: flex;
  justify-content: center;
}

.scoreText {
  font-size: 1.5rem;
  color: $grey-100;
}

.scoreNumber {
  color: $purple-300;
  font-size: 1.5rem;
  animation-name: animate__bounceIn;
  animation-duration: 0.5s;
}

.percent {
  font-size: 1rem;
  line-height: 2.5rem;
  color: $grey-100;
  position: absolute;
  right: 0.5rem;
}

.progressContainer {
  height: 0.69rem;
  border-radius: 1rem;
  background-color: $white-t2;

  @include mobile {
    border-radius: 0;
  }
}

.progress {
  display: flex;
  background-color: $purple-500;
  height: 100%;
  border-radius: 1rem;

  @include mobile {
    border-radius: 0 1rem 1rem 0;
  }
}

@keyframes animate__bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
