@import '../../styles/imports.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 13rem;
  height: 2.5rem;
  background-color: rgba(105, 46, 150, 1);
  padding: 0 0.5rem;
  gap: 0.3rem;
}

.playButton {
  background: url('/assets/images/tasks/play.png');
  width: 1.5rem;
  height: 1.5rem;
}

.pauseButton {
  background: url('/assets/images/tasks/pause.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.waveform {
  width: 100%;
}

.progress {
  color: white;
  font-size: 0.8rem;
}
