.ka_ge {
  .about-us {
    .h1-title {
      font-family: $fontFamilyGePrimaryLanding;
    }
  }
  .about-conteiner {
    .menu-nav {
      div {
        padding-top: 5px;
        padding-bottom: 10px;
        .link {
          font-family: $fontFamilyGePrimaryLanding;
        }
        .link.act {
          border-top: 3px solid #fff;
          padding-top: 5px;
        }
        &:hover {
          border-top: 3px solid #fff;
          padding-top: 2px;
          padding-bottom: 10px;
        }
      }
    }
    h3 {
      font-family: $fontFamilyPrimaryGe2;
    }
    .txt {
      font-family: $fontFamilyPrimaryGe2;

      .info {
        font-family: $fontFamilyPrimaryGe2;
      }
    }
  }
}
