
		.ka_ge .packages-page .packages-page-heading .heading-text{
		    text-align: center;
		    position: relative;
		    z-index: 2;
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .package-price-box .price-item.package-wrap .package-heading span {
		    position: relative;
		    top: 4px;
		    font-family: $fontFamilyPrimaryGe2;
		    font-weight: bold;
		}
		.ka_ge .package-price-box {
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .current-package .pack .pack-name p {
		    margin: 47px 0 0 0;
		    color: #faae1b;
		    font-size: 20px;
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .current-package .pack .pack-name h3 {
		    margin: 22px 0 0 0;
		    color: #faae1b;
		    font-size: 32px;
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .current-package {
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .current-package .days-left .table-view .cell-view p {
		    color: #7935ac;
		    font-size: 15px;
		    margin-top: -10px;
		    font-family:$fontFamilyPrimaryGe2;
		    font-weight: bold;
		}
		.ka_ge .package-wrap .package-footer{a {
			    font-size: 16px;
			    padding: 7px 35px;  
			    font-family: $fontFamilyPrimaryGe2;
			    font-weight: bold;
			}
			 .saving {
				font-family: $fontFamilyPrimaryGe2 !important;
				font-weight: bold;
				font-size: 15px !important;
			}	
			
		} 
		.ka_ge .pack-month{
				    font-family: "BPG Nino Mtavruli Bold" !important;
				    padding-top: 5px;
				}
		.ka_ge .packages-page .promo-code input[type="text"] {
		    width: 100%;
		    background: transparent;
		    padding: 0 40px;
		    height: 53px;
		    font-size: 14px;
		    color: #333333;
		    font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .promo-code button {
		     font-size: 16px;
		     font-family:$fontFamilyPrimaryGe2;
		}


	.ka_ge .packages-page.review-page .checkout-form .heading h1 {
			    //color: #f903e7;
			    font-size: 26px;
			    margin: 0;
			    padding: 25px 0;
			   font-family:$fontFamilyPrimaryGe2;
			   font-weight: bold;
			}
		.ka_ge .packages-page.review-page .checkout-form .heading h1 span {
			    //color: #fdb214;
			    font-family: $fontFamilyPrimaryGe2;
			    font-weight: bold;
		}
		.ka_ge .packages-page.review-page .checkout-form .list-group .list-group-item:nth-child(1n) {
		    //color: #7935ac;
		    font-size: 16px;
		    font-family: "BPG Nino Mtavruli Bold";
		    //font-weight: bold;
		    // &.giftpage {
		    // 	font-size: 21px;	
		    // }
		}
		.ka_ge .packages-page.review-page .checkout-form .list-group .list-group-item span {
		    font-size: 26px; //30px;
		  // color: #fdb214;
		}
		
		.ka_ge .packages-page.review-page .checkout-form .list-group .list-group-item .object-name {
			font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page.review-page .checkout-form .list-group .list-group-item:nth-child(2n) {
		    color: #545454;
		}
		.ka_ge .packages-page.review-page .checkout-form .you-save-badge .table-view .cell-view {
		    color: #fff;
		    font-size: 20px;
		    text-align: center;
		      font-family:$fontFamilyPrimaryGe2;
		}
		.ka_ge .packages-page .checkout-pay {
		    padding: 11px 25px;
		   font-family: $fontFamilyPrimaryGe2;
		}
		.ka_ge .overflow-bg{
				    	 margin-top:159px;
				    	 font-family:$fontFamilyPrimaryGe2;
				    	  div {
				    	  	span {
				    	  		font-family:$fontFamilyPrimaryGe2;
				    	  	}
				    	  }
				    }



.ka_ge .heading-text {
			text-align:center;
			position:relative;
			z-index:2;
			font-family:$fontFamilyA;
			h1 {
				color:#f6a213;
				font-size:60px;
				font-family: $fontFamilyPrimaryGe2;
			}
			.h1 {  // review page /* class="h1"  font-style Uppercase  */
				color:#f6a213;
				font-size:53px; //47px;
				font-family: $fontFamilyGePrimaryLanding;
			}
			h2 {
				color:#fff;
				font-size:24px;
			}
		}

.ka_ge .faq-content{
	.faq-header{
		font-family: $fontFamilyPrimaryGe2;
		.list-group{
			.list-group-item{
				.list-group-item-text{
					font-family: $fontFamilyPrimaryGe2;
				}
				.list-group-item-description{
					font-family: $fontFamilyPrimaryGe2;
				}
			} 
		}
	} 
} 

.ka_ge .faq-content .list-group .list-group-item .list-group-item-text {
	font-family: $fontFamilyPrimaryGe2;
}
/*    xshirad dasmuli kitxvebis fontia << AR AMOSHALO  >>  */
.ka_ge .faq-content .list-group .list-group-item.active .list-group-item-description{
	font-family: $fontFamilyPrimaryGe2;
}
/*    xshirad dasmuli kitxvebis fontia << AR AMOSHALO  >>  */
.ka_ge .faq-content .list-group .list-group-item .list-group-item-description{
	font-family: $fontFamilyPrimaryGe2;
}
