.cours-bg {
  background-image: url(../themes/images/v1/svg/bg-lingwing-white-lightgrey-last-2.svg),
    -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0%, transparent
          42%, transparent 100%);
  min-height: 2470px;
  background-repeat: repeat;
  background-size: contain;
  background-position-y: -59px;
}
.heder-bg {
  background-image: url(../themes/images/v1/svg/bg-lingwing-white-lightgrey-last.svg),
    -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0%, transparent
          42%, transparent 100%);
  background-size: contain;
}
.course-review {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#65c9f8+0,04afff+100 */
  background: #65c9f8; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #65c9f8 0%,
    #04afff 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #65c9f8 0%,
    #04afff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #65c9f8 0%,
    #04afff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c9f8', endColorstr='#04afff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .course-overview-parrot {
    height: 585px;
    background-repeat: no-repeat;
    //background-position:left center;
    //background-image:url('../themes/images/v2/parrot-course-page.png');
    &.eng {
      background-image: url("../themes/images/v2/eng-parrot.png");
      background-size: 416px 555px;
      transform: scaleX(-1);
      background-position: 173px -1px;
    }
    &.ita {
      background-image: url("../themes/images/v2/ita-parrot.png");
      background-size: contain;
      background-position: -23px 23px;
    }
    &.geo {
      background-image: url("../themes/images/v2/geo-parrot.png");
      background-size: contain;
      background-position: -23px 23px;
    }
    &.rus {
      background-image: url("../themes/images/v2/rus-parrot.png");
      background-size: contain;
      // transform: scaleX(-1);
      background-position: -44px 47px;
    }
    &.fre {
      background-image: url("../themes/images/v2/fre-parrot.png");
      background-size: contain;
    }
    &.esp {
      background-image: url("../themes/images/v2/esp-parrot.png");
      //background-size: contain;
      background-size: contain;
      //background-position-y: 11px;
    }
    &.deu {
      background-image: url("../themes/images/v2/deu-parrot.png");
      background-size: 542px 522px;
      background-position: -15px -1px;
    }
    &.tur {
      background-image: url("../themes/images/v2/eng-parrot.png");
      background-size: 416px 555px;
      transform: scaleX(-1);
      background-position: 173px -1px;
    }
    &.app {
      background-image: url("../themes/images/v2/parrot-course-page.png");
      background-size: 413px 476px;
      background-position: 88px 60px;
    }

    .parrot-course-bubble {
      position: absolute;
      // right: 0;
      // top: 135px;
      width: 207px;
      height: 182px;
      text-align: center;
      font-size: 65px;
      text-indent: 27px;
      color: #00aeff;
      font-family: $fontFamilyCostum;
      //background-image:url('../themes/images/v2/parrot-course-bubble.png');
      &.ita {
        top: 41px;
        right: 31px;
        background-image: url("../themes/images/v2/parrot-course-bubble.png");
      }
      &.eng {
        top: 17px;
        right: 369px;
        transform: scaleX(-1);
        background-image: url("../themes/images/v2/parrot-course-bubble.png");
      }
      &.fre {
        display: none;
        color: #65c9f8;
      }
      &.geo {
        display: none;
      }
      &.rus {
        top: 45px;
        right: 50px;
        width: 207px;
        height: 182px;
        font-size: 77px;
        font-family: $fontFamilyCostumRussian;
        background-image: url("../themes/images/v2/parrot-course-bubble.png");
      }
      &.esp {
        top: -28px;
        right: 49px;
        background-image: url(../themes/images/v2/parrot-course-bubble.png);
        transform: rotate(-19deg);
      }
      &.deu {
        .table-view.deu {
          display: none;
        }
      }
    }
    .ka_ge .parrot-course-bubble {
      font-family: $fontFamilyPrimaryGe2;
    }
  }
  .lingwing-header {
    padding: 35px;
    .nav-menu {
      border-color: #fff;
    }
    &.lingwing-header-white {
      box-shadow: none;
      background-color: transparent;
    }
  }
  .course--review--outter {
    background-repeat: no-repeat;
    //background-image:url('../themes/images/v1/svg/bg-lingwing-white-opacity-10.svg');
    background-image: url(../themes/images/v1/svg/bg-white-letters.svg),
      -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0%, transparent
            42%, transparent 100%);
    height: 760px;
  }
  .course--review--inner {
    //	padding-bottom:113px;
    // background-position:bottom;
    // background-repeat:repeat-x;
    // background-position-y: 478px;
    // background-size: 136px;
    // background-image: url(../themes/images/v1/svg/wave-cours-review.svg); //url('../themes/images/v2/wave-up-white.png');
  }
  .cource-overview {
    .overview {
      color: #fff;
      padding: 0 50px;
      background-position: bottom 172px center;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(../themes/images/v2/envelope-dash-lines.png);
      h1 {
        font-size: 4vw;
        margin-top: 10%;
        white-space: nowrap;
        font-family: $fontFamilyCostum;
        .course-flag {
          width: 3vw;
          height: 3vw;
          border-radius: 50px;
          border: 3px solid #fff;
          display: inline-block;
          background-size: 105%;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: -8px;
          margin-bottom: -0.1vw;
          &.ita {
            background-image: url(../themes/images/v2/flags/ita.png);
          }
          &.eng {
            background-image: url(../themes/images/v2/flags/eng.png);
          }
          &.rus {
            background-image: url(../themes/images/v2/flags/rus.png);
          }
          &.fre {
            background-image: url(../themes/images/v2/flags/fre.png);
          }
          &.esp {
            background-image: url(../themes/images/v2/flags/esp.png);
          }
          &.tur {
            background-image: url(../themes/images/v2/flags/tur.png);
          }
          &.deu {
            background-image: url(../themes/images/v2/flags/deu.png);
          }
          &.geo {
            background-image: url(../themes/images/v2/flags/geo.png);
          }
        }
      }
      div {
        p {
          margin: 0;
          font-size: 22px;
          /*white-space:nowrap;*/
          font-family: $fontFamilyPrimary; //$fontFamilyCostum;
          -webkit-font-smoothing: antialiased;
          line-height: 1.2;
        }
      }
      .course-stats {
        overflow: hidden;
        div {
          float: left;
          font-family: $fontFamilyPrimary;
          h2 {
            color: #ffd278;
            font-size: 50px; //3vw;
            margin-bottom: -1px;
            font-family: $fontFamilyA;
          }
          p {
            font-size: 20px;
            line-height: 25px;
            white-space: initial;
            font-family: $fontFamilyPrimary;
          }
        }
      }
      .ka_ge .course-stats {
        font-family: $fontFamilyPrimaryGe2;
      }
      .review-main-button {
        display: inline-block;
        text-align: center;
        line-height: 60px;
        float: none;
        padding-left: 70px;
        padding-right: 70px;
        height: auto;
        top: 0;
        white-space: nowrap;
        width: auto;
        margin: 95px 0 100px;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.07);
        font-size: 22px;
        font-family: $fontFamilyPrimary;
        background-color: #f39c12;
        border-radius: 30px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        z-index: 1000;
        &:hover,
        &:focus {
          color: #fff;
          background-color: #feb614;
          transition: all 0.3s ease-in-out;
        }
      }
      .ka_ge .review-main-button {
        font-family: $fontFamilyPrimaryGe2;
      }
    }
    .ka_ge .overview {
      font-family: $fontFamilyPrimaryGe2;
    }
  }
}
.course-line-bg {
  background-image: url(../themes/images/v1/svg/wave-cours-review.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  height: 150px;
  margin-top: -111px; //-139px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.course-overview-about-and-ratings {
  padding-top: 50px;
  padding-bottom: 100px;
  .about {
    h2 {
      color: #27afef;
      font-size: 7vh;
      margin-bottom: 60px;
      font-family: $fontFamilyCostum;
    }
    h3 {
      color: #ffd278;
      font-size: 9.8vh;
      font-family: $fontFamilyA;
      background-color: #f2fdff;
      display: inline-block;
      padding: 28px 45px 14px 51px;
      -webkit-border-radius: 63px 63px 63px 63px/108px 108px 72px 72px;
      border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
      position: relative;
      left: -55px;
      margin-top: 0;
      p {
        color: #27afef;
        font-size: 26px;
        font-size: 3.5vh;
        margin-bottom: 46px;
        font-weight: bold;
        font-family: $fontFamilyPrimary;
      }
    }
    .txt {
      color: #515151;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 60px;
      font-weight: bold;
      font-family: $fontFamilyPrimary;
    }
    .ka_ge .txt {
      font-family: $fontFamilyPrimaryGe2;
    }
    .sylabus-main-button {
      display: inline-block;
      text-align: center;
      line-height: 60px;
      float: none;
      padding-left: 90px;
      padding-right: 90px;
      height: auto;
      top: 0;
      white-space: nowrap;
      width: auto;
      margin: 22px 0 0;
      font-size: 22px;
      font-family: $fontFamilyPrimary;
      background-color: #f39c12;
      border-radius: 30px;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background-color: #feb614;
        transition: all 0.3s ease-in-out;
      }
    }
    .ka_ge .sylabus-main-button {
      font-family: $fontFamilyPrimaryGe2;
    }
  }
  .ka_ge .about {
    font-family: $fontFamilyPrimaryGe2;
  }
  .scores {
    position: relative;
    .score-stars {
      left: 0;
      right: 0;
      width: auto;
      height: 359px;
      position: absolute;
      pointer-events: none;
      background-repeat: no-repeat;
      background-position: top right;
      background-image: url(../themes/images/v2/scrore-stars.png);
    }
    h2 {
      color: #27afef;
      font-size: 7vh;
      margin-bottom: 60px;
      font-family: $fontFamilyCostum;
      position: relative;
      z-index: 12;
    }
    ul {
      li {
        cursor: default;
        height: 74px;
        margin-bottom: 15px;
        border-radius: 100px;
        position: relative;
        background-color: #ffdb93;
        &:hover {
          background-color: #f6b855; //#f39c12;
          color: #fff;
          transition: all 0.6s ease-in-out;
        }

        &:nth-child(1) {
          .name {
            width: 68%;
            white-space: nowrap;
          }
        }
        &:nth-child(2) {
          width: 90%;
          .name {
            width: 60%;
            white-space: nowrap;
          }
        }
        &:nth-child(3) {
          width: 80%;
          .name {
            width: 56%;
            white-space: nowrap;
          }
        }
        &:nth-child(4) {
          width: 70%;
          .name {
            width: 52%;
            white-space: nowrap;
          }
        }
        &:nth-child(5) {
          width: 60%;
          .name {
            width: 50%;
            white-space: nowrap;
          }
        }
        .number {
          color: #ed5565;
          font-size: 72px;
          font-family: $fontFamilyA;
          line-height: 67px;
          margin-left: 17px;
          float: left;
        }
        .ka_ge .number {
          font-family: $fontFamilyPrimaryGe2;
        }
        .avatar {
          top: 12px;
          left: 40px;
          position: absolute;
          overflow: hidden;
          img {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: 3px solid #fff;
          }
        }
        .name {
          position: absolute;
          top: 12px;
          left: 102px;
          .full-name {
            font-size: 18px;
            color: #f39c12;
            display: block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $fontFamilyA;
          }
          .ka_ge .full-name {
            font-family: $fontFamilyPrimaryGe2;
          }
          .points {
            color: #fff;
            font-size: 16px;
            display: block;
            font-family: $fontFamilyA;
          }
          .ka_ge .points {
            font-family: $fontFamilyPrimaryGe2;
          }
        }
      }
    }
  }
}
.about-quotes {
  background-position: top;
  background-repeat: repeat-x;
  background-image: url("../themes/images/v2/wave-down-white.png");
  background-color: #f8f8f8;
  .about--quotes--inner {
    padding: 124px 0 100px 0;
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url("../themes/images/v2/wave-up-white.png");
    .container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../themes/images/v2/course-yahoo-parrot.png");
    }
  }
  h2 {
    color: #ed5565;
    font-size: 2vh;
    font-size: 60px;
    text-align: center;
    margin-bottom: 135px;
    font-family: $fontFamilyCostum;
  }
  .quotes {
    .quote {
      width: 55%;
      padding: 20px;
      color: #515151;
      font-size: 24px;
      font-size: 2.2vh;
      position: relative;
      margin-bottom: 50px;
      border-radius: 20px;
      background-color: #fff;
      line-height: 1.2;
      font-family: $fontFamilyPrimary;
      .ka_ge & {
        font-size: 2.1vh;
      }
      .arrow {
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
      }
    }
    &.quotes-left {
      .quote {
        float: left;
        .arrow {
          @include arrow-right(20px, #fff);
          right: -20px;
        }
        &:nth-child(1) {
          -ms-transform: rotate(7deg); /* IE 9 */
          -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
          transform: rotate(7deg);
        }
        &:nth-child(2) {
          -ms-transform: rotate(-8deg); /* IE 9 */
          -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
          transform: rotate(-8deg);
          margin-top: 80px;
        }
        &:nth-child(3) {
          -ms-transform: rotate(10deg); /* IE 9 */
          -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
          transform: rotate(10deg);
          margin-top: 80px;
        }
      }
    }
    &.quotes-right {
      .quote {
        float: right;
        .arrow {
          @include arrow-left(20px, #fff);
          left: -20px;
        }
        &:nth-child(1) {
          -ms-transform: rotate(7deg); /* IE 9 */
          -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
          transform: rotate(7deg);
        }
        &:nth-child(2) {
          -ms-transform: rotate(3deg); /* IE 9 */
          -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
          transform: rotate(3deg);
          margin-top: 80px;
        }
        &:nth-child(3) {
          -ms-transform: rotate(10deg); /* IE 9 */
          -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
          transform: rotate(10deg);
          margin-top: 80px;
        }
      }
    }
  }
}
.available-languages {
  margin: 70px 0;
  .ka_ge & {
    margin: 100px 0;
  }
  h2 {
    color: #27afef;
    font-size: 7vh;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    font-family: $fontFamilyCostum;
  }
  .sly-wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    .overlay {
      top: 0;
      bottom: 0;
      width: 30%;
      position: absolute;
      pointer-events: none;
      z-index: 1;
      &.overlay-left {
        left: 0;
        background: -moz-linear-gradient(
          left,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
      }
      &.overlay-right {
        right: 0;
        background: -moz-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      }
    }
  }
  .frame {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    line-height: 200px;
    overflow: initial !important;
    text-shadow: none;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      font-size: 50px;
      width: 1400px !important;
      li {
        float: left;
        width: 300px;
        height: 100%;
        margin: 0 25px 0 24px; //0 1px 0 0;
        padding: 0;
        border-radius: 100%;
        color: #3a3c47;
        text-align: center;
        cursor: pointer;
        position: relative;
        &.active {
          .wrap {
            transform: scale(1.1);
          }
        }
        .es_es &:nth-child(4) {
          .wrap {
            .lang-title {
              font-size: 3.8vh;
            }
          }
        }
        &.sibling-prev,
        &.sibling-next {
          .wrap {
            transform: scale(0.8);
          }
        }
        .wrap {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 250px;
          height: 250px;
          line-height: 200px;
          border-radius: 100%;
          position: absolute;
          background-color: #fff7f4;
          transform: scale(0.6);
          transition: all 0.2s ease-in-out;
          .lang-title {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 180px;
            height: 180px;
            z-index: 2;
            margin: auto;
            color: #fff;
            font-size: 2.4vh;
            position: absolute;
            border-radius: 100%;
            background-color: #e74f5d;
            border: 4px solid #71cffb;
            line-height: 175px;
            font-family: $fontFamilyCostum;
            .info-wrap {
              width: 100%;
              height: 100%;
              line-height: initial;
              text-align: center;
              .percent {
                color: #ffda8f;
                font-size: 7vh;
              }
            }
          }
          .ka_ge .lang-title {
            font-family: $fontFamilyPrimaryGe2;
          }
          .svg-cont {
            display: block;
            height: 250px;
            width: 250px;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            .flag-pointer {
              z-index: 2;
              background: #4189c1;
              border-radius: 100%;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 7px;
              left: 0;
              right: 0;
              margin: auto;
            }
            .svg-item {
              circle {
                fill: transparent;
                stroke-dasharray: 672px;
                stroke-dashoffset: 672px;
                stroke-linecap: round;
                transition: stroke-dashoffset 1s linear;
                &.svg-item-bar {
                  stroke: #27afef;
                  transform: rotate(-89deg);
                  cx: -123px;
                  cy: 127px;
                  &.svg-item-bar-flag {
                    stroke: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .scrollbar {
    display: none;

    // margin:157px auto 0;
    // height: 50px;
    // background: #fcfcfc;
    // line-height: 0;
    // position:relative;
    // z-index:1;
    // width:900px;
    // border-radius:50px;
    // overflow:hidden;
    // padding:0;
    .handle {
      width: 100px;
      height: 46px;
      background-color: #f8f8f8;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../themes/images/v2/drag-dots.png");
      cursor: pointer;
      border-radius: 50px;
      position: relative;
      top: 2px;
      box-shadow: 0px 0px 1px 0px #e0e0e0;
      .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
  }
  .controls {
    margin: 50px 0 0;
    text-align: center;
  }
}
.start-learning {
  text-align: center;
  padding: 0 0 120px;
  max-width: 900px;
  display: flex;
  justify-content: center;
  a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    line-height: 60px;
    float: none;
    height: auto;
    top: 0;
    margin: 0 25px;
    white-space: nowrap;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.07);
    font-size: 22px;
    font-family: $fontFamilyPrimary;
    background-color: #f39c12;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background-color: #feb614;
      transition: all 0.3s ease-in-out;
    }
  }
}

.ka_ge .start-learning {
  font-family: $fontFamilyPrimaryGe2;
}
.course-review-social {
  padding: 51px 0;
  background-color: #f8f8f8;
  .box {
    width: 97%;
    h2 {
      font-size: 60px;
      color: #27afef;
      font-size: 7vh;
      font-family: $fontFamilyA;
      margin-bottom: 54px;
      &.rate-title {
        margin-left: 53px;
      }
      .es_es & {
        font-size: 6vh;
      }
    }
  }

  .start-rate {
    @extend .clearfix;
    .star-rate-item {
      width: 62px;
      height: 62px;
      float: left;
      margin: 0 10px;
      background-position: -87px 0px;
      background-repeat: no-repeat;
      background-image: url("../themes/images/v2/star-rates.png");
      &:first-child {
        margin-left: 0;
      }
      &:first-child {
        margin-right: 0;
      }
      &.star-rate-item-active {
        background-position: 0 0;
      }
    }
  }
  .media {
    .socicons {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-right: 16px;
      width: 56px;
      height: 56px;
      color: #fff;
      border-radius: 0;
      padding-top: 12px;
      font-size: 15px;
      &:nth-child(1) {
        margin-left: 0 !important;
        border: 2px solid #3e5f95;
        background-color: #3e5f95;
        margin-left: 8px;
      }
      &:nth-child(2) {
        border: 2px solid #37a9db;
        background-color: #37a9db;
      }
      &:nth-child(3) {
        border: 2px solid #df5139;
        background-color: #df5139;
        margin-right: !important;
      }
    }
  }
}
.ka_ge .course-review-social {
  font-family: $fontFamilyPrimaryGe2;
}

.disqus {
  padding: 100px 15px;
}
#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 70px;
}
#svg #bar {
}
#cont {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#cont:after {
  /* position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black; */
}

.course-overview-about-and-ratings .scores ul li:hover .name .full-name {
  color: #fff;
  transition: all 0.6s ease-in-out;
}
