.lingwing-authorization-ui {
  .lingwing-authorization-ui-dropdown-toggle {
    display: block;
    background-repeat: no-repeat;
    background-position: right 25px center;
    padding-right: 45px;
    margin-bottom: 10px;
    background-size: 18px 12px;
    // background-image: url("../themes/images/v2/lingwing-dropdown-pointer-down.png");
    background-image: url("../themes/images/v2/dropdown-arrow-white.png");
    div span {
      @include transition(color 0.2s linear);
    }
    &:hover {
      div span {
        color: $colorYellow;
      }
    }
  }
  .lingwing-authorization-ui-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #f6a213;
    display: inline-block;
    img {
      width: 35px;
      height: 35px;
      display: inline-block;
    }
  }
  .lingwing-authorization-ui-username {
    width: 115px;
    color: #333333;
    font-size: 16px;
    display: inline-block;
    text-transform: capitalize;
    font-family: $fontFamilyPrimary;
    line-height: 40px;
    padding: 0 0 0 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .ka_ge & {
      font-family: $fontFamilyGePrimaryLanding;
      font-weight: 800;
      transform: translateY(2px);
    }
  }
  .lingwing-authorization-ui-start {
    color: #333;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 30px;
    line-height: 40px;
    margin-left: 51px;
    margin-right: 25px;
    border: 2px solid #bdbdbd;
    text-transform: uppercase;
    font-family: $fontFamilyPrimary;
  }
  .lingwing-authorization-guest {
    font-size: 16px;
    line-height: 40px;
    margin-left: 15px;
    text-transform: uppercase;
    a {
      color: #333333;
      font-family: $fontFamilyPrimary;
      .ka_ge & {
        font-family: $fontFamilyGePrimaryLanding;
        line-height: 46px;
      }
    }

    span {
      color: #9ca5a8;
      font-family: $fontFamilyPrimary;
    }
  }
}
.lingwing-language-dropdown {
  &.w-offset-r {
    margin-right: 20px; //41px;
    // .ru_ru & {
    // 	margin-right: 10px;
    // }
  }
  .lingwing-language-dropdown-toggle {
    color: #333333;
    font-size: 16px;
    display: block;
    margin: 0;
    line-height: 40px;
    padding-right: 45px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    font-family: "SegoeUI";
    background-position: right 20px center;
    background-image: url("../themes/images/v2/lingwing-dropdown-pointer-down-lighter.png");
    &.currency {
      .ka_ge & {
        font-family: "bpg_arial_2009";
      }
    }
    img {
      position: relative;
      top: -2px;
      right: 5px;
    }
  }
  ul {
    right: 0;
    left: inherit;
  }
}
.lingwing-header-menu-addon {
  ul {
    @extend .clearfix;
    li {
      float: left;
      margin-right: 44px;
      .ru_ru & {
        margin-right: 23px;
      }
      a {
        display: block;
        padding-left: 30px;
        font-size: 16px;
        color: #9ca5a8;
        line-height: 38px;
        font-family: $fontFamilyPrimary;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position: left center;
        &.dashboard {
          background-image: url("../themes/images/v2/icon-dashboard.png");
        }
        &.add-new {
          background-image: url("../themes/images/v2/icon-plus-black.png");
        }
        .ka_ge & {
          font-family: $fontFamilyPrimaryGe2;
        }
      }
    }
  }
}
.dropdown-menu {
  &.lingwing-dropdown {
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #e8e8e8;
    overflow: hidden;
    &.dropdown-menu-stretch {
      width: 125%;
    }
    &:before {
      top: -12px;
      right: 12px;
      width: 37px;
      height: 12px;
      content: " ";
      display: block;
      position: absolute;
      z-index: 200000;
      background-repeat: no-repeat;
      background-image: url("../themes/images/v2/lingwing-dropdown-menu-pointer-up.png");
    }
    > li {
      border-bottom: 1px solid #eaeaea;
      &:last-child {
        border: none;
        border-top: 1px solid #eaeaea;
      }
      &:nth-last-child(2) {
        border-bottom: none;
      }
      > a {
        color: #333333;
        font-size: 16px;
        padding: 15px 20px;
        cursor: pointer;
        font-family: $fontFamilyPrimary2;
        @include transition(all 0.2s linear);
        &:hover {
          color: #000;
          background-color: #f2f2f2;
        }
        .ka_ge & {
          font-family: $fontFamilyPrimaryGe2;
        }
      }
      &.icon {
        a {
          padding-right: 55px;
          background-repeat: no-repeat;
          background-position: right 25px center;
        }
        &.icon-logout {
          a {
            background-image: url("../themes/images/v2/icon-logout.png");
          }
        }
        &.icon-dashboard {
          a {
            background-image: url("../themes/images/v2/icon-dashboard-grey.png");
          }
        }
      }
    }
    .currency-list {
      border-bottom: 1px solid #eaeaea;
      &:last-child {
        border: none;
        // border-top:1px solid #eaeaea;
        padding-top: 4px;
        height: 45px;
      }
      .gel {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
  }
}
