
.newleng-conteiner {
	width: 100%;
	// min-height: 950px;
	 height: 100%;
	background: url(../themes/images/v1/svg/bg-lingwing-white-lightgrey.svg),-moz-radial-gradient(center,circle cover,rgba(255,255,255,.15) 0,rgba(148,148,148,0) 42%,transparent 100%);
    background: url(../themes/images/v1/svg/bg-lingwing-white-lightgrey.svg),-webkit-radial-gradient(center,circle cover,rgba(255,255,255,.15) 0,transparent 42%,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat;
	background-color: #692e96;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	position: absolute;
	.newleng-header {
		.lingwing-header.lingwing-header-white {
		    background-color: transparent;
		    box-shadow: none;
		    div {
		    	.pull-left {
				    .nav-menu {
					    border: 2px solid #9672b1;
					    &:hover {
					    	border: 2px solid #fff;
					    }
					}		
		    	}
		    }
		}
	}
	.btn-group.btn-group-vertical.pull-right {
		display: none!important;
	}
	.leng-box {
		width: 950px;
		height: 81%;
		margin:3% auto 0 auto;
			.left-box {
				// border:1px solid #fff;
				width: 100px;
				height: 100px;
				float: left;
				position: relative;
				z-index: 12;
				margin-left: 15%;
				.leng-flag {
					width: 100px;
				    height: 100px;
				    border: 6px solid #592e85;
				    border-radius: 50%;
				    margin-right: 3%;
				    box-shadow: 0 0 11px #6d4e4e;
				    float: left;
				    left: 122px;
				    top: -28px;
				}
			}
			.left-right {
				// border: 1px solid green;
				float: left;
				width: 600px;
				height: 100px;
				padding-left: 30px;
				.newleng-title {
					text-align: left;
				    top: -8px;
				    left: 0;
				    font-size: 45px;
				    max-width: 600px;
				    color: #fff;
					font-family: $fontFamilyCostum;
					position: relative;
					z-index: 11;
					.ka_ge & {
						font-family: $fontFamilyGePrimaryLanding;
						font-weight: bolder;
					}
					.ru_ru & {
						font-family: $fontFamilyCostumRussian;
						margin-left: 17px;
					}
					strong {
						color: #ffc300;
					}
				}
				.newleng-title-2 {
					text-align: center;
					font-size: 42px;
					color: #fff;
					font-family: $fontFamilyCostum;
					margin-bottom: 26px;
	    			margin-left: -81px;
	    			line-height: 1.6;
	    			position: relative;
	    			z-index: 12;
	    			margin-top: -33px;
					.ka_ge & {
						margin-left: -120px;
						font-family: $fontFamilyGePrimaryLanding;
						font-weight: bolder;
						line-height: 1.7;
					}
					.ru_ru & {
						font-family: $fontFamilyCostumRussian;
					}
					.es_es & {
						margin-left: 28px;
						line-height: 1.6;
					}
					.en_us & {
						line-height: 1.6;
					}
				}
			}
		.newleng-parrot {
			width: 701px;
		    height: 500px;
		    margin-top: -150px;
		    margin-left: 10%;
		    background-image: url(../themes/images/v1/parrothandshake.png);
		    background-repeat: no-repeat;
		    background-size: 380px;
		    background-position: center;
		    background-position-x: 110px;
		    .leng-erth-bullet {
		    	width: 150px;
		    	height: 150px;
		    	margin-top: 160px;
		    	margin-right: 28px;
				background-image: url(../themes/images/v1/bubble-main.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    position: relative;
			    display: -webkit-flex;
			    display: flex;
			    -webkit-flex-direction: row;
			    flex-direction: row;
			    -webkit-align-items: center;
			    align-items: center;
			    -webkit-justify-content: center;
			    justify-content: center;
			    .erth-slogan{
			    	align-self: center;
				    font-family: $fontFamilyCostum,$fontFamilyPrimaryGe2;
				    font-size: 55px;
				    color: #692e96;
				    cursor: pointer;
				    text-align: center;
				    height: 95px;
				    width: 126px;
				    margin-top: 16px;
				    margin-left: 12px;

			    }
		    }
		}
		.time-conteiner {
			width: 100%;
			height: 125px;
			// border:1px solid red;
			display: flex;
    		justify-content: center;
		}
		.bottom-conteiner {
			width: 100%;
			height: 80px;
			margin-top:2%;// 80px;
			.social-section {
				.fb-fb {
					padding: 12px;
					display: flex;
    				justify-content: center;
					.sendButton.newleng{
					    position: absolute;
					    left: auto;// 34%;
					    bottom: 17px;
					    color: #99ccff;
					    border-color: #99ccff;
					    font-weight: bolder;
					    padding: 14px 45px;
					    font-size: 19px;
					    border-radius: 30px;
					    &:hover {
					    	color: #fff;
	    					border-color: #6c91de;
	    					background-color: #6c91de;
	    					box-shadow: -25px 15px 50px #4c246f;
					    	.sendButtonFb {
						    	color: #fff;
						    }	
					    }
					    // .ru_ru & {
					    // 	left: 36%;
					    // }
					    // .en_us & {
					    // 	left: 35%;
					    // }
					    // .es_es & {
					    // 	left: auto; //37%;
					    // }
					    .sendButtonFb {
					    	color: #99ccff;
					    	font-size: 22px;
						    font-weight: bold;
						    position: absolute;
						    left: 31px;
						    top: 14px;
					    }
					}
				}
			}
		}
		
		
		 

	}
	.newleng-footer {
		position: absolute;
		bottom: 20px;
		left: 35px;
		width: 200px;
		.homepage-footer {
			.social-box.pull-left {
				color: #fff;
				p {
				    color: #fff;
				}
				.btn-group {
					a {
						.socicons.transition {
							color: #fff;
							border-color: #c8c8c8;
							&:hover {
								border-color: #fff;
							}
						}
					}
				}
				.lwright.transition {
					color: #000;
				}
			}
		} 

	}
}

  

/*    TIme function style     */



// Countdown
.countdown {
	width: 690px;
    margin: 0 auto;
    // border: 1px solid #fff;
    height: 120px;
  .bloc-time {
    float: left;    
    margin-right: 28px;    
    text-align: center;    

    &:last-child {
      margin-right: 0;
    }
  }

  .count-title {
    display: block;
    margin-bottom: 15px;
    font: normal 1.2em $fontFamilyA;
    color: #fff;//  #1a1a1a;
    text-transform: uppercase;
    	.ka_ge & {
    		font: normal 1.2em $fontFamilyPrimaryGe2;
    	}
  }

  .figure {
    position: relative;
    float: left;
    height: 80px;// 110px;
    width: 70px; // 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 12px; 
    @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08));

    &:last-child {
      margin-right: 0;
    }
  
    >span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
     // font: normal 5.94em/107px $fontFamilyA;
     font: normal 3.94em/74px $fontFamilyA;
      font-weight: 700;
      color: #de4848;
    }

    .top, .bottom-back {    
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }

    .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%; 
      @include border-top-radius(10px); 
      @include transform(perspective(200px));
    }

    .bottom {  
      z-index: 1;
      
      &:before {
        content: "";
        position: absolute;
        display: block; 
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, .02);
      }
    }

    .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;    
      background-color: #f7f7f7;
      @include border-top-radius(10px);

      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top, .top-back {
      height: 50%;
      overflow: hidden;
      @include backface-visibility(hidden);
    }

    .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      @include transform(perspective(200px) rotateX(180deg));
      @include border-bottom-radius(10px); 

      span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}



/*    Media style   */
@media (max-width: 992px){
	.newleng-conteiner {
		// min-height: 1000px;
		.leng-box {
			width: 98%;
			.leng-flag {
			    width: 77px;
			    height: 77px;
			    top: -16px;
			    left: 140px;
			}
			.newleng-title {
				font-size: 34px;
				position: relative;
    			z-index: 12;
			}
				
				.newleng-title-2 {
					font-size: 34px;
				}	
			.newleng-parrot {
			    width: 537px;
			    height: 500px;
			    // margin-left: 20%;
			    // margin-top: -139px;
			    margin: -2px auto 0 auto;
			    background-size: 380px;
			    background-position-x: inherit;
			    .leng-erth-bullet {
				    margin-right: -17px; 
				    margin-top: 69px;
				}
			}
			.bottom-conteiner {
			    width: 100%;
			    height: 80px;
			    margin-top:2%; //70px; //390px;
			    position: relative;
    			display: block;
    			.social-section {
	    			.sendButton.newleng {
	    				margin: 0 auto;
					    // left: 31%;
					    bottom: 17px;	
					}
    			}
			}
			.time-conteiner {
			    width: 100%;
			    height:80px; // 125px;
			    margin-top: 20px;
				.countdown {
					width: 550px;
					margin: 0px auto 40px auto;
					.bloc-time {
					    margin-right: 20px;
					    &:nth-last-child(1){
					    	margin-right: 0;
					    }
					}
					.figure {
					    height: 64px;
    					width: 55px;
					}
				}
				.countdown .figure > span {
				    font: normal 2.94em/58px "SegoeUIBlack";
				}
			}


		}
	}

	.newleng-conteiner .leng-box .left-box {
	    width: 81px;
	    padding-top: 12px;
		 .leng-flag {
		  	width: 77px;
		    height: 77px;
		    top: -16px;
		    left: 140px;
		}
	}

	.newleng-conteiner .leng-box .left-right {
		width: 509px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title {
	    font-size: 36px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title-2 {
	    font-size: 34px;
	    margin-left: -25px;
	    margin-top: -21px;
	    .ru_ru & {
	    	margin-left: -81px;
	    }
	}

	.newleng-conteiner .leng-box .bottom-conteiner .social-section .sendButton.newleng {
	    position: absolute;
	    left: 31%;
	}


}

@media (max-width: 780px) {
	.newleng-conteiner {
		// min-height: 1000px;
		.leng-box {
			width: 100%;
			padding-top: 30px;
				.leng-flag {
				    width: 55px;
  					height: 55px;
				    top: -7px;
				    left: 128px;
				}
				.newleng-title-2 {
					font-size: 28px;
				}	
			.bottom-conteiner {
				.social-section {
					.sendButton.newleng {
					    margin: 0 auto;
					    bottom: 17px;
					    display: block;
					    left: 26%
					}
				}
			} 

		}
	}
	.ka_ge .newleng-conteiner .leng-box .left-right .newleng-title {
	    margin-left: -2px;
	}
	.newleng-conteiner .leng-box .left-right {
		width: 438px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title {
	    font-size: 28px;
	    margin-left: -2px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title-2 {
        font-size: 28px;
	    margin-left: -101px;
	    margin-top: -18px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .bloc-time {
	    margin-right: 15px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown {
	    width: 517px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .figure {
	    height: 62px;
	    width: 53px;
	}


}
@media (max-width: 668px) {

	.newleng-conteiner .leng-box .left-box {
	    width: 68px;
	    margin-left: 5%;
	}
	.newleng-conteiner .leng-box .left-box .leng-flag {
	    width: 64px;
	    height: 64px;
	}
	.newleng-conteiner .leng-box .left-right {
	    width: 400px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title-2 {
	    margin-left: -51px;
	    .ru_ru & {
		    margin-left: -71px;
		}
		.ka_ge &{ 
		    margin-left: -79px;
		}

	}
	.newleng-conteiner .leng-box .left-right .newleng-title {
		.ru_ru & {
    		margin-left: 0px;
		}
	}
	.newleng-conteiner .leng-box .bottom-conteiner .social-section .sendButton.newleng {
	    left: 18%;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .bloc-time {
	    margin-right: 9px;
	}
	.es_es .newleng-conteiner .leng-box .left-right .newleng-title-2 {
	    margin-left: -14px;
	    line-height: 1.6;
	}

}


@media (max-width: 580px) {

	.newleng-conteiner .leng-box .newleng-parrot {
	    width: 360px;
	    height: 350px;
	    background-size: 222px;
		.leng-erth-bullet {
		    width: 117px;
		    height: 120px;
		     margin-top: -3%; // 35px;
			.erth-slogan {
			    font-size: 44px;
			    margin-top: 26px;
			}
		}
	}
	.newleng-conteiner .leng-box .left-right {
	    width: 328px;
    	padding-left: 16px;
    	.newleng-title {
	    	font-size: 26px;
		}
	    .newleng-title-2 {
		    margin-left: -39px;
		    font-size: 24px;
			.ru_ru & {
			    margin-left: -53px;
			}
			.es_es & {
			    margin-left: -10px;
			}
		}
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .figure > span {
	    font: normal 1.6em/44px $fontFamilyPrimary2;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .figure {
	    height: 50px;
	    width: 34px;
	    border-radius: 4px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown {
	    width: 363px;
	}
	.newleng-conteiner .leng-box .left-box .leng-flag {
	    width: 59px;
	    height: 59px;
	    border: 4px solid #592e85;
	}
	.newleng-conteiner .leng-box .left-box {
	    width: 62px;
	    margin-left: 2%;
	}
	.countdown .count-title {
		font-family: $fontFamilyPrimary2; 
		font-size: 13px;
	}
	.newleng-conteiner .leng-box {
	    padding: 0;
	}
	.newleng-conteiner {
	    padding: 8px;
	}
	.newleng-conteiner .leng-box .bottom-conteiner .social-section .fb-fb .sendButton.newleng {
	    padding: 12px 35px;
	    font-size: 17px;
	    .ka_ge & {
	    	font-size: 17px;
	    	padding: 12px 27px;
	    }
	}
	.newleng-conteiner .leng-box .bottom-conteiner .social-section .fb-fb .sendButton.newleng .sendButtonFb {
	    font-size: 20px;
	    left: 23px;
	    top: 12px;
	}



}


@media (max-width: 450px) {
	.newleng-conteiner .leng-box .left-box {
	    padding-top: 5px;
	}

	.newleng-conteiner .leng-box .newleng-parrot .leng-erth-bullet {
	    width: 97px;
	    height: 105px;
	    margin-top: 13px;
	    margin-right: -1px;
	}
	.newleng-conteiner .leng-box .newleng-parrot {
		background-position-x: 3%;
	}
	.newleng-conteiner .leng-box .left-right {
    width: 242px;
    padding-left: 11px;
}
	.newleng-conteiner .leng-box .left-right .newleng-title {
	    font-size: 20px;
		.es_es & {
		    font-size: 19px;
		}
	}
	.newleng-conteiner .leng-box .left-right .newleng-title-2 {
	    margin-left: -35px;
	    font-size: 18px;
	}
	.newleng-conteiner .leng-box .time-conteiner {
	    margin-top: 0px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .bloc-time {
	    margin-right: 11px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .figure {
	    height: 43px;
	    width: 30px;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .figure > span {
	    font: normal 1.6em/40px $fontFamilyPrimary2;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown {
	    width: 319px;
	}
	.newleng-conteiner .leng-box .time-conteiner {
	    margin-top: 0px;
	    padding: 0;
	}
	.newleng-conteiner .leng-box .newleng-parrot {
	    width: 342px;
	}
	.countdown .count-title {
		.ru_ru & {
			font: normal 0.9em $fontFamilyPrimary2;
		}

	}

}



@media (max-width: 359px) {

	.newleng-conteiner .leng-box .left-right .newleng-title {
	    font-size: 18px;
	}
	.newleng-conteiner .leng-box .left-right .newleng-title-2 {
	    margin-left: -24px;
		.ru_ru & {
		    margin-left: -38px;
		}
		.ka_ge &{ 
		    margin-left: -42px;
		}
	}
	.newleng-conteiner .leng-box .left-box {
	    padding-top: 12px;
	}
	.newleng-conteiner .leng-box .left-box {
	    width: 40px;
	    margin-left: 0;
	    .leng-flag {
		    width: 38px;
		    height: 38px;
		    border: 2px solid #592e85;
		}
	}
	.newleng-conteiner .leng-box .left-right {
	    width: 242px;
	    padding-left: 11px;
	}
	.newleng-conteiner .leng-box .newleng-parrot {
	    width: 288px;
	    height: 350px;
	    background-size: 198px;
	    background-position-x: 1%;
	}
	.newleng-conteiner .leng-box .newleng-parrot .leng-erth-bullet {
	    width: 75px;
	    height: 88px;
	    margin-top: 28px;
	    margin-right: -1px;
		.erth-slogan {
		    font-size: 30px;
		    margin-top: 38px;
		}
	}
	
	.newleng-conteiner .leng-box .time-conteiner .countdown {
    	width: 285px;
		.figure {
		    margin-right: 3px;
		}
	}

	.newleng-conteiner .leng-box .time-conteiner .countdown {
	    margin: 0px auto 23px auto;
	}
	.newleng-conteiner .leng-box .time-conteiner .countdown .bloc-time {
	    margin-right: 6px;
	}
	.countdown .count-title {
		.es_es & {
		    font-family: "SegoeUI-SemiBold";
		    font-size: 12px;
		}
	}


}







// Other time function style

.time-box {
	width: 100px;
    height: 100px;
    float: left;
    margin-right: 2.8%;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -16px 8px 12px #4d256f;
    font-family: "SegoeUI-SemiBold"; 
}
.time-box-num {
	width: 100%;
    height: 70px;
    background-color: white;
    font-weight: bold;
    font-size: 36px;
    color: #692e96;
    display: flex;
    justify-content: center;
    align-items: center;
   	font-family: $fontFamilyPrimary;
}
.time-box-name {
	display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #966cb5;
    border-bottom: 3px solid #966cb5;
    color: #ffffff;
    padding: 3px;
    font-family: $fontFamilyPrimary;
    .ka_ge & {
    	font-family: $fontFamilyPrimaryGe2;
    }
}

/*    Media style   */
@media (max-width: 992px){ 

	.time-box {
		height: 90px;
	    margin-right: 2.4%;
	    border-radius: 12px;
	    box-shadow: -9px 8px 12px #4d256f;
	}
	.time-box-num {
		height: 60px;
		font-size: 44px;
	}


}

@media (max-width: 580px){ 

	.time-box {
	    width: 75px;
	    height: 72px;
	    margin-right: 2.4%;
	    border-radius: 8px;
	    box-shadow: -5px 4px 6px #4d256f;
	}
	.time-box-num {
	    height: 45px;
	    font-size: 24px;
	}
	.time-box-name {
	    font-size: 14px;
	    border-bottom: 3px solid #ac99bd;
	}


}

@media (max-width: 400px){ 

	.time-box {
	    width: 71px;
	    height: 69px;
	    margin-right: 2.2%;
	    border-radius: 8px;
	    box-shadow: -2px 2px 6px #4d256f;
	}
	.time-box-num {
	    height: 45px;
	    font-size: 24px;
	}
	.time-box-name {
		color: #000;
	    font-size: 13px;
	    border-bottom: 3px solid #ac99bd;
	}


}




