
.ka_ge {
	.course-review {
		.cource-overview {
			.overview {
				.course-stats {
					div {
						 p {
						    font-family: $fontFamilyPrimaryGe2;
						    font-weight: bolder;
						}
					}
				}
				h1 {
				     font-family: $fontFamilyPrimaryGe2;
				         font-weight: bolder;
				}
				div {
					p {
					    font-family: $fontFamilyPrimaryGe2;
					        font-weight: bolder;
					}
				}
				.review-main-button {
					  font-family: $fontFamilyPrimaryGe2;
					      font-weight: bolder;
				} 
			}
		}
	}
	.course-overview-about-and-ratings {
		.about {
			h2{
			     font-family: $fontFamilyPrimaryGe2;
		         font-weight: bolder;
			}
			h3 {
				p {
				  font-family: $fontFamilyPrimaryGe2;
			      font-weight: bolder;
				}
			}
			 .sylabus-main-button{
				  font-family: $fontFamilyPrimaryGe2;
			      font-weight: bolder;
			}
			.txt{
			  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
			}
		}
		.scores {
			h2{
		  	  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
		      position: relative;
		      z-index: 2;
			}
			ul {
				li {
					.name {
						.full-name{
					 		font-family: $fontFamilyPrimaryGe2;
					        font-weight: bolder;
						} 
					}
				} 
			}  
		} 
	}

}    
 


.ka_ge .about-quotes h2 {
		  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(1){
		  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(2){
		  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(3){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(4){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(5){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-left .quote:nth-child(6){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}

.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(1){
		  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(2){
		  font-family: $fontFamilyPrimaryGe2;
		      font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(3){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(4){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(5){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}
.ka_ge .about-quotes .quotes.quotes-right .quote:nth-child(6){
		  font-family: $fontFamilyPrimaryGe2;
		   font-weight: bolder;
}


.ka_ge {
	.available-languages {
		.frame {
			ul {
				li {
					.wrap {
						.lang-title{
						  font-family: $fontFamilyPrimaryGe2;
						   font-weight: bolder;
						}
					} 
				} 
			} 
		}
		h2{
			font-family: $fontFamilyPrimaryGe2;
			 font-weight: bolder;
		} 
	} 
} 
.ka_ge .start-learning a{
	 font-family: $fontFamilyPrimaryGe2;
	  font-weight: bolder;
}
.ka_ge .course-review-social h2{
	 font-family: $fontFamilyPrimaryGe2;
	  font-weight: bolder;
}
.ka_ge .textarea{
	font-family: $fontFamilyPrimaryGe2;
	 font-weight: bolder;
}

// .ka_ge .course-review .course-overview-parrot .parrot-course-bubble{
//    	font-family: "bpg_arial_2009";
// 	 font-weight: bolder;
// }




