.ge,
.ka_ge {
	.application {
		.checkButton {
			//padding-right: 35px;
			span {
				font-family:$fontFamilyPrimaryGe2;
				padding: 9px 22px 7px 22px;
			}
		}
	}
}

// .ka_ge{
// 	.application {
// 		.application-input-area {
// 			.single-input-area {
// 				font-family:$fontFamilyPrimaryGe2;
// 			}
// 		}
// 	}
// }

.ge,
.geo,
.ka_ge {
	.feedback-text {
		font-family:$fontFamilyPrimaryGe2;
	}
	.application {
		.application-header {
			.question-counter {
				.counter-desc {
					font-family:$fontFamilyPrimaryGe2;
				}
			}
			.mistakes-left-desc {
				span {
					font-family:$fontFamilyPrimaryGe2;
				}
			}
		}
		.application-task-description {
			.task-explanation {
				font-family:$fontFamilyPrimaryGe2;
			}
			.application-task-info {
				.info-area-wrap {
					.info-area {
						font-family:$fontFamilyPrimaryGe2;
						/* font-weight:bold; */
					}
					.exercise-dictation {
						.listen-recording {
							span {
								font-family:$fontFamilyPrimaryGe2;
							}
						}
					}
				}
			}
		}
		.application-input-area {
			.hint-area-wrap {
				.hint-area {
					.hint-desc {
						font-family:$fontFamilyPrimaryGe2;
					}
				}
			}
 			.single-input-area {
 				font-family:$fontFamilyPrimaryGe2;
 			}
			.play-button-desc {
				font-family:$fontFamilyPrimaryGe2;
			}
		}
	}
}
