.ru_ru {
  .course-review {
    .cource-overview {
      .overview {
        h1 {
          font-family: $fontFamilyCostumRussian;
        }
      }
    }
  }
  .course-overview-about-and-ratings {
    .about {
      h2 {
        font-family: $fontFamilyCostumRussian;
      }
    }
    .scores {
      h2 {
        font-family: $fontFamilyCostumRussian;
      }
    }
  }
  .about-quotes {
    .about--quotes--inner {
      h2 {
        font-family: $fontFamilyCostumRussian;
      }
    }
  }
  .available-languages {
    h2 {
      font-family: $fontFamilyCostumRussian;
    }
    .frame {
      ul {
        li {
          .wrap {
            .lang-title {
              font-family: $fontFamilyCostumRussian;
              font-size: 2.8vh;
            }
          }
        }
      }
    }
  }
}
