.es_es {
  /*   Footer pages >> Wizard and Dashbord   */
  .page-footer {
    .footer-box {
      width: 730px; // 530px;
      height: 48px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }
}
