// @media only screen
//   and (min-height: 750px)
//   and (max-width: 649px) {
// 	.home-section-a .parrot-handshake .parrot .headingText {
// 	    margin-top: 2%;
// 	}
// }

// @media only screen
//   and (min-height: 750px)
//   and (max-width: 649px) {
// 	.home-section-a .parrot-handshake .parrot .headingText {
// 	    margin-top: 2%;
// 	}
// }


@media only screen
  and (max-height: 650px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    // margin-top: 28%;
	}
}

@media only screen
  and (max-height: 590px) {
	.home-section-d .bubble-space .contentBox .product-tips {
		display: none;
	}
}


@media only screen
  and (min-width: 650px)
  and (max-width: 768px)
  and (min-height: 650px) {
  	.home-section-a .parrot-handshake .parrot {
	    // bottom: 23%;
	}
}

@media only screen
  and (min-width: 736px)
  and (max-width: 768px) {
  	.home-section-d {
	    background-size: 29%, 230%;
  		.bubble-space {
			.contentBox {
				.bubble-container {
					.descriptionText {
					    margin-left: 24%;
					}
				}
			}

  		}
	}
}

@media only screen
  and (max-width: 650px)
  and (max-height: 880px)  {
    .home-section-a {
      .parrot-handshake {
        .parrot {
          .bubble {
               margin-top: 8%;
            .highlightAnswer {
              span {
                  font-size: 0.7em;
              }
            }
          }
        }
      }
    }

}

@media only screen
  and (min-width: 650px)
  and (max-width: 736px)
  and (min-height: 650px)  {
	.home-section-a .footerText {
    	// bottom: 26%;
    }
}

@media only screen
  and (max-width: 600px)
  and (max-height: 960px)  {

  .home-section-a {
    .parrot-handshake {
      .parrot {
        .bubble {
             margin-top: 8%;
          .highlightAnswer {
            span {
                font-size: 0.7em;
            }
          }
        }
      }
    }
  }

    /*    Gramer task page    */
    .application {
      .app-page {
        .container.height-gr {
          .gr-sc {
            .application-header.clearfix {
              padding: 10px;
            }
          }
          .scrollbar-dynamic {
              padding: 0 10px;
          }
        }
      }
    }



}

@media only screen
  and (max-width: 412px)
  and (max-height: 736px) {

     /*   Grammer task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 85%;
              }
            }
            .gr-sc {
              .application-header.clearfix {
                 margin-top: 13px !important;
              }
            }
          }
        }
      }
    }
    /*  unsubscribe page   */
    .unsubscribe_footer {
        .pbt-foot.abs {
            position: relative;
        }
    }
    /*   mob lending certificate  */
    .mb-lend-body {
      .sim-bg {
        .conteiner {
          .mb-parrot-bg {
            .mob-certificate-box {
              width: 30%;
              right: -71px;
              bottom: 13px;
            }
          }
        }
      }
    }
    /*     dialog task    */
    .application {
      .tiny-page {
        .container {
          .application-task-description.task-dialog {
            height: 600px;
            .dialog-preview {
                top: -200px;
                background-position: 50% 50%;
            }
            .dialog-wrap {
              height: 94%;
              max-height: 100%;
              min-height: 200px;
              padding-top: 85px;

              ul {
                li {
                    width: 295px;
                  &:nth-child(even) {
                    width: 295px;
                  }
                }
              }
            }
          }
        }
      }
    }


    .application .tiny-page {
        height: 91.1%;
    }

   /*  end   dialog task    */


}


@media only screen
  and (min-width: 500px)
  and (max-width: 736px)
  and (max-height: 736px) {
	.home-section-b .contentBox .product-tips {
		display: none;
	}
}

@media only screen
  and (min-width: 450px)
  and (max-width: 736px)
  and (max-height: 736px) {
	.home-section-d .bubble-space .contentBox .product-tips {
		display: none;
	}
}

@media only screen
  and (min-width: 480px)
  and (max-width: 736px)
  and (max-height: 650px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 6%;
	}
}


@media only screen
  and (max-width: 480px)
  and (max-height: 650px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 20%;
	}
}

// @media only screen
//   and (max-width: 390px)
//   and (max-height: 650px) {
// 	.home-section-a .parrot-handshake .parrot .headingText {
// 	    margin-top: 24%;
// 	}
// }


@media only screen
  and (max-width: 350px)
  and (max-height: 650px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 29%;
	}
   .ka_ge .home-section-a {
        .parrot-handshake {
            .parrot {
                .headingText {
                     margin-top: 29%;
                    .highlight {
                        margin-top: -12px;
                        div div span {
                           margin-top: 8%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen
  and (min-width: 360px)
  and (max-width: 390px)
  and (max-height: 650px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 24%;
      .tr_tr & {
        margin-top: 20%;
      }
	}
}

@media (max-width: 450px) and (max-height: 400px) {
    .home-section-a .parrot-handshake .parrot .headingText {
        .tr_tr & {
          top: 8px;
        }
        .ka_ge & {
          top: 8px;
        }
    }
}



@media only screen
  and (min-width: 480px)
  and (max-width: 768px)
  and (max-height: 600px) {
	.home-section-a .footerText {
		display: none !important
	}
}


@media only screen
  and (max-width: 320px)
  and (max-height: 480px) {
	.home-section-a .footerText {
        margin: -22px -50px;
	}

	.home-section-d {
	    background-position: top right, center 288px;
	}


  /*   Grammer task page   */
  .grammar {
    .application {
      .app-page {
        .container.height-gr {
          .clearfix.clearfix-grammar {
            .scrollbar-dynamic {
              height: 88%;
            }
          }
        }
      }
    }
  }

  .application {
    .overflowFix {
      overflow: unset !important;
    }
    .tiny-page {
      height: 86% !important;
      overflow: hidden;
      .container {
          height: 100% !important;
        .application-task-description.task-dialog.dialog-started {
          .dialog-preview {
            background-image: none;
          }
        }
      }
    }
  }
  /*   Out Of Test   */
  .application.app-stop-page.outoftest {
    .tiny-page.outoftest {
      overflow: visible;
    }
  }

}

.mb-lend-body .sim-bg .conteiner .lingwing-header.lingwing-header-app.lingwing-header-transparent {
    max-width: 100%;
}



/**  Mobile lending  **/

@media only screen
  and (max-width: 960px)
  and (max-height: 600px) {
    .mb-lend-body {
      max-width: 100%;
      .sim-bg {
        .mb-leng-nav {
          margin-right: 13px;
        }
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              .lingwing-authorization-ui {
                .lingwing-authorization-ui-dropdown-toggle {
                 /* display: none;*/
                }
              }
          }
          .app-logo-wrap.mb-lend {
            max-width: 100%;
            .mob-lend-logo {
               width: 93%;
             }
             .lingwing-language-dropdown.w-offset-r {
                  margin-right: -13px;
                  margin-top: -8px;
                  width: 100px;
              }
          }
          .mb-parrot-bg {
             // background-size: 64% 80%;
            .mb-top-parrot {
             //  background-size: 224px;
              //  margin: 31px 281px 0px -125px;
            }
            .mb-sld {
              .carousel-inner {
                display: none;
                .item.active{
               //   margin-top: 217px;
                }
              }
            }
          }
          .mb-phon-box {
            .phon.android {
                margin-left: 2%;
            }
          }
        }
      }
    }

    /*    Gramer task page    */
    .application {
      .app-page {
        .container.height-gr {
          .scrollbar-dynamic {
              padding: 0 10px;
          }
        }
      }
    }

}

@media only screen
  and (min-width: 950px)
  and (max-width: 970px)
  and (min-height: 590px)
  and (max-height: 610px){

  .mb-lend-body {
    .sim-bg {
      .conteiner {
        .app-logo-wrap.mb-lend .mob-lend-logo {
              top: 0px;
        }
      }
    }
  }
  .button {
    margin-top: 44px;
  }

}


@media only screen
  and (max-width: 736px)
  and (max-height: 414px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -13px;// 39px;
          top: 3px;
        }
        .conteiner {
          .mb-title {
            .h1-title {
                margin-top: 20px;
            }
          }
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              .lingwing-authorization-ui {
                .lingwing-authorization-ui-dropdown-toggle {
                 /* display: none;*/
                }
              }
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 100%;
             }
             .lingwing-language-dropdown.w-offset-r {
                  margin-right: -13px;
                  margin-top: -8px;
                  width: 100px;
              }
          }
          .mb-parrot-bg {
            margin: -61px 0 0 -101px;
            .mb-sld {
              .carousel-inner {
                 margin-left: 23%;
                 display: block;
                .item.active{
               //   margin-top: 217px;
                }
              }
            }
          }
          .mb-phon-box {
            .phon.android {
                margin-left: 2%;
            }
          }
        }
      }
    }
    /*  flow page 6  */
    .application {
      .app-page {
        .bonus-bg.page-6 {
          .bon-footer-txt.block.left {
            position: absolute;
            margin-top: 0%;
            top: 65px;
          }
        }
      }
    }
    /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      .tableview {
        height: 300px;
        .cellview {
          .wizard-step.wizard-step-2 {
            .wizard-bubbles {
              height: 43%;
              .bubble-col {
                  width: 18%;
              }
            }
            .step-bg-starBullet {
              bottom: calc(100% - 404px);
              height: 80%;
              background-size: 50%;
            }
          }
        }
      }
      .footer-step-box {
        .page-footer {
          //  height: 66px;
        }
      }
    }

     /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 914px);
        height: 100%;
      }
      /*  Wizard background parrot   */
      .step-bg-parrot {
          height: 50%;
      }
    }

    .wizard-current-step-4 {
      .len-box-bottom {
        margin-top: -70px;
      }
    }

      /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 85%;
              }
              .gr-sc {
                .application-header.clearfix {
                   margin-top: 80px !important;
                }
              }
            }
          }
        }
      }
    }

    /*    Task style   */
    .application {
      .tiny-page {
          height: 415px !important;
          overflow-y: scroll;
        .container {
          height: 100% !important;
          .application-header {
            margin-top: 64px;
            .error-progress-circle {
                margin-top: 3px;
            }
          }
        }
      }
    }
      .application .tiny-page.app-page-grammar {
        height: 100% !important; // 16px !important;
        background-color: #fff;
      }


    /*   Dialog Task   */
    // .application {
    //   .tiny-page {
    //     .container {
    //      .application-task-description.task-dialog {
    //         .dialog-wrap {
    //           ul {
    //             li {
    //               width: 610px;
    //             }
    //             li:nth-child(even) {
    //                 width: 610px;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    /*   Dashboard page, mobile app box  */
    .courses-list {
      .mobile-app-section {
          margin-top: -31px;
      }
      .mobile-app-section {
        .button-box {
            display: flex;
            justify-content: center;
            margin-top: 16px;
          .mb.ios {
              margin-left: 18px;
          }
        }
      }
    }


}

@media only screen
  and (max-width: 580px)
  and (max-height: 414px) {

      /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .gr-sc {
                .application-header.clearfix {
                   margin-top: 13px !important;
                }
              }
            }
          }
        }
      }
    }




}


@media only screen
  and (max-width: 732px)
  and (max-height: 412px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -30px; // 38px;
        }
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              .lingwing-authorization-ui {
                .lingwing-authorization-ui-dropdown-toggle {
                 /* display: none;*/
                }
              }
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 100%;
             }
             .lingwing-language-dropdown.w-offset-r {
                  margin-right: -13px;
                  margin-top: -8px;
                  width: 100px;
              }
          }
          .mb-parrot-bg {
            .mb-top-parrot {
               // margin: 31px 203px 0px -125px;
            }
            .mb-sld {
              .carousel-inner {
                  margin-left: 22%;
                  top: 250px;
                  display: block;
                .item.active{
               //   margin-top: 217px;
                }
              }
            }
          }
          .mb-phon-box {
            .phon.android {
                margin-left: 2%;
            }
          }
        }
      }
    }
    /*  flow page 6  */
    .application {
      .app-page {
        .bonus-bg.page-6 {
          .bon-footer-txt.block.left {
            position: absolute;
            margin-top: 0%;
            top: 65px;
          }
        }
      }
    }

    /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      height: 91%;
      top: 62px;
      .tableview {
        height: 300px;
        .cellview {
          .wizard-step.wizard-step-2 {
            .wizard-bubbles {
             // height: 45%;
              .bubble-col {
              //    width: 18%;
              }
            }
            .step-bg-starBullet {
             // bottom: calc(100% - 404px);
             // height: 80%;
              background-size: 38%;
            }
          }
        }
      }
      // .footer-step-box {
      //   .page-footer {
      //     //  height: 66px;
      //   }
      // }
    }


    .application {
      .tiny-page {
        .container {
          .application-task-description.task-dialog {
            .dialog-wrap {
              .mCSB_container {
                overflow: hidden;
                width: auto;
                height: auto;
                position: absolute;
                // width: 600px;//720px
                width: 100% !important;
                left: 0;
                /* margin: 0 auto; */
                ul {
                    margin: 0;
                    width: 104%;
                    margin-left: -21px;
                    padding-left: 25px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    margin-top: 90px;
                    li {
                        width: 86%;
                    }
                    li:nth-child(even) {
                        width: 86%;
                    }
                    li:nth-child(odd) {
                        width: 86%;
                    }
                }
              }
            }
          }
        }
      }
    }


    /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 860px);
        height: 100%;
      }
    }


}

@media only screen
  and (max-width: 640px)
  and (max-height: 384px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -15px;// 28px;
        }
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              .lingwing-authorization-ui {
                .lingwing-authorization-ui-dropdown-toggle {
                  /*display: none;*/
                }
              }
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 97%;
             }
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 97%;
             }
             .lingwing-header.lingwing-header-app.lingwing-header-transparent {
                .lingwing-authorization-ui {
                  .lingwing-authorization-ui-dropdown-toggle {
                    /*  display: none;*/
                  }
                }

             }
              .lingwing-language-dropdown.w-offset-r {
                  margin-right: -13px;
                  margin-top: -8px;
                  width: 100px;
              }
          }
          .mb-parrot-bg {
            background-size: 72% 74%;
            margin: -62px 0 0 -110px;
            .mb-sld {
              .carousel-inner {
                margin-left: 7%;
                display: block;
                top: -100px;
                .item.active{
                  margin-top: 217px;
                }
              }
            }
          }
        }
      }
    }
    .mb-lend-body .sim-bg .conteiner .mb-title .h1-title {
        margin-top: 22px;
    }
    /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      height: 91%;
      top: 62px;
      .tableview {
        height: 280px;
        background-color: #fbfbfb;
        .cellview {
          .wizard-step.wizard-step-2 {
            .wizard-bubbles {
             // height: 45%;
              .bubble-col {
              //    width: 18%;
              }
            }
            .step-bg-starBullet {
             // bottom: calc(100% - 404px);
             // height: 80%;
              background-size: 38%;
            }
          }
        }
      }
      .footer-step-box {
        .page-footer {
          height: 63px;
        }
      }
    }

  /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 814px);
        height: 100%;
      }
    }

   /*    Dialog Task start    */

    .application {
      .tiny-page {
        .container {
          .application-task-description.task-dialog {
          // background: green;
            margin-top: 80px;
           .dialog-wrap {
              ul {
              //  border:1px solid red;
                max-height: 216px;
                overflow-y: scroll;
                position: relative;
                margin-top: 70px;
                li {
                  width: 480px;// 245px;
                  &:nth-child(odd) {
                    width: 480px;// 245px;
                  }
                  &:nth-child(even) {
                    width: 480px;// 245px;
                  }
                }
              }
            }
          }
        }
      }
    }




}

@media only screen
  and (max-width: 640px)
  and (max-height: 360px) {

    .mb-lend-body {
      .sim-bg {
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              max-width: 100%;
          }
        }
        .mb-leng-nav {
            margin-right: -15px;
        }
      }
    }
    /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      height: 91%;
      top: 62px;
      .tableview {
        height: 280px;
        background-color: #fbfbfb;
        .cellview {
          .wizard-step.wizard-step-2 {
            .wizard-bubbles {
             // height: 45%;
              .bubble-col {
              //    width: 18%;
              }
            }
            .step-bg-starBullet {
              bottom: calc(100% - 404px);
             // height: 80%;
              background-size: 38%;
            }
          }
        }
      }
      .footer-step-box {
        .page-footer {
          height: 63px;
        }
      }
    }

    /*   Task style   */
    .application {
      .tiny-page {
        height: 380px !important;
        .container {
          height: 100% !important;
        }
      }
    }
    .areaFocused {
      .application {
        .tiny-page {
          .container {
            .application-task-description {
              bottom: 100px !important;
            }
          }
        }
      }
    }

    /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 77%;
              }
            }
          }
        }
      }
    }

    /*

      test style start

    */

        /*   Dialog task   */

        .application {
          .tiny-page {
            .container {
              .application-header {
                  margin-top: 64px;
                  .pull-right {
                    padding-top: 9px;
                  }
              }
              .application-task-description.task-dialog {
                &.dialog-loaded-one {
                  height: 195px;
                }
                .dialog-wrap {
                  height: 100%; // auto;// 195px;
                  ul {
                    li{
                      width:80%;
                      margin-bottom: 4px;
                      &:nth-child(even){
                        width:80%;
                      }
                    }
                  }
                }
              }
            }
          }
        }




    /*

     End test style

    */



}


@media only screen
  and (max-width: 667px)
  and (max-height: 375px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -33px; //28px;
          top: 0;
        }
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              max-width: 100%;
              .lingwing-authorization-ui {
                .lingwing-authorization-ui-dropdown-toggle {
                 /* display: none;*/
                }
              }
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 100%;
             }
             .lingwing-header.lingwing-header-app.lingwing-header-transparent {
                .lingwing-authorization-ui {
                  .lingwing-authorization-ui-dropdown-toggle {
                   /*   display: none;*/
                  }
                }

             }
          }
          .mb-parrot-bg {
            .mb-top-parrot {
                background-size: 43%;
              }
            .mb-sld {
              .carousel-inner {
                  margin-left: 11%;
                  display: block;
                  top: -96px;
                .item.active{
                  margin-top: 228px;
                }
              }
            }
          }
        }
      }
    }

    /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      height: 100%;
      .tableview {
         .cellview {
          .wizard-step.wizard-step-2 {
            .step-bg-starBullet {
              bottom: calc(100% - 405px);
            }
          }
        }
      }
    }
    /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
      bottom: calc(100% - 845px);
      height: 100%;
    }
    /*  Wizard background parrot   */
    .step-bg-parrot {
        height: 50%;
    }
  }


    /*   Task style   */
    .application {
      .tiny-page {
        height: 400px !important;
        .container {
          height: 100% !important;
          .application-header {
            .error-progress-circle {
                margin-top: -6px;
            }
          }
        }
      }
    }

      .application .tiny-page.app-page-grammar {
       // height: 16px !important;
      }

}

@media only screen
  and (max-width: 640px)
  and (max-height: 360px) {
    .mb-lend-body {
      .sim-bg {
        .conteiner {
          .mb-parrot-bg {
             .mb-top-parrot {
                 // margin: 22px 139px 0px -125px;
              }
            .mb-sld {
              .carousel-inner {
                margin-left: 6%;
                top: -111px;
             }
            }
          }
        }
      }
    }

    /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 772px);
        height: 100%;
      }
    }

    /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 85%;
              }
            }
          }
        }
      }
    }


  /*    Dialog Task start    */

    .application {
      .tiny-page {
        .container {
          .application-task-description.task-dialog {
           // border: 1px solid blue;
            margin-top: 11px;// 80px;
            height: 180px;
           .dialog-wrap {
              ul {
              //  border:1px solid red;
                max-height: 216px;
                overflow-y: scroll;
                position: relative;
                margin-top: 70px;
                li {
                  width: 480px;// 245px;
                  &:nth-child(odd) {
                    width: 480px;// 245px;
                  }
                  &:nth-child(even) {
                    width: 480px;// 245px;
                  }
                }
              }
            }
          }
        }
      }
    }


}

@media only screen
  and (max-width: 568px)
  and (max-height: 320px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -40px;
        }
        .conteiner {
          .lingwing-header.lingwing-header-app.lingwing-header-transparent {
              max-width: 100%;
          }
          .app-logo-wrap.mb-lend {
            .mob-lend-logo {
               width: 100%;
             }
          }
          .mb-parrot-bg {
              .mb-top-parrot {
                background-size: 43%;
              }
            .mb-sld {
              .carousel-inner {
                margin-left: 31%;
                display: block;
                top: 105px;
                .item.active{
                  margin-top: 140px;
                }
              }
            }
          }
        }
      }
    }
    /*  flow page 3-4  */
    .bon-bubble-items .btn-div.col-md-12 {
        display: block;
        margin-top: -33px;
    }
  /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
      bottom: calc(100% - 827px);
      height: 100%;
    }
  }
  .wizard-current-step-4 {
    .len-box-bottom {
      margin-top: -70px;
    }
  }
    /*  wizard step 2   */
    .lingwing-wizard.wizard-current-step-2 {
      .tableview {
        .cellview {
          .wizard-step.wizard-step-2 {
            .step-bg-starBullet {
                bottom: calc(100% - 399px);
            }
          }
        }
      }
    }

    /*   Task style   */
    .application {
      .tiny-page {
        height: 320px !important;
        .container {
          height: 100% !important;
        }
      }
    }

    /*   Dashboard page, mobile app box  */
    .courses-list .mobile-app-section {
       height: 200px;
    }

}

@media only screen
  and (max-width: 533px)
  and (max-height: 320px) {

  /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
      bottom: calc(100% - 784px);
      height: 100%;
    }
  }


}

@media only screen
  and (max-width: 480px)
  and (max-height: 320px) {
    .mb-lend-body {
      .sim-bg {
        .mb-leng-nav {
          margin-right: -15px;
        }
        .conteiner {
          .mb-parrot-bg {
              background-size: 72% 76%;
            .mb-sld {
              .carousel-inner {
                margin-left: 12%;
                display: block;
                top: 90px;
                .item.active{
                  margin-top: 14px;
                }
              }
            }
          }
        }
      }
    }

  /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
      bottom: calc(100% - 696px);
      height: 100%;
    }
  }
   /* wizard step 2  */
    .lingwing-wizard.wizard-current-step-2 {
      top: 62px !important;
      .tableview {
         .cellview {
          .wizard-step.wizard-step-2 {
            .wizard-bubbles {
              .bubble-col {
                  width: 25%;
              }
            }
          }
        }
      }
    }
  .wizard-current-step-4 {
    .len-box-bottom {
      margin-top: -70px;
    }
  }

    /*   Task style   */
    .application {
      .tiny-page {
        height: 320px !important;
        .container {
          height: 100% !important;
        }
      }
    }

    .application {
      .tiny-page {
        .container {
          .application-task-description.task-dialog {
            height: 197px !important;
           // border: 1px solid red;
            margin-top: 0px;
            .dialog-wrap {
              ul {
             //     border:1px solid green;
                li {
             //     border:1px solid blue;

                  //width: 245px;
                }
              }
            }
            .task-explanation {
                font-size: 13px;
                margin-top: 10px;
            }
            .dialog-preview {
          //    border:1px solid red;
              background:none;
              height: 60% !important;
              p {
                  top: 5px;
              }
            }
          }
        }
      }
    }


}








@media only screen
  and (max-width: 750px)
  and (min-height: 750px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 4%;
      .tr_tr & {
         margin-top: 4%;
         width: 92%;
      }
	}

	.home-section-c .rocket {
	    bottom: 33%;
	}
	// .home-section-c .product-tips {
	//     margin-top: 23% !important;
	// }

	.home-section-d .bubble-space .contentBox .product-tips {
	    // margin-top: 24%;
	}

}


@media (max-height: 816px) and (max-width: 480px) {

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          height: 630px;
          .dialog-preview {
            background-position: 50% 39%;
          }
          .dialog-wrap {
            ul {
              li {
                width: 245px;
                &:nth-child(odd) {
                  width: 245px;
                }
                &:nth-child(even) {
                  width: 245px;
                }
              }
            }
          }
        }
      }
    }
  }



    /*  End  Dialog Task  */
}
@media (max-height: 736px) and (max-width: 414px) {

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          height: 540px;
         .dialog-preview {
            background-position: 50% 22%;
            p {
                top: -20px;
                bottom: 0;
            }
          }
          .dialog-wrap {
            ul {
              li {
                width: 295px;// 245px;
                &:nth-child(odd) {
                  width: 295px;// 245px;
                }
                &:nth-child(even) {
                  width: 295px;// 245px;
                }
              }
            }
          }
        }
      }
    }
  }
  /*   mob lending certificate  */
    .mb-lend-body {
      .sim-bg {
        .conteiner {
          .mb-parrot-bg {
            .mob-certificate-box {
              width: 30%;
              right: -71px;
              bottom: 13px;
            }
          }
        }
      }
    }
  /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 733px);
        height: 100%;
      }
    }
    .wizard-current-step-4 {
      .len-box-bottom {
        margin-top: -70px;
      }
    }
    /*  Wizard step 2   */
    .wizard-current-step-2 {
      .tableview {
          height: 100% !important;
         // border: 3px solid;
        .cellview {
          height: 90%;
          .wizard-step {
            .wizard-bubbles {
                height: 65%;
            }
          }
          .step-bg-starBullet {
            bottom: 3px;
            height: 70%;
            width: 100%;
            background-color: #fbfbfb;
          }
        }

      }
    }

    /*  End  Dialog Task  */

}


// @media (max-height: 732px) and (max-width: 414px) {


//   /*  Wizard background star bullet   */
//     .lingwing-wizard {
//       .step-bg-starBullet {
//         bottom: calc(100% - 708px);
//         height: 100%;
//       }
//     }


//     /*  End  Dialog Task  */

// }


@media (max-height: 667px) and (max-width: 375px) {

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          height: 480px;
          .dialog-preview {
            background-position: 50% 59%;
          }
          .dialog-wrap {
            ul {
              li {
                width: 263px;// 245px;
                &:nth-child(odd) {
                  width: 263px;// 245px;
                }
                &:nth-child(even) {
                  width: 263px;// 245px;
                }
              }
            }
          }
        }
      }
    }
  }

  /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 680px);
        height: 100%;
      }
    }
    .wizard-current-step-4 {
      .len-box-bottom {
        margin-top: -70px;
      }
    }

    /*  End  Dialog Task  */
}

@media (max-height: 640px) and (max-width: 384px) {

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          height: 440px;
          .dialog-preview {
            background-position: 50% 65%;
          }
          .dialog-wrap {
            ul {
              li {
                width: 280px;// 245px;
                &:nth-child(odd) {
                  width: 280px;// 245px;
                }
                &:nth-child(even) {
                  width: 280px;// 245px;
                }
              }
            }
          }
        }
      }
    }
  }

   /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 690px);
        height: 100%;
      }
    }


    /*  End  Dialog Task  */
}
@media (max-height: 640px) and (max-width: 360px) {

    /*   mobile lending  */
    .mb-lend-body {
      .sim-bg{
        .mb-leng-nav {
          margin-right: -25px;//-43px
        }
      }
    }


    /*  Wizard background star bullet   */
    .lingwing-wizard {
      .step-bg-starBullet {
        bottom: calc(100% - 717px);
        height: 100%;
      }
    }
    .wizard-current-step-2 {
      .len-box-bottom {
        //margin-top: -102px;
      }

      .tableview {
        .cellview {
          .wizard-step {
            .wizard-bubbles {
            //  border:1px solid red;
              min-height: 240px;
            }
          }
        }
      }
      .step-bg-starBullet {
          bottom: calc(100% - 588px);
          height: 100%;
      }
    }
    .wizard-current-step-4 {
      .len-box-bottom {
        margin-top: -102px;
      }
    }

  /*    test flow  Page   */
  .application.app-stop-page.availabletests {
    .tiny-page {
        overflow:visible !important;
    }
  }

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          height: 390px;
          .dialog-preview {
            background-position: 50% 65%;
          }
          .dialog-wrap {
            ul {
              li {
                width: 245px;
                &:nth-child(odd) {
                  width: 245px;
                }
                &:nth-child(even) {
                  width: 245px;
                }
              }
            }
          }
        }
      }
    }
  }

  .application {
    .tiny-page {
      height: 90% !important;
      overflow: hidden;
      .container {
          height: 100% !important;
        .application-task-description.task-dialog.dialog-started {
          .dialog-preview {
            background-image: none;
          }
        }
      }
    }
  }
  /*   Out Of Test   */
  .application.app-stop-page.outoftest {
    .tiny-page.outoftest {
      overflow: visible;
    }
  }
  .application.test {
    .tiny-page {
      height: 89% !important;
      overflow: visible;
    }
  }
    /*  End  Dialog Task  */
}

@media (max-height:568px) and (max-width: 320px) {
  /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
        bottom: -75px;
        position: absolute !important;
        width: 100%;
        height: 75%;
        background-color: #fbfbfb;
    }
  }
  .wizard-current-step-4 {
    .len-box-bottom {
      margin-top: -102px;
    }
  }

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
          // height: 540px;
          .dialog-preview {
           // background-position: 50% 22%;
            p {
                top: 190px;
                bottom: 0;
            }
          }
          .dialog-wrap {
            ul {
              li {
                width: 215px;
                &:nth-child(odd) {
                  width: 215px;
                  .dialog-item-main {
                    .dialog-item-count {
                      right: -51px;
                    }
                  }
                }
                &:nth-child(even) {
                  width: 215px;
                  .dialog-item-main {
                    .dialog-item-count {
                      right: -71px;
                    }
                  }
                }
                .dialog-item-main {
                  .dialog-item-count {
                    right: -71px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .application {
    .tiny-page {
      height: 89% !important;
      overflow: hidden;
      .container {
          height: 100% !important;
        .application-task-description.task-dialog.dialog-started {
          .dialog-preview {
            background-image: none;
          }
        }
      }
    }
  }
  .application.test {
    .tiny-page {
      height: 89% !important;
      overflow: visible;
    }
  }

  /*   Out Of Test   */
  .application.app-stop-page.outoftest {
    .tiny-page.outoftest {
      overflow: visible;
    }
  }



    /*  End  Dialog Task  */

.bon-bubble-items {
  .col-md-12.page-1 {
      margin-top: 2%;
  }
  .col-md-12 {
    .btn-netx-step {
       margin-top: 6px;
    }
    .bon-footer-initialion {
        margin-top: 0px;
    }
    .btn.left {
      margin-top: 70px;
    }
  }
}



}

@media (max-height:533px) and (max-width: 320px) {

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
           height: 290px;
        }
      }
    }
  }


    /*  End  Dialog Task  */
}
@media (max-height:480px) and (max-width: 320px) {

  /*  Wizard background star bullet   */
  .lingwing-wizard {
    .step-bg-starBullet {
        bottom: -117px;
    }
  }

  /*    Dialog Task start    */

  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog {
           height: 247px;
          .dialog-preview {
           // background-position: 50% 22%;
            // p {
            //     top: 190px;
            //     bottom: 0;
            // }
          }
          // .dialog-wrap {
          //   ul {
          //     li {
          //       width: 210px;
          //       &:nth-child(odd) {
          //         width: 210px;
          //         .dialog-item-main {
          //           .dialog-item-count {
          //             right: -51px;
          //           }
          //         }
          //       }
          //       &:nth-child(even) {
          //         width: 210px;
          //         .dialog-item-main {
          //           .dialog-item-count {
          //             right: -71px;
          //           }
          //         }
          //       }
          //       .dialog-item-main {
          //         .dialog-item-count {
          //           right: -71px;
          //         }
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }

    /*  End  Dialog Task  */

  .bon-bubble-items {
    .col-md-12.page-1 {
        margin-top: 2%;
    }
    .col-md-12 {
      .bon-footer-initialion {
        margin-top: 13px;
        .es_es & {
          margin-top: 0;
        }
      }
      .btn.left {
        margin-top: 37px;
      }
      .btn-netx-step {
        margin-top: -7px;
        .ka_ge & {
          margin-top: -9px;
          top: 46px;
        }
      }
    }
  }
  .new-btn-netx-step {
    margin-top: 7px !important;
  }

  .fillProfileCheckbox2 {
    top: 32px;
    margin-top: -43px;
    margin-bottom: 41px;
    background-color: #ffffff;
  }

}

@media only screen
  and (min-width: 360px)
  and (max-width: 360px)
  and (min-height: 640px)
  and (max-height: 640px) {

  	.home-section-a .parrot-handshake {
	    background-size: 89%;
	    background-position: -235% 16%;
	}
  	.home-section-a .parrot-handshake .parrot .headingText {
    	width: 113%;
	}
	.home-section-d .bubble-space .contentBox .product-tips {
	    margin-top: 20%;
	}

}


@media only screen
  and (min-width: 414px)
  and (max-width: 414px)
  and (min-height: 736px)
  and (max-height: 736px) {
  	.home-section-d .bubble-space .contentBox .product-tips {
	    margin-top: 21%;
	}

  /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 85%;
              }
            }
          }
        }
      }
    }


}


@media only screen
  and (max-width: 420px)
  and (max-height: 567px) {
	.home-section-a .parrot-handshake {
	  	background-size: 97%;
	    background-position: -993% 3%;
	}
  	.home-section-a .footerText {
  		bottom: 137px;
  	}
}

@media only screen
  and (max-width: 384px)
  and (max-height: 640px) {

   .ka_ge .home-section-a {
    .parrot-handshake {
      .parrot {
        .bubble.erath-bubble {
          margin-top: -7%;
        }
        .headingText {
         margin-top: 20%;
          .highlight {
            div div span {
              margin-top: 6%;
            }
          }
        }
      }
    }
  }

  .home-section-a {
    .parrot-handshake {
      .parrot {
        .headingText {
          .tr_tr & {
            margin-top: 20%;
          }
        }
      }
    }
  }

  .home-section-a {
    .parrot-handshake {
      .parrot {
        .bubble.erath-bubble {
          margin-top: -10%;
        }
      }
    }
  }

  /*   Grammer Task page   */
    .grammar {
      .application {
        .app-page {
          .container.height-gr {
            .clearfix.clearfix-grammar {
              .scrollbar-dynamic {
                height: 85%;
              }
            }
          }
        }
      }
    }


}



/*

 start test style

*/



@media only screen
  and (max-width: 360px)
  and (max-height: 260px) {
  .application {
    .tiny-page {
      .container {
        .application-task-description.task-dialog.dialog-loaded-one {
          height: 173px;
          .dialog-wrap {
            height: inherit;
            padding-top: 82px;
            ul {
              li {
                width: 247px;
                &:nth-child(even) {
                  width: 247px;
                }
              }
            }
          }
        }
      }
    }
  }



}


/*

 End test style

*/



@media only screen
  and (max-width: 320px)
  and (max-height: 568px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 22%;
	}

	.home-section-a .parrot-handshake .parrot {
	    background-position: 37% 60%;
	}
}


@media only screen
  and (max-width: 320px)
  and (max-height: 568px) {
	.home-section-a .parrot-handshake .parrot .headingText {
	    margin-top: 22%;
	}

	.home-section-a .parrot-handshake .parrot {
	    background-position: 37% 60%;
	}
   .ka_ge .home-section-a {
    .parrot-handshake {
      .parrot {
        .bubble.erath-bubble {
          margin-top: -6%;
        }
        .headingText {
         margin-top: 20%;
          .highlight {
            div div span {
              margin-top: 6%;
            }
          }
        }
      }
    }
  }
  .home-section-a {
    .parrot-handshake {
      .parrot {
        .bubble.erath-bubble {
          margin-top: -8%;
        }
      }
    }
  }


  /*  Wizard step 2   */
  .wizard-current-step-2 {
    .tableview {
        height: 600px !important;
      .cellview {
        height: 90%;
        .wizard-step {
          .wizard-bubbles {
           height: 58%;
          }
        }
        .step-bg-starBullet {
            bottom: -32px;
        }
      }

    }
  }

}


@media only screen
  and (max-width: 320px)
  and (max-height: 480px) {

     /*  Wizard step 2   */
  .wizard-current-step-2 {
    .tableview {
      .cellview {
        .wizard-step {
          .wizard-bubbles {
           height: 65%;
          }
        }
        .step-bg-starBullet {
            bottom: -118px;
        }
      }

    }
  }


  .home-section-a {
    .parrot-handshake {
       background-position: -800% -19%;
      .parrot {
         background-position: 37% 75%;
        .headingText {
            margin-top: 33%;
        }
        .bubble.erath-bubble {
          margin-top: -10%;
        }
      }
    }
    .footerText {
        bottom: 145px;
    }
  }

  .home-section-a {
    .parrot-handshake {
      .parrot {
        .headingText {
          .tr_tr & {
              margin-top: 32%;
          }
        }
      }
    }
  }


  .ka_ge .home-section-a {
    .parrot-handshake {
      .parrot {
        .headingText {
         margin-top: 19%;
          .highlight {
            div div span {
              margin-top: 6%;
            }
          }
        }
        .bubble.erath-bubble {
            margin-top: 7%;
        }
      }
    }
  }


}


@media only screen
  and (max-width: 550px)
  and (max-height: 800px) {
  	.home-section-d .bubble-space .contentBox .product-tips {
  		// display: none
  	}

  .ka_ge .home-section-a {
    .parrot-handshake {
      .parrot {
        .headingText {
          .highlight {
            div div span {
              margin-top: 6%;
            }
          }
        }
      }
    }
  }


}


/*  mobile Task style   */
// @media only screen
//   and (max-width: 780px)
//   and (max-height: 420px) {



// }

@media only screen
  and (max-width: 780px)
  and (min-height: 660px) {
    /*    Wizard step 2   */
  .wizard-current-step-2 {
    .tableview {
        height: 68%;
    }
  }

}
@media only screen
  and (max-width: 780px)
  and (max-height: 659px) {
    /*    Wizard step 2   */
  .wizard-current-step-2 {
    background: #fbfbfb;
    .tableview {
        height: 407px;
        .step-bg-starBullet {
          position: relative;
          float: right;
          margin-top: -341px;
        }
    }
    .footer-step-box {
      .page-footer {
       //   background: #fbfbfb;
      }
    }
  }



}


@media only screen
  and (max-width: 768px)
  and (max-height: 420px) {
	.home-section-a {
        .parrot-handshake {
            background-image: none;
            .parrot {
                background-image: none;
                position: initial;
                .bubble {
                    display: none;
                }
                .descriptionText {
                    display: none;
                }
                .headingText {
                    margin-top: 21%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .footerText {
        	display: none!important;
        }
    }

    .home-section-c {
    	.parrot-rocket {
    		.descriptionText {
    			display: none;
    		}
    	}

    }

    .home-section-d {
    	.parrot-nodrown {
    		.palm{
    			display: none;
    		}
    		.parrot{
    			display: none;
    		}
    		.bubble-container {
    			display: none!important;
    		}
    	}
    }
}


.home-section-e .contentBox .arrow-flags {
	display: flex;
}





/*



*/

@media only screen
  and (max-width: 780px){

      .task-explanation {
              font-size:13px;
             // margin-top: 60%;
            }


  }




/*

    Mobile  Media Height

*/

@media only screen and (max-width: 780px) and (min-width: 300px) {
      .user-courses-page{
         margin-top: 0;
          .container{
             background-color: #fbfbfb;
             padding-top: 30px;
          }
      }
    .empty-page.with-header {
        margin-top: -9px;
    }
    .empty-page .add-new.add-new-orange {
        display: inline-block;
    }
      /*     Avatar dorp-down menu      */
     .dropdown-menu.lingwing-dropdown > li > a {
        padding: 11px 20px;
    }

}
