@media (max-width: 1410px) {
	.userHeader {
		.level-score-quote {
			.info {
				.level, .quote {
					width:100px;
				}
				.score {
					font-size: inherit;
					text-align:right;
					top: 12px;
				}
				.quote {
					display:none;
				}
			}
		}
	}
}
@media (max-width: 1330px) {
	.userHeader {
		.right-block {
			width: 360px;
		}
		.middle-block {
			margin-right:360px;
		}
	}
}
@media (max-width: 1300px) {
	.tiny-page.lingwing-forms,
	.tiny-page.lingwing-wizard {
		.menu-sandwich,
		.logo-heading {
			float:left
		}
		.logo-heading {
			margin:5px 0px 0px 15px;
			.text {
				display:none;
			}
		}

	}
}
@media (max-width: 1125px) {
	.userHeader {
		.logo-block,
		.logo-block .logo {
			width:130px;
		}
		.left-block {
    		width: 305px;
		}
		.middle-block {
			margin-left:260px;
			margin-right: 325px;
		}
		.level-score-quote {
			.info {
				.level {

				}
				.score {
					text-align:right;
				}
			}
		}
	}
}
@media (max-width: 1050px) {
	.home-section-a {
		.parrot-handshake {
			.parrot {
				.headingText {
					left: 3%;
    				margin-top: -5px;
				}
				.descriptionText  {
					left: 3%;
    				margin-top: -5px;
				}
			}
		}
	}
}

@media (max-width: 850px) {
	.home-section-a {
		.parrot-handshake {
			.parrot {
				.headingText {
					left: 9%;
					margin-top: -22px;
					font-size: 50px !important;
				}
				.headingText {
					.distance {
						margin-left:-5px;	
					}
				}
			}
		}
	}
}

@media (max-width: 840px) {
	.userHeader { 
		.left-block {
			width:165px;
		}
		.middle-block {
			margin-left: 100px;
		}
		.i-learn-menu {
			width:35px;
			.menu {
				margin:0;
				.item-expendable {
					width: 35px;
				    height: 62px;
				    padding: 0;
				    background-position:top 26px right 8px;
					.desc,
					.language-info {
						display:none;
					}
				}
			}
		}
	}
}
@media (max-width: 697px) {
	.learn-packages {
		.package-wrap.learn-package {
			margin:0 auto 50px auto !important;
			float:none !important;
			max-width: 500px;
    		width: auto;
    		.package-body {
    			p {
    				span {
    					text-align: center;
    					width: 100%;
    				}
    			}
    		}
		}
	}	
}

@media (max-width: 620px) {
	.page{
		.lingwing-wizard{
			margin-top:0% !important;
		}
	}

	.userHeader { 
		.middle-block {
			margin-right:10px !important;
		}
		.info {
			.level {
				display:none !important;
			}
		}
		.right-block {
			width:60px !important;
			.time-stats-menu,
			.icon-nav {
				display:none;
			}
		}
	}
}

/*    Grammer Task style    */

@media (max-height: 1360px) {
	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -31px auto 100px auto !important;
				}
			} 
		} 
	} 

}

@media (max-height: 1290px) {
	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -60px auto 100px auto !important;
				}
			} 
		} 
	} 

}
@media (max-height: 1100px) {
	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -155px auto 100px auto !important;
				}
			} 
		} 
	} 

}




@media (max-height: 950px) {
	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -240px auto 100px auto !important;
				}
			} 
		} 
	} 

}



@media (max-height: 850px) {
	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -283px auto 100px auto !important;
				}
			} 
		} 
	} 

}



@media (max-height: 730px) {
	.app-page {
		min-height: 720px;
		.container {
			margin-top: -260px;
		}
		.app-body {
			.app-exercise {
				/* height:162px; */
			}
		}
	}

	.grammar {
		.application {
			.app-page {
				.container {
				    margin: -260px auto 100px auto;
				}
			} 
		} 
	} 




}



