/* ----------- iPads ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-section-a {
    .parrot-handshake .parrot .headingText .break {
      width: 113%;
    }
    .parrot-handshake .parrot {
      bottom: 35%;
    }
  }

  .home-section-c {
    .parrot-rocket {
      bottom: 35%;
    }
  }

  .home-section-d {
    background-size: 29%, 254%;

    .bubble-space .contentBox .headingText {
      font-size: 43px;
    }

    .bubble-space .contentBox .bubble-container .descriptionText {
      margin-left: 27%;
      max-width: 200px;
    }

    .bubble-space .contentBox .product-tips .col-sm-4 {
      width: 62.333%;
    }

    .parrot-nodrown .parrot {
      left: 20%;
      bottom: 2%;
    }
  }

  .home-section-e {
    .contentBox {
      bottom: 24%;
      right: 14%;
    }
  }
}

/* ----------- Custom ----------- */

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .home-section-e {
    .contentBox {
      margin-left: auto;
      margin-right: auto;
      bottom: 30%;
      right: inherit;
      text-align: center;
      position: relative;
    }

    .contentBox {
      .headingText {
        font-size: 93px;
        .tr_tr & {
          font-size: 65px;
        }
      }
      .littleHeadingText {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #fp-nav.right ul li .fp-tooltip.right {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 601px) {
  .home-section-a {
    .parrot-handshake {
      .parrot {
        bottom: 26%;
        .headingText {
          .highlight {
            font-size: 45px;
            img {
              max-width: 30px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .home-section-a {
    .parrot-handshake {
      .parrot {
        bottom: 29%;
        .headingText {
          .highlight {
            font-size: 45px;
          }
        }
      }
    }
  }

  // .home-section-c {
  // 	.parrot-rocket {
  // 	    bottom: 29%;
  // 	}
  // }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .home-section-a {
    .parrot-handshake {
      .parrot {
        bottom: 29%;
        .headingText {
          margin-top: 3%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home-section-b {
    .contentBox {
      .headingText {
        span {
          font-size: 9vmin;
        }
      }
    }
  }
  /* mobile lending*/
  // .mb-lend-body {
  // 	max-width: 1024px;
  //     margin: 0 auto;
  //     padding: 0;
  //     height: 2849px;
  // 	.sim-bg {
  // 		background-size: 276%;
  // 		.conteiner.rico {
  // 		 }
  // 		.mb-leng-nav {
  // 		    .unauthorized {
  // 			    margin: -12px -59px 0 0;
  // 			}
  // 		}

  // 		.conteiner {
  // 			max-height: 976px;
  // 			&:nth-child(3) {
  // 			    max-height: 1085px;
  // 			}
  // 			.lingwing-header.lingwing-header-app.lingwing-header-transparent {
  // 			    max-width: 984px;
  // 			}
  // 			.app-logo-wrap.mb-lend {
  // 			    width: 100%;
  // 			    max-width: 978px;
  // 			}
  // 			.mb-parrot-bg {
  // 				background-size: 65% 66%;
  // 				height: 745px;
  // 			    .mb-top-parrot {
  // 				    background-size: 47%;
  // 				    margin: 35px 334px 0px -125px;
  // 					.buble {
  // 					    height: 116px;
  // 					    width: 154px;
  // 					    margin-top: 281px;
  // 					    margin-right: -171px;
  // 					    font-size: 46.23px;
  // 					}
  // 				}
  // 				.mb-sld {
  // 					width: 423px;
  // 				   .carousel-inner {
  // 					   	top: 228px;
  //     					margin-left: 8%;
  //     					.item {
  //     						div {
  //     							font-size: 35px;
  //     						}
  //     						.mb-anim-box div {
  // 							    font-size: 35px;
  // 							}
  //     					}
  // 					}
  // 				}
  // 			}
  // 			.mb-title {
  // 				h1 {
  // 					max-width: 100%;
  // 					font-size: 35px;
  // 				}
  // 				.h1-title{
  // 					max-width: 100%;
  // 					font-size: 35px;
  // 					margin-top: 178px;
  // 				}
  // 				.ln-height {
  // 					max-width: 100%;
  // 					font-size: 35px;
  // 					.ka_ge & {
  // 						max-width: 100% !important;
  // 					}
  // 				}
  // 			}
  // 			.parrot-rico {
  // 			    margin-right: 334px;
  // 			    margin-top: 212px;
  // 			    transform: rotate(-4deg);
  // 			}
  // 			.button.bottom {
  // 			    margin-top: 155px;
  // 			}
  // 			.link {
  // 			    margin-top: 119px;
  // 			    margin-bottom: 50px;
  // 			}
  // 			.button {
  // 				.app {
  // 				    margin-top: 46px;
  // 				}
  // 			}
  // 		}
  // 	}
  // }
  /*  end  */
}

@media only screen and (max-width: 768px) and (min-height: 750px) {
  .home-section-a .parrot-handshake .parrot {
    bottom: 33%;
  }
  .home-section-a .footerText {
    bottom: 29% !important;
  }
}

// @media only screen
//   and (max-width: 800px)
//   and (max-height: 600px) {

// 	.home-section-a {

// 		.parrot-handshake {
// 			 .parrot {
// 	    		bottom: 23%;
// 			}
// 		}
// 	}

// .home-section-b {
// 	.contentBox {
// 		.headingText {
// 			img {
//     			width: 24%;
// 			}
// 			span {
// 				left: 17%;
// 			}
// 		}
// 	}
// }

// }

// @media only screen
//   and (width: 768px)
//   and (height: 1025px) {
//   	.home-section-a .parrot-handshake .parrot .headingText {
// 	    margin-left: 11%;
// 	}
// 	.home-section-a .parrot-handshake .parrot .descriptionText {
// 	    margin-top: 4%;
// 	    margin-left: 10%;
// 	}
// 	.home-section-a .parrot-handshake .parrot .bubble {
// 	    margin-top: 0%;
// 	}
// }
// }

@media only screen and (width: 768px) and (min-height: 900px) and (max-height: 1024px) {
  .home-section-c {
    .rocket {
      width: 28%;
    }
    .parrot-rocket {
      bottom: 42%;
      left: 0%;
      .headingText {
        font-size: 9vmin;
      }
      .descriptionText {
        font-size: 22px;
      }
    }
  }

  .home-section-d {
    background-size: 29%, 307%;
  }
}

@media only screen and (width: 600px) and (min-height: 850px) and (max-height: 1024px) {
  .home-section-d {
    background-size: 29%, 600%;
  }
  .home-section-d .bubble-space .contentBox .product-tips {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 992px) {
  .user-menu.expendable-menu ul {
    left: -107px;
  }
}

@media only screen and (max-width: 800px) and (min-height: 750px) {
  .main-button-box {
    bottom: 5%;
  }
}

@media only screen and (max-width: 960px) and (min-height: 600px) {
  .mb-lend-body {
    .sim-bg {
      .conteiner {
        .mb-title {
          .h1-title {
            margin-top: 31px;
          }
        }
        .mb-parrot-bg {
          margin: -60px 0 0 -101px;
          // background-size: 56% 80%;
          .mb-top-parrot {
            //  background-size: 32%;
            //  margin: 31px 337px 0px -125px;
          }
        }
        .app-logo-wrap.mb-lend {
          .mob-lend-logo {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (width: 800px) and (min-height: 1100px) and (max-height: 1280px) {
  .home-section-c .parrot-rocket {
    bottom: 43%;
  }

  .mb-lend-body {
    .sim-bg {
      .conteiner {
        .mb-parrot-bg {
          margin: -64px 0 0 -133px;
          .mb-top-parrot {
            background-size: 33%;
          }
          .mb-sld .carousel-inner {
            top: 112px;
          }
        }
        .mb-title {
          .h1-title {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
