//@media (max-width: 1920px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.descriptionText {
//					bottom: 10%;
//				}
//			}
//		}
//	}
//}
//

//@media (max-width: 1700px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.headingText {
//					font-size: 73px;
//					.highlight {
//						font-size: 65px;
//					}
//				}
//			}
//		}
//	}
//	.home-section-b {
//		.headingText {
//			font-size: 72px;
//			line-height: 72px;
//			img {
//				width: 38%;
//			}
//			span {
//				left: 27%;
//				top: 26%;
//			}
//		}
//	}
//	.home-section-c {
//		.parrot-rocket {
//			.rocket {
//				.headingText {
//					top: -38%;
//				}
//			}
//			.descriptionText {
//				bottom: 40%;
//			}
//		}
//	}
//	.home-section-d {
//
//	}
//}
//
//@media (max-width: 1680px) {
//	.home-section-a {
//		parrot-handshake {
//			.parrot {
//				.headingText {
//					.highlightAnswer {
//						top: 94%;
//					}
//					.highlightAnswerGe {
//						left: 85%;
//					}
//					.highlightAnswerRu {
//						left: 84%;
//					}
//					.highlightAnswerEng {
//						left: 83%;
//					}
//					.highlightAnswerDe {
//						left: 84%;
//					}
//					.highlightAnswerIt {
//						left: 85%;
//					}
//				}
//			}
//		}
//	}
//	.home-section-d {
//		.headingText {
//			top: 140px;
//		}
//	}
//	.home-section-e {
//		.headingText {
//			left: 530px;
//			left: 31%;
//		}
//		.littleHeadingText {
//			left: 25%;
//		}
//	}
//}
//
//@media (max-width: 1500px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.descriptionText {
//					bottom: 3%;
//					line-height: 34px;
//					left: 7%;
//				}
//				.headingText {
//					font-size: 52px;
//					left: 6.5%;
//				}
//			}
//		}
//	}
//	.home-section-b {
//		.product-tips {
//			bottom: 21%;
//			.media {
//				.media-body {
//					font-size: 13px;
//				}
//			}
//		}
//		.headingText {
//			font-size: 65px;
//			line-height: 65px;
//			left: 10%;
//			img {
//				width: 35%;
//			}
//			span {
//				top: 25%;
//				left: 25%;
//			}
//		}
//		.descriptionText {
//			font-size: 29px;
//			top: 51%;
//		}
//	}
//	.home-section-c {
//		.headingText {
//			top: -37%;
//			font-size: 70px;
//			line-height: 70px;
//		}
//		.descriptionText {
//			bottom: 40%;
//		}
//	}
//	.home-section-d {
//		.headingText {
//			top: 15%;
//			font-size: 60px;
//			line-height: 60px;
//		}
//		.product-tips {
//			bottom: 30%;
//		}
//	}
//}
//
//@media (max-width: 1480px) {
//	.home-section-e {
//		.headingText {
//			font-size: 125px;
//			left: 31%;
//			top: 23%;
//			height: 25%;
//		}
//		.littleHeadingText {
//			left: 430px;
//		}
//	}
//}
@media (max-width: 1410px) {
	.userHeader {
		.level-score-quote {
			.info {
				.level, .quote {
					width:100px;
				}
				.score {
					font-size: 25px;
				}
				.quote {
					text-align:right;
				}
				.dashed {
				}
			}
			.progress-timeline-wrap {
				.timeline-circle {
				}
				.timeline-circle {
				}
				.timeline {
					.timeline-fill {
						.mask-shadow {

						}
					}
				}
			}
		}
	}
}
//@media (max-width: 1370px) {
//	.home-section-a {
//		.parrot-handshake {
//			top: 5%;
//			.parrot {
//			    background-position: 60% center;
//			    height: 59%;
//			    position: absolute;
//			    width: 80%;
//			    right: 0;
//			    top: 0;
//			    bottom: 15%;
//			    .headingText {
//			    	font-size: 60px;
//				    left: -5%;
//				    margin-top: 25px;
//			    }
//			    .highlightAnswer {
//			    	top: 107% !important;
//					left: 76% !important;
//			    }
//			    .highlightAnswerEng {
//			    	left: 75% !important;
//			    }
//			    .descriptionText {
//			    	font-size: 28px;
//				    line-height: 35px;
//				    left: -5%;
//				    bottom: 2%;
//			    }
//			}
//		}
//	}
//	.main-button-box {
//	    text-align: center;
//	    width: 93%;
//	    bottom: 3%;
//	    position: absolute;
//	    z-index: 11;
//	}
//	.product-tips {
//	    position: absolute;
//	    left: 0;
//	    right: 0;
//	    margin: auto;
//	    bottom: 20%;
//	}
//	.home-section-b {
//	    background-image: url("../themes/images/v1/svg/greyshadow.svg");
//	    background-repeat: no-repeat;
//	    background-position: 79px -122px;
//		.descriptionText {
//		    text-align: center;
//		    font-size: 30px;
//		    position: absolute;
//		    top: 54%;
//		    left: 0;
//		    right: 0;
//		    max-width: 890px;
//		}
//		.product-tips {
//			bottom: 19%;
//		}
//		.headingText {
//			top: 8%;
//		    left: 9%;
//		    font-size: 64px;
//		    line-height: 64px;
//		    img {
//		    	width: 33%;
//		    }
//		    span {
//		   		position: absolute;
//			    left: 24%;
//			    top: 22%;
//		    }
//		}
//		.descriptionText {
//			font-size: 27px;
//		    top: 51%;
//		}
//		.container {
//			width: 912px;
//		}
//	}
//	.home-section-c {
//		.headingText {
//			top: -141px;
//		    font-size: 69px;
//		    line-height: 69px;
//		}
//		.col-sm-4 {
//	    	width: 29.33333%;
//		}
//		.descriptionText {
//	    	font-size: 30px;
//		    position: absolute;
//		    top: 44%;
//		    right: 0px;
//		    max-width: 890px;
//		}
//	}
//	.home-section-d {
//		.bubble-space {
//			.bubble {
//				background-position: 72% center;
//			    height: 104%;
//			    position: absolute;
//			    width: 16%;
//			    left: 40%;
//			    bottom: -5%;
//			}
//		}
//		.product-tips {
//		    left: 40%;
//		    bottom: 23%;
//		}
//		.headingText {
//		    top: 24%;
//		    left: 42%;
//		    width: 425px;
//		    margin: auto;
//		    height: 170px;
//		    font-size: 49px;
//		    line-height: 57px;
//		    overflow: hidden;
//		}
//		.littleHeadingText {
//			top: 48%;
//		    left: 14%;
//		    right: 0;
//		    height: 375px;
//		    font-size: 32px;
//		    font-family: "HVDComicSerifPro";
//		    line-height: 21px;
//		}
//		.descriptionText {
//		    font-size: 30px;
//		    position: absolute;
//		    top: 48%;
//		    left: 57%;
//		    right: 0px;
//		    max-width: 890px;
//		}
//		.col-sm-4 {
//	    	width: 27.33333%;
//		}
//	}
//	.home-section-e {
//		.headingText {
//		    top: 20%;
//		    left: 0;
//		    right: 0;
//		    text-align: center;
//		    height: 22%;
//		    font-size: 145px;
//		    line-height: 120px;
//		    overflow: hidden;
//		    position: absolute;
//		}
//		.littleHeadingText {
//		    top: 44%;
//		    left: 0;
//		    right: 0;
//		    text-align: center;
//		    width: 100%;
//		    height: 375px;
//		    font-size: 75px;
//		    line-height: 63px;
//		    position: absolute;
//		}
//		.headingText {
//	    	font-size: 120px;
//		}
//		.littleHeadingText {
//	    	font-size: 60px;
//		}
//		.main-button-box {
//		    bottom: 25%;
//		}
//	}
//}

@media (max-width: 1330px) {
	//.home-section-a {
	//	.parrot-handshake {
	//		.parrot {
	//			.headingText {
	//				left: -7%;
	//				font-size: 56px;
	//				position: relative;
	//				margin-top: 0;
	//				.break {
	//					font-size: 70px;
	//				}
	//			}
	//			.descriptionText {
	//				font-size: 30px;
	//			    line-height: 40px;
	//			    left: -7%;
	//			    bottom: 0;
	//			}
	//		}
	//	}
	//}
	.userHeader {
		.right-block {
			width: 360px;
		}
		.middle-block {
			margin-right:360px;
		}
	}
}

//@media (max-width: 1310px) {
//	.home-section-a .parrot-handshake .parrot {
//	    background-position: 65% center;
//	    height: 55%;
//	    position: absolute;
//	    width: 80%;
//	    right: 0%;
//	    top: 0;
//	    bottom: 10%;
//	}
//}
@media (max-width: 1300px) {
	.tiny-page.lingwing-forms,
	.tiny-page.lingwing-wizard {
		.menu-sandwich,
		.logo-heading {
			float:left
		}
		.logo-heading {
			margin:5px 0px 0px 15px;
			.text {
				display:none;
			}
		}

	}
}
//@media (max-width: 1280px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.headingText {
//					left: -4%;
//					.break {
//						font-size: 70px;
//					}
//				}
//				.descriptionText {
//					font-size: 30px;
//				    line-height: 40px;
//				    left: -4%;
//				    bottom: 5%;
//				}
//			}
//		}
//	}
//}

//@media (max-width: 1200px) {
//	.home-section-c {
//		.headingText {
//		    top: -35%;
//		    left: 20%;
//		    font-size: 62px;
//		    line-height: 62px;
//		}
//		.descriptionText {
//		    font-size: 30px;
//		    top: 40%;
//		    left: 18.5%;
//		}
//		.product-tips {
//    		left: 17%;
//	    	bottom: 21%;
//		}
//		.col-sm-4 {
//		    width: 33.33333%;
//		}
//	}
//}
@media (max-width: 1125px) {
	.userHeader {
		.logo-block,
		.logo-block .logo {
			width:130px;
		}
		.left-block {
    		width: 305px;
		}
		.middle-block {
			margin-left:260px;
			margin-right: 325px;
		}
		.level-score-quote {
			.info {
				.level {

				}
				.score {
					text-align:right;
				}
			}
		}
	}
}
//@media (max-width: 1100px) {
//	.home-section-b {
//		background-position: 32px -149px;
//		.container {
//		    width: 840px;
//		}
//		.product-tips {
//		    bottom: 19%;
//		}
//		.headingText {
//		    top: 8%;
//		    left: 21%;
//		    font-size: 60px;
//		    line-height: 60px;
//		}
//		.headingText span {
//		    top: 20%;
//		    left: 21%;
//		}
//		.headingText.ng-scope img {
//		    width: 29%;
//		}
//		.descriptionText {
//		    top: 48%;
//		}
//	}
//}

//@media (max-width: 1050px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.headingText {
//					left: 0%;
//    				margin-top: -5px;
//				}
//				.descriptionText  {
//					left: 0%;
//    				margin-top: -5px;
//				}
//			}
//		}
//	}
//}

@media (max-width: 992px) {
	.login-avatar .avatar-username {
		display: none;
	}
	//.home-section-a {
	//	.parrot-handshake {
	//		.parrot {
	//		    position: absolute;
	//		    width: 100%;
	//		    right: -5%;
	//		    .descriptionText {
	//				color: #fff;
	//			    font-size: 25px;
	//			    line-height: 33px;
	//			    left: 0%;
	//			    bottom: 5%;
	//			}
	//			.headingText {
	//				font-size: 50px;
	//			    left: -7;
	//			    margin-top: -25px;
	//			    left: 0;
	//			    .break {
	//			    	font-size: 60px;
	//			    }
	//			}
	//		}
	//	}
	//}
	//.home-section-b {
	//	background-size: contain;
	//	.headingText {
	//	    top: 3%;
	//	    left: 15%;
	//	    right: 0;
	//	    font-size: 50px;
	//	    line-height: 50px;
	//	    overflow: hidden;
	//	    img {
	//	    	width: 30%;
	//	    	left: 7%;
	//	    	top: 6%;
	//	    	position: absolute;
	//	    }
	//	}
	//	.descriptionText {
	//	    font-size: 25px;
	//	    top: 40%;
	//	    max-width: 800px;
	//	}
	//	.headingText {
	//	    font-size: 50px;
	//	    line-height: 50px;
	//	    left: 18%;
	//	}
	//}
	//.home-section-c {
	//	.col-sm-4 {
	//	    width: 50%;
	//	}
	//	.descriptionText {
	//	    font-size: 25px;
	//	    left: 16%;
	//	    max-width: 890px;
	//	    top: 37%;
	//	}
	//	.product-tips {
	//	    left: 14%;
	//        bottom: 28%;
	//	}
	//}
	//.home-section-d {
	//	background-position: 70px -83px;
	//	.col-sm-4 {
	//	    width: 44.33333%;
	//	}
	//	.product-tips {
	//	    left: 38%;
	//	    bottom: 23%;
	//	}
	//	.littleHeadingText {
	//	    font-size: 25px;
	//	}
	//	.descriptionText {
	//	    font-size: 23px;
	//	    top: 45%;
	//	}
	//	.product-tips {
	//	    bottom: 27%;
	//	}
	//	.headingText {
	//		top: 4%;
	//	    left: 20%;
	//	    font-size: 50px;
	//	    line-height: 50px;
	//		span {
	//			top: 21%;
	//	    	left: 24%;
	//	    }
	//	    img {
	//	    	width: 23%;
	//	    }
	//	}
	//}
	.lingwing-forms {
		.input-item.item-button {
			/* padding-left: 102px; */
		}
	}
	//.product-tips {
	//    position: absolute;
	//    left: 0;
	//    right: 0;
	//    bottom: 27%;
	//}
	//.main-button-box {
	//    text-align: center;
	//    width: 90%;
	//    bottom: 6%;
	//    position: absolute;
	//    z-index: 11;
	//	text-align: center;
	//	width: 43%;
	//	bottom: 6%;
	//	position: absolute;
	//	z-index: 11;
	//}
	.logo-small {
	    left: 140%;
	    top: -11%;
	}
}

@media (max-width: 900px) {
	//.home-section-b {
	//    background-position: 102px -51px;
	//    .headingText {
	//	    top: 5%;
	//	    left: 21%;
	//	}
	//	.product-tips {
	//		bottom: 22%;
	//		.media-body {
	//		    font-size: 13px;
	//		    padding-left: 7px;
	//		}
	//	}
	//	.descriptionText {
	//	    font-size: 23px;
	//	    top: 41%;
	//	}
	//	.container {
	//    	width: 737px;
	//	}
	//	.headingText {
	//	    top: 17%;
	//	    left: 42%;
	//	    width: 299px;
	//	    font-size: 41px;
	//	    line-height: 46px;
	//	}
	//}
}

//@media (max-width: 850px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.headingText {
//					left: 9%;
//					margin-top: -22px;
//					font-size: 50px;
//				}
//				.headingText {
//					.distance {
//						margin-left:-5px;
//					}
//				}
//			}
//		}
//	}
//}


@media (max-width: 860px) {
	.application .app-page .container .prepare-page .footer-text-prepare {
		margin-top: -36px;
	    font-size: 19px;
	}
	.application .app-page .container .prepare-page .course-block-prepare {
	    margin-right: 9%;
	}

	.prepare-page {
		padding-left: 15px;
		margin-top: 80px;
	}
	.sound-check-bg{
		background: url('../themes/images/v2/prepare_bg.png');
		background-repeat: no-repeat;
		opacity: 0.4;
		width: 294px;
		height: 116px;
		position: relative;
		margin:15px auto 0 auto;
	 }

	/*  tests flow prepare page  */

	.application.test {
		.tiny-page {
			.container {
				margin-bottom: 130px;
				.prepare-page {
				    padding-left: 0;
    				margin-top: 0;
					.wr_test {
					    width: 100%;
					    height: 425px;
					    display: block;
					    float: none !important;
					    border:none !important;
					    .temporar-box {
						    border-radius: 0 0 42px 42px;
						}
						.test_name {
						    padding: 15px 0;
						}
					    .task-point {
						    padding: 35px 0;
						    box-sizing: border-box;
						    .box {
						    	box-sizing: border-box;
						    	padding-left: 15px;
						    	padding-right: 15px;
						    }
						}
						.test_info {
						    padding: 35px 0 41px 0;
						    display: block;
						    position: relative;
							.l {
							    padding-left: 9px;
							}
							.r {
							    float: right;
							    padding-right: 10px;
							}
						}
						.btn_boxline {
						    border-radius: 0;
						}
						.r-btn {
						    border-radius: 0 0 42px 42px;
						}
					}
				}
			}
			.sendButton-container {
			    bottom: -360px;
			}
		}
	}



}



@media (max-width: 840px) {
	.userHeader {
		.left-block {
			width:165px;
		}
		.middle-block {
			margin-left: 100px;
		}
		.i-learn-menu {
			width:35px;
			.menu {
				margin:0;
				.item-expendable {
					width: 35px;
				    height: 62px;
				    padding: 0;
				    background-position:top 26px right 8px;
					.desc,
					.language-info {
						display:none;
					}
				}
			}
		}
	}
}
//@media (max-width: 800px) {
//	.home-section-e {
//		.headingText {
//		    font-size: 95px;
//		}
//		.littleHeadingText {
//		    font-size: 48px;
//		}
//	}
//	.home-section-b {
//	    background-position: 108px -7px;
//	}
//}

//@media (max-width: 750px) {
//	.home-section-c {
//		.col-sm-4 {
//		    width: 331px;
//		}
//	}
//	.home-section-d {
//		.descriptionText {
//		    font-size: 23px;
//		    top: 45%;
//		}
//		.col-xs-12 {
//		    width: 72%;
//		}
//		.bubble-space .bubble {
//		    bottom: -2%;
//		}
//		.col-sm-4 {
//		    width: 308px;
//		}
//	}
//}
@media (max-height: 730px) {
	.sendButton-container {
	    bottom: -100px;
	    .sendButton {
    		bottom: 30px;
		}
	}

	.application .application-task-description .application-task-info .info-area-wrap .learn-from {
		top: -18px;
	}

	/*   test flow   */
	.application.test {
		.tiny-page {
			.sendButton-container {
			    bottom: -500px !important;
			}
		}
	}

	.application {
		.app-page {
			min-height: 720px;
			.container {
				margin-top: -260px;
				&.preload-screen {
					min-height:auto;
				}
				.application-task-description {
					height:250px;
    // bottom: 60px;
    // position: absolute;
    // width: 100%;

					.task-explanation {
						display: flex;
					    flex-direction: column;
					    justify-content: center;
					    margin-bottom: 23px;
					}
					&.task-dialog {
						.dialog-wrap {
							height: 215px; //315px; // 180px;
						}
						.dialog-preview {
							height: 315px; // 180px;
						}
						&.dialog-started {
							.dialog-preview {
								height: 85px; // 170px; // 107px;
								// border:1px solid black;
								background-size: 20%;
							}
							p {
								bottom:-42px;
							}
						}
					}
					.application-task-info {
						height:100px;
				  		margin-top: 40px;	//	margin-top: 30px;
						.info-area-wrap {
							.exercise-dictation {
								.dictation-parrot {
									min-height: 125px;   /*  min-height: 145px;    */
									background-size: contain;
								}
							}
							.info-area .apo-last img {
							    top: 45.8%;
							}
						}
					}
				}
			}
			.app-body {
				.app-exercise {
					/* height:162px; */
				}
			}
 		}
		.tiny-page-bg{
			background: #fbfbfb !important;
		}
	}

	/*    gramer task     */
	.application.gr
	// > .app-page {
	// 	min-height: 720px !important;
	// }
	.application.gr {
		// max-height: 730px !important;
		// overflow: hidden;
		.tiny-page.gr.app-page-grammar {
				// max-height: 730px;
				// min-height: 100%;
				// height: 3%;
				position: absolute;
				overflow: hidden;
				border:2px solid green;
				// &.app-page {
				// 	min-height: 100%;
				// }
			.container.height-gr {
				height: 531px;
				.clearfix.clearfix-grammar {
					height: 391px;
					background: #fff;
				}
				.scrollbar-dynamic {
				   height: 310px;
				}
			}
		}
	}

}
@media (max-width: 697px) {
	.learn-packages {
		.package-wrap.learn-package {
			margin:0 auto 50px auto !important;
			float:none !important;
			max-width: 500px;
    		width: auto;
    		.package-body {
    			p {
    				span {
    					text-align: center;
    					width: 100%;
    				}
    			}
    		}
		}
	}
}
//@media (max-width: 650px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				height: 45%;
//				.descriptionText {
//				    font-size: 23px;
//				    line-height: 28px;
//				    left: -3%;
//				    bottom: 5%;
//				}
//				.headingText {
//				    margin-top: -25px;
//				    left: -3%;
//				    font-size: 40px;
//				    .break {
//				    	font-size: 50px;
//				    }
//				}
//			}
//		}
//	}
//	.home-section-c .main-button-box {
//	    width: 88%;
//	    bottom: 6%;
//	}
//	.home-section-d {
//		.littleHeadingText {
//		    top: 47%;
//		    left: 18%;
//		    font-size: 21px;
//		    line-height: 21px;
//		}
//		.col-xs-12 {
//	    	width: 85%;
//		}
//	}
//	.home-section-e {
//		.headingText {
//			font-size: 70px;
//		    top: 27%;
//		}
//		.littleHeadingText {
//	    	font-size: 40px;
//		}
//		.main-button-box {
//		    bottom: 29%;
//		}
//		.littleHeadingText {
//		    top: 44%;
//		}
//	}
//	.main-button-box {
//	    width: 79%;
//	    bottom: 6%;
//	}
//}
@media (max-width: 620px) {
	.page{
		.lingwing-wizard{
			margin-top:0%;
		}
	}

		.prepare-page {
		h1.ng-binding{
			font-size: 18px !important;
		}
	}

	.header {
		.header-fixed {
			.header-right {
			    right: 0;
			    top: 16px;
			}
			.header-left {
			    top: 16px;
			}
			.auth-block {
				width: 25px;
				margin: 13px 0 0 -1px;
				.icon {
					margin-top: -12px;
				}
				.avatar-user img {
					width: 90%;
				}
				.item-expendable.item-expended ul {
					text-transform: none;
				}
			}
			.interface-block {
				padding-top: 10px;
				span {
					display: none;
				}
				.short-lang {
					display: none;
				}
				.item-expendable {
					img {
						width: 38%;
					}
					ul {
						top: 35px;
						left: -25px;
					}
				}
			}
		}
	}
	//.home-section-c {
	//	.col-sm-4 {
	//	    width: 70%;
	//	}
	//}
	//.home-section-d {
	//	.col-xs-12 {
	//    	width: 95%;
	//	}
	//	.descriptionText {
	//	    font-size: 21px;
	//	    position: absolute;
	//        top: 46%;
	//   		left: 60%;
	//	}
	//	.littleHeadingText {
	//	    top: 47%;
	//	    left: 18%;
	//	    font-size: 18px;
	//	    span {
	//	    	font-size: 12px;
	//	    }
	//	}
	//}
	.user-menu.expendable-menu ul {
		left: -107px;
	}
	.userHeader {
		.middle-block {
			margin-right:10px !important;
		}
		.info {
			.level {
				display:none !important;
			}
		}
		.right-block {
			width:60px !important;
			.time-stats-menu,
			.icon-nav {
				display:none;
			}
		}
	}
}

//@media (max-width: 600px) {
//	.home-section-b {
//	    background-position: 54px -1px;
//	    .headingText {
//		    top: 5%;
//		    left: 15%;
//		}
//		.descriptionText {
//		    font-size: 17px;
//		    top: 41%;
//		    max-width: 90%;
//		}
//		.headingText {
//		    font-size: 45px;
//		    line-height: 45px;
//		}
//		.col-sm-4 {
//		    width: 95.33333%;
//		}
//	}
//}

//@media (max-width: 550px) {
//	.home-section-b {
//	    background-position: 51px 0px;
//		.headingText {
//		    top: 7%;
//		    left: 14%;
//		    img {
//			    width: 21%;
//			}
//			span {
//				top: 21%;
//	    		left: 23%;
//			}
//		}
//	}
//	.home-section-d .bubble-space {
//	    left: -10%;
//	}
//}

//@media (max-width: 525px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				height: 45%;
//				.descriptionText {
//				    font-size: 20px;
//				    line-height: 25px;
//				    left: -3%;
//				    bottom: 5%;
//				}
//				.headingText {
//					font-size: 60px;
//				    margin-top: -25px;
//				    left: -3%;
//				    font-size: 40px;
//				    .break {
//				    	font-size: 50px;
//				    }
//				}
//			}
//		}
//		.main-button-box {
//		    width: 80%;
//		}
//	}
//	.home-section-c .col-sm-4 {
//	    width: 80%;
//	}
//	.home-section-e .littleHeadingText {
//	    font-size: 30px;
//	}
//}

//@media (max-width: 500px) {
//	.home-section-b {
//		.headingText {
//			top: 8%;
//	    	left: 11%;
//		    font-size: 37px;
//		    line-height: 37px;
//			span {
//				top: 17%;
//	    		left: 20%;
//			}
//			img {
//				width: 18%;
//			}
//		}
//	}
//	.home-section-c {
//		.headingText {
//		    font-size: 45px;
//		    line-height: 45px;
//		    left: 10%;
//			top: -41%;
//		}
//		.descriptionText {
//		    font-size: 23px;
//		    left: 7%;
//		    max-width: 890px;
//		    top: 34%;
//		}
//		.product-tips {
//		    left: 4%;
//		    bottom: 31%;
//		}
//	}
//	.home-section-d {
//		background-image: none;
//		.bubble-space .bubble {
//		    left: 40%;
//		}
//		.descriptionText {
//		    font-size: 20px;
//		    left: 58%;
//		}
//		.littleHeadingText {
//		    top: 47.4%;
//		    font-size: 18px;
//		    line-height: 18px;
//		}
//		.headingText {
//		    top: 17%;
//		    left: -4%;
//		    width: 90%;
//		    font-size: 35px;
//		    text-align: center;
//		    line-height: 46px;
//		}
//		.parrot-nodrown {
//			.palm {
//			    background-position: 72% center;
//			    height: 66%;
//			    position: absolute;
//			    width: 81%;
//			    left: -11%;
//			    margin: auto;
//			    bottom: 34%;
//			}
//			.parrot {
//			    background-position: 72% center;
//			    height: 60%;
//			    position: absolute;
//			    width: 22%;
//			    left: 31%;
//			    margin: auto;
//			    bottom: 20%;
//			}
//		}
//	}
//}

//@media (max-width: 450px) {
//	.home-section-b {
//		.headingText {
//		    top: 7%;
//		    left: 6%;
//		}
//	}
//	.home-section-d {
//		background-position: 32px 0px;
//		.headingText {
//		    left: -11%;
//		    width: 101%;
//		}
//	}
//}
//
//@media (max-width: 435px) {
//	.home-section-e {
//		.headingText {
//		    font-size: 50px;
//		}
//		.littleHeadingText {
//		    font-size: 25px;
//		}
//		.main-button-box {
//		    bottom: 25%;
//		    left: 2.5%;
//		}
//	}
//}
//
//@media (max-width: 400px) {
//	.main-button-box {
//	    width: 79%;
//	    left: 0;
//	    bottom: 6%;
//	}
//	.home-section-b .headingText {
//	    top: 8%;
//	    left: 2%;
//	}
//	.home-section-c {
//		.headingText {
//		    font-size: 35px;
//		    line-height: 35px;
//		    left: 10%;
//		    top: -40%;
//		}
//		.descriptionText {
//		    font-size: 19px;
//		    left: 7%;
//		    max-width: 373px;
//		    top: 33%;
//		}
//		.product-tips {
//		    left: 1%;
//		    bottom: 28%;
//		}
//		.col-sm-4 {
//		    width: 90%;
//		}
//		.main-button-box {
//		    width: 77%;
//		    bottom: 6%;
//		}
//	}
//	.home-section-d {
//		.headingText {
//		    left: -19%;
//		    width: 110%;
//		}
//		.product-tips {
//		    left: 37%;
//		    bottom: 21%;
//		}
//		.col-xs-12 {
//		    width: 90%;
//		}
//		.product-tips {
//		    left: 30%;
//		    bottom: 23%;
//		}
//	}
//}
//
//@media (max-width: 390px) {
//	.home-section-a .main-button-box {
//	    width: 100%;
//	    left: 0;
//	}
//	.product-tips .media-body {
//	    font-size: 12px;
//	}
//	.home-section-c .col-sm-4 {
//	    width: 311px;
//	}
//}
//
//@media (min-height: 950px) {
//	.home-section-a .parrot-handshake .parrot .descriptionText {
//		bottom: 13%;
//	}
//}
//
//
//@media (max-width: 380px) {
//	.home-section-b .headingText {
//	    left: -2%;
//	}
//	.home-section-d {
//		.headingText {
//		    top: 17%;
//		    position: absolute;
//		    left: -42%;
//		    right: 0;
//		    height: 65px;
//		    font-size: 30px;
//		    line-height: 1;
//		    width: 140%;
//		}
//		.product-tips {
//		    left: 29%;
//		    bottom: 20%;
//		}
//		.parrot-nodrown {
//			.parrot {
//			    background-position: 72% center;
//			    height: 60%;
//			    position: absolute;
//			    width: 28%;
//			    left: 24%;
//			    bottom: 24%;
//			}
//			.palm {
//			    background-position: 70% center;
//			    height: 70%;
//			    position: absolute;
//			    width: 100%;
//			    left: -38%;
//			}
//		}
//		.bubble-space .bubble {
//		    background-position: 72% center;
//		    height: 104%;
//		    position: absolute;
//		    width: 29%;
//		    left: 59%;
//		    bottom: 10%;
//		}
//		.descriptionText {
//		    font-size: 18px;
//		    position: absolute;
//		    top: 44%;
//		    left: 51%;
//		    right: 0px;
//		    max-width: 890px;
//		}
//		.littleHeadingText {
//		    top: 47.5%;
//		    left: 18%;
//		    right: 0;
//		    margin: auto;
//		    height: 375px;
//		    font-size: 20px;
//		    line-height: 21px;
//		    position: absolute;
//		    text-align: center;
//		    span {
//		    	font-size: 12px;
//		    }
//		}
//		.main-button-box {
//		    text-align: center;
//		    width: 100%;
//		    bottom: 2%;
//		    position: absolute;
//		    z-index: 11;
//		    right: 0;
//		    left: 0;
//		}
//		.col-xs-12 {
//		    width: 97%;
//		}
//	}
//	.home-section-e .main-button-box {
//	    bottom: 25%;
//	    left: 8.5%;
//	}
//	.home-section-d .parrot-nodrown .palm {
//	    height: 65%;
//	    width: 76%;
//	    left: -5%;
//	    bottom: 37%;
//	}
//}
//
//@media (max-width: 370px) {
//	.home-section-a {
//		.parrot-handshake {
//			.parrot {
//				.headingText {
//					font-size: 35px;
//					.break {
//					    font-size: 40px;
//					}
//				}
//			}
//		}
//	}
//}

@media (max-width: 260px) {

	.fp-section {
    	height: auto !important;
	}
	.login-avatar .avatar-username {
		display: none;
	}
	.main-button-box {
		left: -16%;
		bottom: 0%;
	}
	.main-button {
	    font-size: 18px;
	    width: 250px;
	    height: 50px;
	    top: 3px;
	}
	.logo-small {
	    width: 100px;
	    height: 54px;
	    left: 125%;
	    top: -30%;
	}
	.clearfix {
		margin-top: -6px;
	}
	.header {
		.auth-block {
			width: 35px;
			margin-top: -14px;
			.avatar-user img {
				width: 90%;
			}
			.item-expendable.item-expended ul {
				text-transform: none;
			}
		}
		.interface-block {
			margin-top: -28px;
			margin-right: -10px;
			span {
				display: none;
			}
			.short-lang {
				display: none;
			}
			.item-expendable {
				img {
					width: 40%;
				}
				ul {
					top: 35px;
					left: -25px;
				}
			}
		}
	}
	.user-menu.expendable-menu ul {
		left: -107px;
	}
//	.home-section-a {
//		background-image: url('../themes/images/v1/svg/mobile/pagea-bg.svg');
//		background-repeat: no-repeat;
//		background-size: cover;
//		.parrot-handshake .parrot {
//			background-image: none;
//		    height: 50%;
//		    bottom: 5%;
//		    margin: 0;
//		    .headingText {
//		    	margin-top: 30%;
//		    	margin-left: 10%;
//		    	.break {
//		    		font-size: 34px;
//		    	}
//		    	.highlight {
//		    		font-size: 34px;
//		    		margin-top: 0;
//		    		display: block;
//		    	}
//		    	.highlightAnswer {
//			    	font-size: 25px;
//			    	top: 191% !important;
//					left: 72% !important;
//			    }
//			    .highlightAnswerEng {
//			    	top: 200% !important;
//			    	left: 70% !important;
//			    }
//		    }
//		    .descriptionText {
//		    	bottom: -59%;
//		    	font-size: 15px;
//		    }
//		}
//	}
//	.home-section-b {
//	    background-image: url('../themes/images/v1/svg/mobile/pageb-bg.svg');
//	    background-position: 0 0;
//	    background-size: cover;
//	    img {
//	    	display: none;
//	    }
//	    .headingText {
//	    	top: 14%;
//	    	left: 22%;
//	    	width: auto;
//	    	img {
//			    position: absolute;
//			    top: 6%;
//			    left: 4%;
//			}
//			span {
//				left: 17%;
//				font-size: 25px;
//				top: 16%;
//				line-height: 1.3;
//			}
//		}
//		.descriptionText {
//			font-size: 15px;
//			font-family:$fontFamilyPrimary;
//			line-height: 24px;
//			position: absolute;
//			top: 56%;
//			left: 0;
//			right: 0;
//			max-width: 290px;
//		}
//		.media {
//			display: none;
//		}
//	}
//	.home-section-c {
//		background-image: url('../themes/images/v1/svg/mobile/pagec-bg.svg');
//		background-size: cover;
//		.parrot-rocket {
//			.rocket {
//				background-image: none;
//			}
//		}
//		.headingText {
//			top: -50%;
//			span {
//				position: absolute;
//			    left: 0;
//			    right: 62%;
//			    font-size: 30px;
//			    line-height: 1;
//			    text-align: center;
//			    top: 8%;
//			}
//		}
//		.product-tips {
//			display: none;
//			bottom: 22%;
//			.media-body {
//				font-size: 13px;
//		    	padding-left: 10px;
//		    	text-align: left;
//		    	width: 210px;
//			}
//		}
//		.media {
//			margin-top: 0;
//			position: absolute;
//			left: 0%;
//			bottom: 15%;
//			max-width: 300px;
//		}
//		.media-body {
//			font-size: 13px;
//
//		}
//		.descriptionText {
//		    font-size: 16px;
//		    line-height: 26px;
//		    position: absolute;
//		    top: 50%;
//		    left: 0%;
//		    font-family:$fontFamilyPrimary;
//		}
//	}
//
//	.home-section-d {
//		background-image: url('../themes/images/v1/svg/mobile/paged-bg.svg');
//		background-size: cover;
//		background-position-x: 3px;
//		.headingText {
//		    top: 13%;
//		    position: absolute;
//		    left: -13%;
//		    right: 0;
//		    margin: auto;
//		    height: 83px;
//		    font-size: 30px;
//		    line-height: 1;
//		    overflow: hidden;
//		    width: 111%;
//		}
//		.littleHeadingText {
//			left: 17%;
//			top: 54%;
//		}
//		.product-tips {
//			display: none;
//			left: 36%;
//	    	bottom: 19%;
//		}
//		.parrot-nodrown {
//			.parrot {
//				background-image: none;
//			    height: 60%;
//			    position: absolute;
//			    width: 40%;
//			    left: 10%;
//			    margin: auto;
//			    bottom: 25%;
//			}
//			.palm {
//				background-image: none;
//			    height: 70%;
//			    position: absolute;
//			    width: 100%;
//			    left: -38%;
//			    margin: auto;
//			}
//		}
//		.bubble-space {
//			.bubble {
//				background-image: none;
//			    height: 104%;
//			    position: absolute;
//			    width: 40%;
//			    left: 48%;
//			    margin: auto;
//			    bottom: 10%;
//			}
//		}
//		.descriptionText  {
//			font-size: 18px;
//		    position: absolute;
//		    top: 52%;
//		    left: 59%;
//		    right: 0px;
//		    max-width: 890px;
//		    font-family: $fontFamilyPrimary;
//		}
//	}
//	.home-section-e {
//		.headingText {
//		    top: 30%;
//		    font-size: 45px;
//		    left: 0;
//		}
//		.littleHeadingText {
//			top: 44%;
//			font-size: 22px;
//			left: 0;
//		}
//	}
//	.light #fp-nav ul li a.active span {
//	    background-image: url("../themes/images/v1/fp-nav-bullet-active-mobile.png");
//	}
//	#fp-nav.right ul li a.active span {
//	    width: 20px;
//	    height: 26px;
//	    background-image: url("../themes/images/v1/fp-nav-bullet-active-mobile.png");
//	    background-repeat: no-repeat;
//	    background-position: center;
//	    background-color: transparent;
//	    margin: -12px 0 0 -10px;
//	}
//	#fp-nav.right {
//		top: 40%;
//		ul li {
//			margin: -3px;
//		}
//	}
}




/*





*/


@media only screen and (max-height: 500px) {
    	.application {
			.app-page {
				.application-task-description {
					.application-task-info {
						.info-area-wrap {
							.exercise-dictation {
								.dictation-parrot {
											 /*  min-height: 145px;    */
								   display: none;
								}
							}
						}
					}
				}
			}
		}

}


/*   Task style   */
@media only screen
  and (max-width: 1280px)
  and (max-height: 480px) {

	.application {
		.application-header {
		    margin-top: 74px;
		}
		.app-page {
			.container {
				.application-task-description.task-dialog.dialog-started {
					.dialog-preview {
					    height: 80px;
					    background-size: 12%;
					}
				}
			}
		}
	}


}

@media (min-width: 980px) and (max-height: 780px) {
	.referral-modal {
 	 .modal-content {
		 max-width: 600px !important;
 		 .referral-container {
 			 .rm {
 				 .rm-header {
 					 padding: 31px 0 23px 0;
 					 .rm-friends {
 						 left: 20px;
 						 width: 70px;
 						 height: 53px;
 					 }
 					 .rm-ht {
 						 font-size: 24px;
 					 }
 					 .rm-close {
 						 top: 36px;
 						 right: 20px;
 						 width: 18px;
 						 height: 18px;
 					 }
 				 }
 				 .rm-content {
 					 .rm-title {
 						 font-size: 20px;
 						 margin: 46px 0;
 					 }
 					 .rm-desc {
 						 font-size: 16px;
 						 margin: 40px 0;
 					 }
					 .rm-input {
 						 width: 400px;
 						 height: 50px;
						 input {
							font-size: 12px;
							padding-left: 18px;
						 }
 						 span {
							font-size: 14px;
							right: 18px;
							.ka_ge & {
								top: 17px;
							}
 						 }
 					 }
 					 .rm-button {
 						 width: 210px;
 						 height: 50px;
 						 font-size: 20px;
 						 background-size: 18px 34px;
 						 background-position: 40px 16px;
 						 padding: 5px 0 0 30px;
 					 }
 					 .rm-info {
 						 font-size: 14px;
 						 padding: 0 130px 45px;
 					 }
 					 .rm-parrot {
 						 bottom: 20px;
 						 left: 20px;
 						 width: 122px;
 						 height: 160px;
 					 }
 					 .rm-question {
 						 bottom: 20px;
 						 right: 20px;
 						 width: 34px;
 						 height: 34px;
						 span {
							 left: -138px;
							 font-size: 12px;
							 padding: 6px 14px;
						 }
 					 }
 				 }
 			 }
 			 .rr {
 				 .rr-header {
 					 padding: 34px 0 24px 0;
 					 .rr-arrow {
 						 top: 40px;
 					 }
 					 .rr-ht {
  						font-size: 28px;
  					}
 					.rr-close {
 						top: 40px;
 					}
 				 }
 				 .rr-content {
 					 padding: 39px 47px 43px 55px;
 					 p {
 						 font-size: 15px;
 						 margin-bottom: 23px;
 					 }
 				 }
 			 }
 		 }
 	 }
  }
}
