@import '../styles/imports.scss';

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: #fbfbfb;
}

.content_container {
  padding: 55px 25px 55px 25px;
  margin-top: 0;
  width: 100%;
  display: flex;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 55px;
  position: relative;
}

.left_side {
  width: 25%;
  max-width: 288px;
  @include tablet {
    width: 100%;
    max-width: none;
  }
  @include mobile {
    width: 100%;
    max-width: none;
  }
}

.content_container h1,
.content_container h2 {
  text-align: left;
  line-height: 1.1;
}

.title {
  font-size: 35px;
  color: #565656;
  margin-bottom: 10px;
  white-space: no-wrap;
  width: 400%;
  &:lang(ka) {
    font-family: bpg_arial_2009;
    font-weight: normal;
  }
}

.heading2 {
  color: #bdbdbd;
  font-size: 22px;
  margin-bottom: 35px;
  &:lang(ka) {
    font-family: bpg_arial_2009;
    font-weight: normal;
  }
}

.title {
  text-align: left;
}

.started_courses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  max-width: 945px;
<<<<<<< HEAD
  margin-top: 62px;
=======
  margin-top: 63px;
>>>>>>> a839bfa (cleaned-code)
}

.heading3 {
  color: #bdbdbd;
  font-size: 22px;
  margin-bottom: 35px;
  text-align: left;
  &:lang(ka) {
    font-family: bpg_arial_2009;
    font-weight: normal;
  }
}

.started_courses_content {
  width: 100%;
}

.bottom {
  position: relative;
  width: 100%;
}

.started_courses {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.tablet_mobile {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
