@import '../styles/imports.scss';

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $purple-600;
  background-image: url('/assets/images/bg-white-letters.svg'),
    -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0, transparent
          42%, transparent 100%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/logout/logoutPlane.png');
  background-position: bottom 0rem right 0rem;
  background-repeat: no-repeat;
  background-size: 49.4rem 10.25rem;
  padding: 0 5rem 6rem;
}

.parrot {
  width: 25rem;
  height: 29rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('/assets/images/parrot.png');
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 26.4rem;
  width: 30.4rem;
  gap: 3rem;
  padding-left: 1rem;
}

.title {
  color: $yellow-600;
  font-size: 2.12rem;
  text-shadow: 2px 2px 1px $purple-600;
  font-family: HVDComicSerifPro;
}

.subTitle {
  font-size: 1.75rem;
  color: $white;
  font-family: HVDComicSerifPro;
}

.appLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.market {
  width: 8.75rem;
  height: 2.75rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
  position: relative;

  &.google {
    background-image: url('/assets/images/google_play.png');
  }

  &.apple {
    background-image: url('/assets/images/apple-store.png');
  }
}

.stars {
  display: flex;
  gap: 0.5rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  gap: 0.5rem;
}
.star {
  background-image: url('/assets/images/ratingStar.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.06rem;
  width: 1.06rem;
}

.phoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  height: 30.62rem;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30.63rem;
  width: 15rem;
  background-image: url('/assets/images/iphone.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.screen {
  max-width: 13rem;
  height: 23rem;
  overflow: hidden;
}
