@import '../styles/imports.scss';

.title {
  text-align: center;
  margin-top: 100px;
  color: $orange-500;
  font-size: 3em;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }
}

.desc {
  text-align: center;
  color: $white;
  font-size: 1.5em;
  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }
}

.fiveTimesFaster {
  color: $orange-500;
}

.contactUs {
  font-size: 1.4em;
  text-align: center;
  color: $black-100;
  margin: 3rem;
}

.moreInfo {
  &:lang(ka) {
    font-family: $kaFontTitleBold;
    padding-right: 15px;
  }
}

.phoneNumber {
  font-family: 'SegoeUIBlack';
  color: $purple-600;
  text-decoration: none;
  &:hover {
    color: $purple-300;
  }
}

.container {
  background-image: url(/assets/images/background-letters.svg),
    url(/assets/images/background-wave.svg);
  background-position: left top, left top;
  background-repeat: repeat, no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  background-attachment: local;
  color: $grey-800;
}

.pricingContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  // width: 70vw;
  @include tablet {
    margin: 0 auto;

    //width: 90vw;
  }

  @include mobile {
    margin: 0 auto;
    // width: 95vw;
  }
}

.followButtons {
  margin: 70px 0 0 0;
  position: relative;
}

.footer {
  margin: 40px 0 0 0;
  position: relative;
}
