@import '../styles/imports.scss';

.title {
  text-align: center;
  margin-top: 5.5rem;
  color: $orange-500;
  font-size: 3rem;
  margin-bottom: 0;
  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }

  @include mobile {
    font-size: 2rem;
  }
}

.desc {
  margin-bottom: 0;
  text-align: center;
  color: $white;
  font-size: 1.5rem;
  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }

  @include mobile {
    font-size: 1.3rem;
  }
}

.fiveTimesFaster {
  color: $orange-500;
}

.container {
  background-image: url(/assets/images/background-letters.svg),
    url(/assets/images/background-wave.svg);
  background-position: left top, left top;
  background-repeat: repeat, no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  background-attachment: local;
  color: $grey-800;
}

.pricingContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.reviews__container {
  display: flex;
  font-size: 1rem;
  position: relative;
  margin-top: 19rem;
}

.followButtons {
  margin: 70px 0 0 0;
  position: relative;
}

.footer {
  margin: 40px 0 0 0;
  position: relative;
}
