@import '../styles/imports.scss';

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.parrot {
  background-image: url('/assets/images/wizard/parrot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24vw;
  height: 27vh;
  top: 5rem;
  left: 10rem;

  @include tablet {
    width: 20rem;
    height: 15rem;
    top: 10rem;
    left: 0rem;
  }

  @include mobile {
    width: 20rem;
    height: 15rem;
    left: 0rem;
    top: 10rem;
  }
}

.ball {
  background-image: url('/assets/images/wizard/background-ball.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 50rem;
  height: 47.37rem;
  bottom: 0;
  right: -7rem;

  @include tablet {
    bottom: -3rem;
    right: -12rem;
  }

  @include mobile {
    right: -9rem;
    width: 40rem;
  }
}

.loginModal {
  border: 1px solid $white-300;
}
