@import '../styles/imports.scss';

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.parrot {
  background-image: url('/assets/images/wizard/parrot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24vw;
  height: 27vh;
  top: 5rem;
  left: 10rem;
}

.ball {
  background-image: url('/assets/images/wizard/background-ball.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 50rem;
  height: 47.37rem;
  bottom: 0;
  right: -7rem;
}

.languageContainer {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include desktop {
    width: 52rem;
  }
}
