@import '@styles/imports';

.leftContainer {
  display: flex;
  justify-content: space-around;
  width: 45%;
  background-color: $white-50;
  border-radius: 2rem 0 0 2rem;
  padding: 1.5rem 2rem;

  & > div {
    position: relative;

    input {
      width: 100%;
      font-family: SegoeUI, $kaFont;
      color: $black;
      font-size: 0.9rem;
      height: 2.5rem;
      border-radius: 2rem;
      border: 2px solid $grey-100;
      padding: 0 1.2rem;
    }

    label {
      position: absolute;
      font-family: SegoeUI, $kaFont;
      color: $grey-700;
      font-size: 0.9rem;
      left: 1.5rem;
      top: -1.5rem;
    }
  }

  @include mobile {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    height: 35rem;
  }
}
