@import '@styles/imports.scss';

.container {
  width: 100%;
  position: relative;
  label {
    position: absolute;
    transform: translateY(170%);
    pointer-events: none;
    transition: all 0.3s ease; // Add a transition for smooth movement
  }
  .labelTop {
    transform: translateY(0);
    font-size: .7rem;
    color: $grey-800;
  }
}
