@import '@styles/imports.scss';

.container {
  width: 100%;
  position: relative;
  margin-top: 42px;
  padding-left: 10px;
  label {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(170%);
    pointer-events: none;
    transition: all 0.3s ease; // Add a transition for smooth movement
  }
  .labelTop {
    top: 20;
    transform: translateY(0);
    font-size: 15px;
    color: $grey-800;
  }
}
