@import '@styles/imports';

.rightContainer {
  display: flex;
  align-items: center;
  background-color: $white;
  width: 50%;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  height: 100%;

  h4 {
    // margin-top: 50px;
    font-family: SegoeUI, 'sans-serif';
    color: $grey-800;
    &:lang(ka) {
      font-family: $kaFont;
    }
  }

  .imageCropper {
    width: 100%;
    height: 30px;
    background-color: $google;
  }

  .socialLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 90px 120px;

    @media screen and (max-width: 875px) {
      padding: 0 40px 120px;
    }

    @include smallWidth {
      padding: 0 10px 120px;
    }
  }

  .switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 2rem;
    .switch {
      display: flex;
      align-items: center;

      .slider {
        transition: 1s;
        background-color: $white-200;
        border-radius: 100px;
        padding: 1px;
        margin: 10px;
        cursor: pointer;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        align-items: center;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 27px;

        &::after {
          content: '';
          display: flex;
          top: 5px;
          left: 3px;
          width: 17px;
          height: 17px;
          background-color: $white;
          border-radius: 200px;
          position: absolute;
          will-change: left, background-color;
          transition: 0.5s;
        }
      }

      & input[type='checkbox']:checked + .slider {
        background-color: $purple-600;
        transition: 0.5s;
      }

      & input[type='checkbox']:checked + .slider::after {
        left: 40px;
        transition: 0.5s;
      }

      & input[type='checkbox'] {
        display: none;
        transition: 0.5s;
      }

      label {
        font-family: SegoeUI, 'sans-serif';
        color: $grey-800;

        &:lang(ka) {
          font-family: $kaFont;
        }
      }
    }
  }

  .changePassword {
    width: 60%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;

    a {
      text-decoration: none;
      font-size: 18px;
      font-family: SegoeUI, 'sans-serif';
      color: $grey-800;

      &:lang(ka) {
        font-family: $kaFont;
      }
    }

    img:nth-child(1) {
      width: 25px;
      height: 25px;
    }
  }

  .agree {
    width: 90%;
    height: 1.2rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    font-size: 0.8rem;

    input[type='checkbox'] {
      accent-color: $purple-500;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    p {
      color: $grey-800;
      font-family: SegoeUI, 'sans-serif';

      &:lang(ka) {
        font-family: $kaFont;
      }
      a {
        text-decoration: none;
        color: $purple-500;
      }
    }
  }

  .button {
    position: absolute;
    bottom: -105px;
    right: 0;
    padding: 0 20px;
    height: 47px;
    border: 50px;
    background-color: $purple-600;
    color: $white-100;
    font-family: SegoeUI, 'sans-serif';
    font-size: 18px;
    border-radius: 1rem;
    cursor: pointer;

    &:lang(ka) {
      font-family: $kaFont;
    }
    @include mobile {
      width: 100%;
    }
  }

  @include mobile {
    width: 100%;
    align-items: center;

    .changePassword {
      justify-content: center;
    }

    .agree {
      justify-content: center;
      width: 90%;
    }
  }
}
