@import '../../styles/imports.scss';

.ulNav {
  color: $white;

  @include mobile {
    font-size: 2.8vw;
  }
}

.liNav {
  list-style-type: none;
  display: inline;
  margin: 1.3vw;
  cursor: pointer;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }

  &:hover {
    @extend .activeMenu;
  }
}

.activeMenu {
  text-decoration: underline 3px;
  text-underline-offset: -22px;
}
