@import '@styles/imports';

.foldersContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  top: 10rem;
  gap: 1.5rem;
  margin-right: 54rem;
  align-items: flex-end;
  font-family: SegoeUI, $kaFont;
  color: $grey-300;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.folderName {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  padding: 0;

  &:hover {
    color: #692e96;
  }

  &:active {
    color: #692e96;
    cursor: pointer;
  }
}
