.full-page-bg-waves-purple {
    background: url("../themes/images/v1/svg/bg-lingwing-white-lightgrey.svg"), -moz-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0%, rgba(148, 148, 148, 0) 42%, rgba(0, 0, 0, 0) 100%);
    background: url("../themes/images/v1/svg/bg-lingwing-white-lightgrey.svg"), -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat;
}

.full-page-bg-waves-purple-last {
    background: url("../themes/images/v1/svg/bg-lingwing-white-lightgrey-last.svg"), -moz-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.1) 0%, rgba(148, 148, 148, 0) 57%, rgba(0, 0, 0, 0) 100%);
    background: url("../themes/images/v1/svg/bg-lingwing-white-lightgrey-last.svg"), -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat;
}

//Right dot navigation on homepage
#fp-nav.right {
    right: 2.6%;
}

#fp-nav.right {
    ul li {
        width: 20px;
        height: 26px;
        &:nth-child(2) a.active span {
            border: 3px solid #959595;
        }
        &:nth-child(3) a.active span {
            border: 3px solid #959595;
        }
        &:nth-child(4) a.active span {
            border: 3px solid #959595;
        }
    }
    ul li .fp-tooltip.right {
        right: 15px;
        top: -18px;
    }
    ul li .fp-tooltip {
        color: #f9ac13;
        font-family: $fontFamilyA;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
        padding: 15px;
        top: -19px;
    }
    ul li a span {


        background-color: transparent;
        //background-image: url("../themes/images/v1/bullet-default.png");
        // background-image: url("../themes/images/v1/fp-nav-bullet-default.png");
        background-image: url("../themes/images/v1/svg/mobile/fp-nav-bullet-default.svg");
        background-size:6px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: 14px;// 20px;
        height:14px;// 20px;
        margin: -12px 0 0 -10px;
    }
    ul li a.active span {
        width: 16px;// 20px;
        height: 16px;//20px;
        background-image: none;
       // background-image: url("../themes/images/v1/bullet-active.png");
        //background-image: url("../themes/images/v1/svg/mobile/fp-nav-bullet-active-mobile.svg");
        background-size:14px;// 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f29c1f; // transparent;
        margin: -12px 0 0 -11px;
        border:3px solid #2d2c29;
    }

    ul li a.active div.fp-tooltip.right {
        opacity: 100;
        width: auto;
    }
}

.animate-show,
.animate-hide {
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.home-section {
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.home-section-a {
    @extend .full-page-bg-waves-purple;
}

.home-section-b, .home-section-c, .home-section-d {
    @extend .home-section;
    background-color: $background-color-a;
}

.home-section-a, .home-section-e {
    background-color: $background-color-b;
    /* BLACK FRIDAY */
    //background-color: #000 !important;
}
/*  New Year   */
.home-section-e {
    width: 100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url(../themes/images/v1/new-year/snow-1.png);*/
    background-size: cover;
}


.home-section {
    .headingText {
        font-family: $fontFamilyCostum;
        position: absolute;
    }
    .descriptionText {
        font-family: $fontFamilyCostum;
        position: absolute;
    }
}


/*   New Year     */
.new-year {
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    z-index: 1;
    .santa {
        position: absolute;
        width: 100%;
        left: 0;
        top: 42%;
        z-index: 3;
        img {
            position:absolute;
            width: 44%;
            left: -22%;
        }
    }
    .tree {
        position: absolute;
        width: 100%;
        left: 0;
        bottom:0;
        z-index: 2;
        .icon {
            position:absolute;
            bottom:0;
            &.big {
                width:23%;
                left:-4%;
            }
            &.sm {
                width:11%;
                right:1%;
            }
        }
    }
}

/*   New Year   */
.new-year-e {
    .santa {
        top: 32%;
        img {
            position: absolute;
            width: 27%;
            left: 0%;
            top: 7%;
        }
    }
    .tree {
        bottom: -82%;
        position: absolute;
        width: 78%;
        z-index: 2;
        left: 9%;
        .icon {
            position:absolute;
            bottom:0;
            &.big {
                width:17%;
                left:4%;
            }
            &.sm {
                width:11%;
                right:4%;
            }
        }
    }
}

.home-section-a .parrot-handshake .parrot .headingText .highlight div div span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.home-section-a {
    .parrot-handshake {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        .parrot {
            /*    New Year Parrot  img   */
            //background-image: url("../themes/images/v1/parrot-new-year.png");

            /*    default Parrot  img   */
            background-image: url("../themes/images/v1/parrothandshake.png");
            background-repeat: no-repeat;
            background-size: 46%;
            background-position: 37% 106%;
            position: absolute;
            right: 0%;
            bottom: 26%;
            width: 1000px;
            height: 629px;
            z-index: 4; //0;
            .headingText {
                position: relative;
                color: #fff;
                font-size: 82px;
                z-index: 1;
                height: 180px;
                margin-top: 7%;
                .tr_tr & {
                    font-size: 70px;
                }
                .break {
                    display: block;
                }
                .highlight {
                    color: #f903e7;
                    display: inline-block;
                    margin-top: 0;
                    .tr_tr & {
                        margin-top: 15px;
                    }
                    img {
                        // width: 10%;
                        max-width: 60px;
                        margin-top: -2vmin;
                        width: 100%;
                    }
                }
                .distance {
                    margin-left: -5px;
                }
                .distance:empty {
                    display: none;
                }
            }
            .bubble {
                 /*  BLACK FRIDAY  */
                // background-image: url(../themes/images/v1/bubble-main-BLACK-F-D.png);

                /*   default  img   */
                background-image: url("../themes/images/v1/bubble-main.png");
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: flex;
                justify-content: center;
                display: -webkit-flex;
                -webkit-justify-content: center;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                flex-direction: row;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                height: 33%;
                width: 27%;
                margin-left: 68%;
                margin-top: -4%;
                .highlightAnswer {
                    align-self: center;
                    font-family: $fontFamilyCostum, $fontFamilyGePrimary;
                    font-size: 66px;
                    color: #692e96;
                    cursor: pointer;
                    text-align: center;
                    height: 95px;
                    width: 126px;
                }
            }
            .certificate {
                width:190px;
                height:190px;
                position: absolute;
                bottom: -276px;
                z-index: 800;
                left: -75px;
                background-size: 97%;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../themes/images/v2/certificate.png);
            }
            .descriptionText {
                position: relative;
                color: #fff;
                font-size: 30px;
                line-height: 40px;
                margin-top: 0%;
                margin-left: 1%;
                .br {
                    display: block;
                }
            }
        }
    }
}

.home-section-a {
    .parrot-handshake {
        .newland {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 90%;
            height: 650px;
            margin: auto;
            z-index: 4;
            .heading {
                position: relative;
                z-index: 5;
                font-size: 51px;
                font-family: $fontFamilyCostum;
                color: #fff;
                text-align: center;
                margin-bottom: 55px;
                margin-top: 30px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
                .ka_ge & {
                    font-family: $fontFamilyGePrimaryLanding;
                    font-size: 58px;
                }
                .ru_ru & {
                    font-family: $fontFamilyCostumRussian;
                    font-size: 54px;
                }
                span {
                    color: #f903e7;
                }
            }
            .langs {
                position: relative;
                z-index: 5;
                .lang {
                    position: relative;
                    width: 100%;
                    height: 190px;
                    border-radius: 13px;
                    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    overflow: hidden;
                    @include transition(all 0.25s linear);
                    .lang-p {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 5;
                        width: 100%;
                        height: 100%;
                        background-color: #692e96;
                        background-size: cover;
                        background-position: center;
                        border-radius: 13px;
                        @include transition(all 0.15s linear);
                    }
                    .lang-o {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 3;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        border-radius: 16px;
                    }
                    .lang-flag {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 80px;
                        height: 80px;
                        margin: auto;
                        z-index: 7;
                        @include transition(all 0.25s linear);
                    }
                    .lang-name {
                        position: absolute;
                        top: 12px;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                        font-family: $fontFamilyPrimary2;
                        color: #fff;
                        .ka_ge & {
                            font-family: $fontFamilyGePrimaryRegular;
                            top: 17px;
                        }
                    }
                    .lang-start {
                        position: absolute;
                        top: -40px;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        line-height: 36px;
                        text-align: center;
                        background-color: #f0b860;
                        font-size: 20px;
                        font-family: $fontFamilyPrimary2;
                        color: #fff;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                        @include transition(all 0.25s linear);
                        .ka_ge & {
                            font-family: $fontFamilyGePrimaryRegular;
                            line-height: 45px;
                        }
                    }
                    .lang-parrot {
                        @include transition(all 0.25s linear);
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    &.eng .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        right: -60px;
                        width: 60px;
                    }
                    &.fre .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -65px;
                        width: 65px;
                    }
                    &.ita .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -68px;
                        width: 68px;
                    }
                    &.deu .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -112px;
                        width: 112px;
                    }
                    &.rus .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        right: -52px;
                        width: 52px;
                    }
                    &.esp .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -82px;
                        width: 82px;
                    }
                    &.geo .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -82px;
                        width: 71px;
                    }
                    &.abk .lang-parrot {
                        position: absolute;
                        bottom: 0;
                        left: -82px;
                        width: 71px;
                    }
                    &:hover {
                        transform: scale(1.05,1.05);
                    }
                    &:hover .lang-p {
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover .lang-start {
                        top: 0;
                    }
                    &:hover .lang-flag {
                        top: -20px;
                    }
                    &.eng:hover .lang-parrot {
                        right: 0;
                    }
                    &.fre:hover .lang-parrot {
                        left: 0;
                    }
                    &.ita:hover .lang-parrot {
                        left: 0;
                    }
                    &.deu:hover .lang-parrot {
                        left: 0;
                    }
                    &.rus:hover .lang-parrot {
                        right: 0;
                    }
                    &.esp:hover .lang-parrot {
                        left: 0;
                    }
                    &.geo:hover .lang-parrot {
                        left: 0;
                    }
                    &.abk:hover .lang-parrot {
                        left: 0;
                    }
                }
            }
            .parrot {
                position: absolute;
                left: -180px;
                bottom: -144px;
                width: 457px;
                height: 470px;
                background-image: url(../themes/images/v2/newland-parrot.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
            }
        }
    }
}

.home-section-b {
    background-image: url('../themes/images/v1/svg/greyshadow.svg');
    background-repeat: no-repeat;
    background-position: top center;
    .contentBox {
        position: absolute;
        height: auto;
        width: auto;
        right: 20%;
        bottom: 25%;
    }
    .headingText {
        position: relative;
        width: 684px;
        height: auto;
        color: #7835ab;
        font-size: 82px;
        overflow: hidden;
        margin-left: 20%;
        img {
            width: 43%;
        }
        span {
            position: absolute;
            left: 31%;
            top: 30%;
        }
    }
    .descriptionText {
        position: relative;
        text-align: center;
        font-size: 30px;
        color: #f903e7;
        max-width: 890px;
    }
    .product-tips {
        margin-top: 5%;
        .media {
            .media-body {
                width: 274px;
            }
        }
    }
}

.home-section-c {
    background-image: url('../themes/images/v1/greymoon.png'), url('../themes/images/v1/bg-stars.png'), url('../themes/images/v1/stripe.png');
    background-repeat: no-repeat;
    background-position: 0 0, 400px -60px, 400px bottom;
    background-size: 16%, 72%, 50%;
    .rocket {
        position: absolute;
        background-image: url("../themes/images/v1/svg/parrot_rocket.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 97% -3%;
        height: 35%;
        width: 23%;
        right: 21%;
        bottom: 26%;
    }
    .parrot-rocket {
        position: absolute;
        bottom: 26%;
        left: 22%;
        width: 45%;
        height: auto;
        .headingText {
            position: relative;
            width: 630px;
            height: auto;
            color: #7835ab;
            font-size: 78px;
            overflow: hidden;
            margin-top: 18%;
            margin-left: 15%;
        }
        .descriptionText {
            position: relative;
            font-size: 30px;
            color: #f903e7;
            width: 460px;
            margin-left: 14%;
            margin-top: 8%;
        }
        .product-tips {
            margin-top: 10%;
            margin-left: 12%;
        }
    }
}

.home-section-d {
    background-image: url('../themes/images/v1/svg/greyshadow2.svg'), url('../themes/images/v1/greyshadow3.png');
    background-repeat: no-repeat;
    background-position: top right, 0 105%;
    .parrot-nodrown {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }
    .parrot-nodrown {
        .parrot {
            background-image: url("../themes/images/v1/svg/nodrown.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 72% center;
            height: 74%;
            position: absolute;
            width: 23%;
            left: 12%;
            margin: auto;
            bottom: 4%;
        }
        .palm {
            background-image: url("../themes/images/v1/svg/palm.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 72% center;
            height: 81%;
            position: absolute;
            width: 99%;
            left: -44%;
            margin: auto;
            bottom: 19%;
        }
    }
    .bubble-space {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        .contentBox {
            position: absolute;
            bottom: 32%;
            .headingText {
                position: relative;
                width: 470px;// 425px;
                height: 205px;
                color: #7835ab;
                font-size: 57px;
                overflow: hidden;
                margin-top: 13%;
                margin-left: 45%;
            }
            .bubble-container {
                position: relative;
                height: 18%;
                width: 50%;
                margin-top: 2%;
                margin-left: 41%;
                .bubble {
                    background-image: url("../themes/images/v1/bubble.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    display: -webkit-flex;
                    -webkit-justify-content: center;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    height: 167px;
                    width: 207px;
                    .littleHeadingText {
                        align-self: center;
                        height: 68px;
                        width: 155px;
                        color: #7835ab;
                        font-size: 32px;
                        font-family: $fontFamilyCostum;
                        text-align: center;
                    }
                    .littleHeadingText div {
                        font-size: 14px;
                    }
                }
                .descriptionText {
                    font-size: 30px;
                    color: #f903e7;
                    position: relative;
                    max-width: 890px;
                    margin-top: -18%;
                    margin-left: 40%;
                }
            }
            .product-tips {
                width: auto;
                margin-top: 8%;
                margin-left: 42%;
                .col-sm-4 {
                    width: 48.333%;
                }
            }
        }
    }
}

.home-section-e {
    @extend .full-page-bg-waves-purple-last;

    .contentBox {
        width: auto;
        // position: absolute;
        // bottom: 25%;
        // right: 28%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        bottom: inherit!important;
        right: inherit!important;
        top: -57px;
        .headingText {
            color: $colorOrange;
            font-size: 94px;
            line-height: 131px;
            overflow: hidden;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            text-align: center;
            .tr_tr & {
                font-size: 80px;
            }
        }
        .littleHeadingText {
            color: $colorWhite;
            font-size: 58px;
            font-family: $fontFamilyCostum;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
        .arrow-flags {
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            width: 64%;
            height: 130px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            div {
                align-self: center;
                margin-right: -5%;
                margin-top: 15px;
                width: 20%; // add linne for es-es new leng cours
                a {
                    color: white;
                    font-size: 18px;
                    font-family: $fontFamilyPrimary2;
                    transition: all linear .2s;
                    img {
                        width: 40%;// width: 35%;
                        height: 40%; // height: 35%;
                        border-radius: 100%;
                        border: 6px solid #633293;
                    }
                }
                a:hover {
                    color: #f8a40d;
                    img {
                      //  box-shadow: 0px 0px 10px #3e125a;
                    }
                }
            }
            div:last-child {
                margin-right: 0;
            }
        }
    }
}

.fp-viewing-1, .fp-viewing-2, .fp-viewing-3, .fp-viewing-4 {
    .box-slg-str {
        display: none;
    }
}

.fp-viewing-4 {
    .main-button-box {
        display: none;
    }
}

.product-tips {
    position: relative;
    .media-body {
        color: #323232;
        font-size: 14px;
        padding-left: 10px;
        font-family: $fontFamilyPrimary;
    }
}

.get-started-btn,
.get-started-btn:hover {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    font-family: $fontFamilyPrimary;
    font-size: 22px;
    background-color: #f39c12;
    text-align: center;
    max-width: 306px;
    padding: 14px 0 14px 0;
    color: #fff;
    border-radius: 32px;
    text-decoration: none;
}

.get-started-btn.abs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

// .main-button-box {
//     text-align: center;
//     bottom: 8%;
//     position: absolute;
//     z-index: 11;
//     left: 23px;
//     right: 44px;
//     margin: auto;
//     max-width: 315px;
//     height: 86px;
// }

// .main-button-box-last {
//     bottom: 20%;
// }

// .main-button {
//     background-image: url('../themes/images/v1/button.png');
//     background-color: transparent;
//     background-repeat: no-repeat;
//     background-position: -7px -3px;
//     position: relative;
//     z-index: 13;
//     font-size: 22px;
//     color: #fffefe;
//     width: 312px;
//     height: 103px;
//     font-family: $fontFamilyPrimary;
//     border: none;
//     text-transform: uppercase;
//     transition: all linear .2s;
// }

// .main-button:hover {
//     background-image: url('../themes/images/v1/button-hover.png');
// }

.main-button-box {
  text-align: center;
  width: 100%;
  bottom: 8%;// 5%;
  position: fixed;
  z-index: 4;// 0;
}
.main-button {
  position: relative;
  z-index: 1;
  font-size: 22px;
  color: #fffefe;
  //width: 312px;
  //height: 60px;
  padding:12px 18px 12px 28px;
  font-family: $fontFamilyPrimary;
  background-color: #f39c12;
  //box-shadow: 0 0 6px grey;
  //box-shadow: 0 0 6px #cac5c5;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  top: 37px;
  // &.tes {
  //     background-color: #9570b4!important;
  //     top: 0;
  // }

  .ka_ge & {
    font-size: 22px;
    padding:15px 30px 8px 30px;
    .ar {
        margin-top: 1px;
    }
  }
  .ar {
    background-image: url(../themes/images/v2/start_L.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    height: 22px;
    width: 25px;
    float: right;
    margin-top: 5px;
  }
}
.main-button:focus {outline:0;}
/*  start button old hover  */
.main-button-hover {
    background-color: #feb614;
}
.main-button-index {
    z-index: -1;
}
.main-button-bg {
  // background-position: 40px 19px, 240px 60px;
  // background-image: url("../themes/images/v1/button-top-icon.png"), url("../themes/images/v1/button-bot-icon.png");

    width:420px; /* <<add test   */
    bottom: 0%;
    text-align: center;
    text-transform: uppercase;
    height: 132px;
    margin: 0 auto;
    background-repeat: no-repeat, no-repeat;
    transition: all 0.4s;
    /* <<add test   */
    display: flex;
    justify-content: center;

    .ru_ru & {
      width: 450px;
    }
    a {
        // position: absolute;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        border-radius: 30px;
        // width: 278px;// 233px;//312px;
        height: 55px;
        // margin-left:-79px;// -223px;  /* <<add test   */
        //top: 37px;
        z-index: 5;
        color: #fff;
        @include transition(all 0.2s linear);
        .ar {
          @include transition(all 0.2s linear);
        }
        .top-icon {
            position: absolute;
            left: 70px;
            top: -22px;
            width: 47px;
            height: 22px;
            background-image: url(../themes/images/v2/mbt-o.png);
            background-repeat: no-repeat;
            background-size: contain;
            @include transition(all 0.2s linear);
        }
        .bottom-icon {
            position: absolute;
            right: 42px;
            bottom: -14px;
            width: 28px;
            height: 14px;
            background-image: url(../themes/images/v2/mbb-o.png);
            background-repeat: no-repeat;
            background-size: contain;
            @include transition(all 0.2s linear);
        }
        &:hover {
            background-color: #feb614;
            color: #fff;
            transform: translateY(-1px);
            box-shadow:0 2px 10px rgba(0, 0, 0, 0.4);
            .ar {
                transform: translateX(4px);
            }
        }
        &:hover .top-icon {
            background-image: url(../themes/images/v2/mbt-h.png);
        }
        &:hover .bottom-icon {
            background-image: url(../themes/images/v2/mbb-h.png);
        }
        &.start_l {
            // .ru_ru & {
            //     width: 278px;
            // }
            // .ka_ge & {
            //     width: 278px;
            // }
            .es_es & {
                // width: 306px;
                // margin-left: -100px;
            }
            .tr_tr & {
                // width: 320px;
                // margin-left: -68px;
            }
        }
    }
    .test {
        width: 139px;
        margin-left: 150px;
        color: #fff;
        top: 36px;
        background-color: #9570b4;
        &:hover {
            background-color: #b082d6!important;
        }
        .es_es & {
          width: 178px;
          margin-left: 163px;
        }
        .tr_tr & {
          margin-left: 183px;
        }
    }
}
.main-button-bg-hover {
  // background-image: url("../themes/images/v1/button-top-icon.png"), url("../themes/images/v1/button-bot-icon.png");
  // background-position: 40px -4px, 240px 74px;
}

.lwright {
    color: #40155a;
    font-size: 12px;
    margin-top: 23px;
    font-family: "SegoeUIBlack";
    font-weight: lighter;
}

.socicons {
    width: 36px;
    height: 36px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 18px;
    border-radius: 100%;
    border: 2px solid #946cb2;
    line-height: 35px;
}

.socicons:hover {
    border: 2px solid #fff;
}

.socicons-box a {
    padding: 0 3px 0 3px;
    float: left;
}

.socicons-box a:last-child {
    padding-right: 0;
}

.socicons-box a:first-child {
    padding-left: 0;
}

.socdots {
    margin-top: 14px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f9ac13;
    float: left;
    margin-right: 2px;
}

.socdots:last-child {
    margin-right: 0;
}

.firstdot {
    margin-left: 7px;
}

.all-langs {
    padding: 45px 15px;
    background-color: #f903e7;
    position: absolute;
    border-radius: 25px;
    margin-left: -35px;
}

.all-langs i {
    position: absolute;
    top: -12px;
    color: white;
    font-size: 32px;
    left: 50px;
}

.main-subtitle {
    font-size: 35px;
    font-family: $fontFamilyCostum;
    line-height: 1.3;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

.arrows {
    right: 0;
    height: 113px;
    position: fixed;
    bottom: 4.35%;
    z-index: 15;
    width: 350px;
    // display: none;
}

.homepage-footer {
    &.arrows {
        display: block;
    }
}

.arr {
    margin-top: -20px;
    margin-right: 30px;
}
.btn-group .nav-arrow:first-child {
    margin-bottom: 9px;
    outline: none;
}
.btn-group .nav-arrow:last-child {
    outline: none;
}
.nav-arrow {
    width: 38px !important;
    height: 38px;
    padding: 0 !important;
    color: #fff;
    font-size: 26px;
    border: none;
    border-radius: 50% !important;
    background-color: #331649;
}

.page3 {
    background-image: url("../themes/images/v1/svg/bg-3.svg");
}

// Profile page age dropdown
.border-left-radius-zero {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.border-both-radius-zero {
    border-radius: 0;
}
.border-right-radius-zero {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 1199px) {
    .home-section-a {
        .parrot-handshake {
            .newland {
                width: 88%;
                height: 620px;
                .heading {
                    font-size: 41px;
                    .ka_ge & {
                        font-size: 48px;
                    }
                    .ru_ru & {
                        font-size: 44px;
                    }
                }
                .langs {
                    .col-xs-2 {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                    .lang {
                        height: 165px;
                        .lang-flag {
                            width: 70px;
                            height: 70px;
                        }
                        .lang-name {
                            top: 12px;
                            font-size: 16px;
                            .ka_ge & {
                                top: 15px;
                            }
                        }
                        .lang-start {
                            top: -32px;
                            height: 32px;
                            line-height: 31px;
                            font-size: 16px;
                            .ka_ge & {
                                line-height: 36px;
                            }
                        }
                        &.eng .lang-parrot {
                            right: -53px;
                            width: 53px;
                        }
                        &.fre .lang-parrot {
                            left: -58px;
                            width: 58px;
                        }
                        &.ita .lang-parrot {
                            left: -61px;
                            width: 61px;
                        }
                        &.deu .lang-parrot {
                            left: -105px;
                            width: 105px;
                        }
                        &.rus .lang-parrot {
                            right: -45px;
                            width: 45px;
                        }
                        &.esp .lang-parrot {
                            left: -75px;
                            width: 75px;
                        }
                        &.geo .lang-parrot {
                            left: -75px;
                            width: 61px;
                        }
                        &:hover .lang-flag {
                            top: -20px;
                        }
                    }
                }
                .parrot {
                    left: -140px;
                    bottom: -125px;
                    width: 420px;
                    height: 432px;
                }
            }
        }
    }

    .box-slg-str {
        top: -90px;
    	.slg-str {
    		font-size: 22px;
    		strong {
    			font-size: 32px;
    		}

    	}
    }
}

@media (max-height: 800px) and (min-width: 992px) {
    .home-section-a {
        .parrot-handshake {
            .newland {
                width: 88%;
                height: 575px;
                .heading {
                    margin-bottom: 32px;
                    margin-top: 35px;
                }
                .parrot {
                    left: -128px;
                    bottom: -100px;
                    width: 370px;
                    height: 380px;
                }
            }
        }
    }

    .main-button-box {
        bottom: 5%;
        .box-slg-str {
            top: -60px;
        }
    }
}

@media (max-width: 991px) {
    .home-section-a {
        .parrot-handshake {
            .newland {
                height: 570px;
                .heading {
                    font-size: 31px;
                    .ka_ge & {
                        font-size: 37px;
                    }
                    .ru_ru & {
                        font-size: 34px;
                    }
                }
                .langs {
                    .col-xs-2 {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                    .lang {
                        height: 134px;
                        .lang-flag {
                            width: 55px;
                            height: 55px;
                        }
                        .lang-name {
                            top: 9px;
                            font-size: 13px;
                            .ka_ge & {
                                top: 13px;
                            }
                        }
                        .lang-start {
                            top: -28px;
                            height: 28px;
                            line-height: 27px;
                            font-size: 13px;
                            .ka_ge & {
                                line-height: 32px;
                            }
                        }
                        &.eng .lang-parrot {
                            right: -45px;
                            width: 45px;
                        }
                        &.fre .lang-parrot {
                            left: -48px;
                            width: 48px;
                        }
                        &.ita .lang-parrot {
                            left: -50px;
                            width: 50px;
                        }
                        &.deu .lang-parrot {
                            left: -83px;
                            width: 83px;
                        }
                        &.rus .lang-parrot {
                            right: -40px;
                            width: 40px;
                        }
                        &.esp .lang-parrot {
                            left: -64px;
                            width: 64px;
                        }
                        &.geo .lang-parrot {
                            left: -64px;
                            width: 56px;
                        }
                        &:hover .lang-flag {
                            top: -18px;
                        }
                    }
                }
                .parrot {
                    left: -115px;
                    bottom: -130px;
                    width: 341px;
                    height: 350px;
                }
            }
        }
    }

    .box-slg-str {
    	.slg-str {
    		font-size: 16px;
    		strong {
    			font-size: 23px;
    		}

    	}
    }

    .main-button-box {
        bottom: 6%;
    }

    .start-button.start_l.main-button {
        font-size: 17px !important;
        padding: 17px 30px 8px 30px !important;
    }
}

@media (max-height: 800px) and (max-width: 991px) {
    .home-section-a {
        .parrot-handshake {
            .newland {
                width: 88%;
                height: 520px;
                .heading {
                    margin-bottom: 32px;
                    margin-top: 35px;
                }
                .parrot {
                    left: -132px;
                    bottom: -110px;
                    width: 345px;
                    height: 355px;
                }
            }
        }
    }

    .main-button-box {
        bottom: 5%;
        .box-slg-str {
            top: -60px;
        }
    }
}

@media (max-width: 767px) {
    .home-section-a {
        .parrot-handshake {
            .newland {
                height: 570px;
                .heading {
                    font-size: 19px;
                    margin-bottom: 35px;
                    margin-top: 25px;
                    .ka_ge & {
                        font-size: 22px;
                    }
                    .ru_ru & {
                        font-size: 20px;
                    }
                }
                .langs {
                    .col-xs-2 {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                    .lang {
                        height: 114px;
                        margin-left: 0 !important;
                        margin-top: 0 !important;
                        margin-bottom: 0 !important;
                        .lang-flag {
                            width: 44px;
                            height: 44px;
                        }
                        .lang-name {
                            top: 7px;
                            font-size: 11px;
                            .ka_ge & {
                                top: 10px;
                            }
                        }
                        .lang-start {
                            top: -28px;
                            height: 28px;
                            line-height: 27px;
                            font-size: 11px;
                            .ka_ge & {
                                line-height: 32px;
                            }
                        }
                        &.eng .lang-parrot {
                            right: -38px;
                            width: 38px;
                        }
                        &.fre .lang-parrot {
                            left: -41px;
                            width: 41px;
                        }
                        &.ita .lang-parrot {
                            left: -43px;
                            width: 43px;
                        }
                        &.deu .lang-parrot {
                            left: -71px;
                            width: 71px;
                        }
                        &.rus .lang-parrot {
                            right: -31px;
                            width: 31px;
                        }
                        &.esp .lang-parrot {
                            left: -52px;
                            width: 52px;
                        }
                        &.geo .lang-parrot {
                            left: -52px;
                            width: 45px;
                        }
                        &:hover .lang-flag {
                            top: -16px;
                        }
                    }
                }
                .parrot {
                    left: -95px;
                    bottom: -135px;
                    width: 282px;
                    height: 290px;
                }
            }
        }
    }

    .box-slg-str {
        top: -50px;
    	.slg-str {
    		font-size: 13px;
    		strong {
    			font-size: 19px;
    		}

    	}
    }

    .start-button.start_l.main-button {
        font-size: 14px !important;
        padding: 12px 30px 8px 30px !important;
        height: 46px;
        .ka_ge & {
            padding: 14px 30px 8px 30px !important;
        }
    }
}
