@import '@styles/imports.scss';

.tab {
  cursor: pointer;
  height: 2.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  &.active {
    border-bottom: 1px solid $purple-500;
  }
}
