@import '@styles/imports';

.offerContainer {
  width: 100%;
  font-family: SegoeUI, $kaFont;

  .title {
    color: $black-600;
    font-size: 1.7rem;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    .price {
      color: $orange-650;
    }
  }

  .description {
    font-family: SegoeUI, $kaFont;
    color: $grey-700
  }
}
