$super_small: 400px;
$mobile_end: 767px;
$tablet_start: 768px;
$tablet_end: 1023px;
$desktop_start: 1024px;

$small_height: 650px;

@mixin smallWidth {
  @media (max-width: $super_small) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile_end) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet_start) and (max-width: $tablet_end) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop_start) {
    @content;
  }
}

@mixin smallHeight {
  @media (max-height: $small_height) {
    @content;
  }
}
