
    $white:  #ffffff;
    $white-100: #f1f1f1;
    $white-200: #eaeaea;
    $white-300: #ddd;
    $orange-100: #f0b860;
    $orange-200: #f6a213;
    $black: #000000;
    $black-t: #0000004d;
    $grey-200: #ffffff61;
    $grey-100: #b8b8b8;
    $purple-500: #7835AB;
    $purple-300: #9865BF;
    $facebook: #3B5999;
    $google: #DD4B39;
    $twitter: #55ACEE;
    

