@font-face {
  font-family: 'HVDComicSerifPro';
  src: url('../public/assets/fonts/HVDComicSerifPro/HVDComicSerifPro.eot?#iefix')
      format('embedded-opentype'),
    url('../public/assets/fonts/HVDComicSerifPro/HVDComicSerifPro.otf')
      format('opentype'),
    url('../public/assets/fonts/HVDComicSerifPro/HVDComicSerifPro.woff')
      format('woff'),
    url('../public/assets/fonts/HVDComicSerifPro/HVDComicSerifPro.ttf')
      format('truetype'),
    url('../public/assets/fonts/HVDComicSerifPro/HVDComicSerifPro.svg#HVDComicSerifPro')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../public/assets/fonts/nexabold/nexabold-webfont.woff')
      format('woff'),
    url('../public/assets/fonts/nexabold/nexabold-webfont.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CalibriRegular';
  src: url('../public/assets/fonts/calibri-regular/Calibri.woff') format('woff'),
    url('../public/assets/fonts/calibri-regular/Calibri.ttf') format('truetype'),
    url('../public/assets/fonts/calibri-regular/Calibri.eot?#iefix')
      format('embedded-opentype'),
    url('../public/assets/fonts/calibri-regular/Calibri.svg#SegoeUI-Bold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../public/assets/fonts/SegoeUI-Bold/SegoeUI-Bold.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/SegoeUI-Bold/SegoeUI-Bold.woff') format('woff'),
    url('../public/assets/fonts/SegoeUI-Bold/SegoeUI-Bold.ttf')
      format('truetype'),
    url('../public/assets/fonts/SegoeUI-Bold/SegoeUI-Bold.svg#SegoeUI-Bold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIBlack';
  src: url('../public/assets/fonts/segoe/SegoeUIBlack.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/segoe/SegoeUIBlack.woff') format('woff'),
    url('../public/assets/fonts/segoe/SegoeUIBlack.ttf') format('truetype'),
    url('../public/assets/fonts/segoe/SegoeUIBlack.svg#SegoeUIBlack')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('../public/assets/fonts/SegoeUI-SemiBold/SegoeUI-SemiBold.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/SegoeUI-SemiBold/SegoeUI-SemiBold.woff')
      format('woff'),
    url('../public/assets/fonts/SegoeUI-SemiBold/SegoeUI-SemiBold.ttf')
      format('truetype'),
    url('../public/assets/fonts/SegoeUI-SemiBold/SegoeUI-SemiBold.svg#SegoeUI-SemiBold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('../public/assets/fonts/BPG-Nino-Mtavruli/bpg-nino-mtavruli-webfont.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/BPG-Nino-Mtavruli/bpg-nino-mtavruli-webfont.woff2')
      format('woff2'),
    url('../public/assets/fonts/BPG-Nino-Mtavruli/bpg-nino-mtavruli-webfont.woff')
      format('woff'),
    url('../public/assets/fonts/BPG-Nino-Mtavruli/bpg-nino-mtavruli-webfont.ttf')
      format('truetype'),
    url('../public/assets/fonts/BPG-Nino-Mtavruli/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular')
      format('svg');
}

@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url('../public/assets/fonts/BGP-Nino-Mtavruli-Bold/bpg-nino-mtavruli-bold-webfont.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/BGP-Nino-Mtavruli-Bold/bpg-nino-mtavruli-bold-webfont.woff2')
      format('woff2'),
    url('../public/assets/fonts/BGP-Nino-Mtavruli-Bold/bpg-nino-mtavruli-bold-webfont.woff')
      format('woff'),
    url('../public/assets/fonts/BGP-Nino-Mtavruli-Bold/bpg-nino-mtavruli-bold-webfont.ttf')
      format('truetype'),
    url('../public/assets/fonts/BGP-Nino-Mtavruli-Bold/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold')
      format('svg');
}

@font-face {
  font-family: 'bpg_arial_2009';
  src: url('../public/assets/fonts/bpg_arial_2009.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/bpg_arial_2009.woff2') format('woff2'),
    url('../public/assets/fonts/bpg_arial_2009.woff') format('woff'),
    url('../public/assets/fonts/bpg_arial_2009.ttf') format('truetype'),
    url('../public/assets/fonts/bpg_arial_2009.svg#bpg_arial_2009')
      format('svg');
}

@font-face {
  font-family: 'BPG Ingiri';
  src: url('../public/assets/fonts/BGP-Ingiri/bpg-ingiri-webfont.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/BGP-Ingiri/bpg-ingiri-webfont.woff2')
      format('woff2'),
    url('../public/assets/fonts/BGP-Ingiri/bpg-ingiri-webfont.woff')
      format('woff'),
    url('../public/assets/fonts/BGP-Ingiri/bpg-ingiri-webfont.ttf')
      format('truetype'),
    url('../public/assets/fonts/BGP-Ingiri/bpg-ingiri-webfont.svg#bpg_ingiriregular')
      format('svg');
}

@font-face {
  font-family: 'Loyola';
  src: url('../public/assets/fonts/loyola/Loyola.eot')
      format('embedded-opentype'),
    url('../public/assets/fonts/loyola/Loyola.woff2') format('woff2'),
    url('../public/assets/fonts/loyola/Loyola.woff') format('woff'),
    url('../public/assets/fonts/loyola/Loyola.ttf') format('truetype'),
    url('../public/assets/fonts/loyola/Loyola.svg#Loyola') format('svg');
  font-weight: normal;
  font-style: normal;
}
