@import './imports.scss';

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @include mobile {
    overflow-y: scroll;
    overflow-x: auto;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;
}

