@import './imports';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $purple-600;
  background-image: url('/assets/images/background-letters.svg'),
    -webkit-radial-gradient(center, circle cover, rgba(255 255 255 / 15%) 0, rgba(
            0
            0
            0 /
            0%
          )
          42%, rgba(0 0 0 / 0%) 100%);
  background-repeat: repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.styledTitle {
  font-family: HVDComicSerifPro;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0 0 0 / 60%);
  color: $purple-300;
  display: inline-block;
  margin: 0 1rem;
  
  &:lang(ka) {
    font-family: $kaFont;
  }
 
}

.title {
  font-family: HVDComicSerifPro;
  font-weight: 500;
  margin-bottom: 2rem;
  color: $white;
  font-size: 3.2rem;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 60%);
  width: 100%;
  text-align: center;

  &:lang(ka) {
    font-family: $kaFont;
  }

  @include smallWidth {
    font-size: 1rem !important;
  }

  @include mobile {
    font-size: 1.5rem;
    margin: 1rem 0rem 0rem 0rem;
  }

  @include tablet {
    font-size: 4vw;
  }

  @include smallHeight {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
  margin: 10rem auto 0 ;
  max-width: 75rem;
  height: auto;


  @include tablet {
    margin-top: 8rem;
  }
  @include mobile {
    margin-top: 5rem;
  }
}

.parrot {
  z-index: 1;
  background-image: url('/assets/images/parrot.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 6rem;
  width: 23rem;
  height: 23rem;

  @include mobile {
    display: none;
  }

  @include tablet {
    width: 20rem;
    height: 20rem;
    left: 1rem;
    bottom: 4rem;
  }
}

.chunk {
  color: blue;
}

