@import './imports.scss';

.container {
  background-color: $purple-600;
  background-image: url('/assets/images/background-letters.svg'),
    -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0.15) 0, rgba(
            0,
            0,
            0,
            0
          )
          42%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.styledTitle {
  font-family: HVDComicSerifPro;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  color: $purple-300;
  display: inline-block;
  margin: 0 1rem;
}

.title {
  font-family: HVDComicSerifPro;
  font-weight: 500;
  margin-bottom: 1.7rem;
  color: $white;
  font-size: 3.2rem;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 60%);
  width: 100%;
  text-align: center;

  @include smallWidth {
    font-size: 1rem !important;
  }

  @include mobile {
    font-size: 1.5rem;
    margin: 1rem 1rem 4rem;
  }

  @include tablet {
    font-size: 4vw;
    margin: 1rem;
  }

  @include smallHeight {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
  margin: 10rem auto 0 ;
  max-width: 75rem;
  height: 100%;

  @include tablet {
    margin-top: 6rem;
  }

}

.parrot {
  z-index: 1;
  background-image: url('/assets/images/parrot.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0rem;
  left: 6rem;
  width: 23rem;
  height: 23rem;

  @include mobile {
    display: none;
  }

  @include tablet {
    width: 20rem;
    height: 20rem;
    left: 1rem;
    bottom: 4rem;
  }
}

.chunk {
  color: blue;
}