@import '../../styles/imports.scss';

.ulNav {
  color: $white;

  @include mobile {
    font-size: 2.8vw;
  }
}

.liNav {
  list-style-type: none;
  display: inline;
  margin: 1.3vw;
  cursor: pointer;

  &:lang(ka) {
    font-family: $kaFontTitleBold;
  }

  &:hover {
    @extend .activeMenu;
  }
}

.activeMenu {
  text-decoration: underline 3px;
  text-underline-offset: -22px;
}

.subTitle {
  color: $purple-500;
  padding: 2vw 0 0 0;
}

.certificateImage {
  width: 100%;
}

.imageWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageContainer {
  display: flex;
  background-color: #f7f7f7;
  width: 350px;
  height: 150px;
  border-radius: 20px;
  margin-top: 30px;
  align-items: center;
}

.imagePartner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 260px;
  border-radius: 10px;
}
