@import '@styles/imports.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
}

.differentBG {
  background-color: $yellow-600;
}

.premium {
  margin-bottom: 7rem;
}

.header {
  width: 45%;
  h3 {
    font-size: 1.375rem;
    color: $black-800;
  }
  p {
    color: $grey-700;
  }
}
.rocketParrot {
  position: absolute;
  width: 13rem;
  height: auto;
  right: 40%;
  top: 80%;
}

.button {
  width: 13.75rem;
  padding: 0.75rem 0.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  color: $orange-200;
  border: 0.12rem solid green;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-family: SegoeUI;
}
.premiumButton {
  background-color: $purple-600;
  color: $white;
  font-size: 1.25rem;
}
