@import '@styles/imports';


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    & > a{
        text-decoration: none;
    }
}

.mainPart{
    text-align: center;
    color: $grey-100;

    &:hover{
        color: $grey-800;
    }
    & > p{
        @include mobile {
            font-size: .8rem;
        }
    }
}

.firstTitle{
    color: $grey-800;
}

// Images 
.firstImage,
.secondImage,
.thirdImage,
.fourthImage{
    cursor: pointer;
    transition: .4s;
}

.firstImage{
    background-image: url('/themes/images/v2/bon-initialion.png');
    width: 6.5rem;
    height: 6.5rem;
}
.secondImage{
    background-image: url('/themes/images/v2/bon-registration.png');
    width: 6.5rem;
    height: 6.5rem;
    
    &:hover{
        background-image: url('/themes/images/v2/bon-registration-active.png');
    }
}
.thirdImage{
    background-image: url('/themes/images/v2/bon-bonus.png');
    width: 6.5rem;
    height: 6.5rem;

    &:hover{
        background-image: url('/themes/images/v2/bon-bonus-active.png');
    }
    
}
.fourthImage{
    background-image: url('/themes/images/v2/bon-get-more.png');
    width: 6.5rem;
    height: 6.5rem;
    
    &:hover{
        background-image: url('/themes/images/v2/bon-get-more-active.png');
    }
    
}

// Arrows

.firstArrow,
.secondArrow,
.thirdArrow{
    @include mobile{
        display: none;
    }
}

.firstArrow{
    background-image: url('/themes/images/v2/bon-arr-active.png');
    width: 2.6rem;
    height: 1rem;
    transform: translateY(-1.5rem);
}

.secondArrow{
    background-image: url('/themes/images/v2/bon-arr-top.png');
    width: 2.6rem;
    height: 1rem;
    transform: translateY(-1.5rem);

}
.thirdArrow{
    background-image: url('/themes/images/v2/bon-arr.png');
    width: 2.6rem;
    height: 1rem;
    transform: translateY(-1.5rem);

}




